@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400');

body{
	font-family: 'Josefin Sans', sans-serif;
}

.banner{
	position: relative;
	display: block;
	background-image: url(../img/banner.jpg);
	background-position: center;
	background-position: 50% 20%;
	padding: 78px 0px 78px;
	background-size: cover;
	height:100vh;
}
.login-banner{
	position: relative;
	display: block;
	background-image: url(../img/login-banner.jpg);
	padding: 30px 0px;
	background-size: 124%;
	background-position: 99% 20%;
	padding: 80px 0px 80px;
}
.fill-form{
	float: right;
	background: #fff;
	width:400px;
	height: auto;
	padding: 24px;
	border: 1px dotted #23ccab;
	margin-top: 40px;
	position:relative;
	border-bottom:none;
	font-family:'Open Sans', sans-serif;
}
.fill-form::after{
    content: "";
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 37px 201px 0;
    bottom: -37px;
    height: 0;
    left: -2px;
    position: absolute;
    width: 0;
}
.fill-form h1{
	font-family: 'Merienda One', cursive;
}
.fill-form h1 span{
	color: #e74c3c;
	font-size:1.5em;
}

.fill-form .form-control{
	box-shadow: none;
	border-radius: 4px;
	height: 35px;
}
.fill-form .form-control:focus {
  border-color:#23ccab;
}
.fill-form label{
	font-weight: normal;
}
.fill-form .btn-warning{
	background: #fea910;
	padding: 10px 25px;
	border-radius: 0px;
	margin: 0 auto;
	display:block;
	font-family: 'Merienda One', cursive;
	font-size: 18px;
}
.nav li:nth-last-child(1) {
    background: #fea910;
}
.navbar-fixed-top.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
}
.step2{
	margin: 5px 0px 30px;
}
.step2 .form-control{
	border-radius:20px!important;
}
section{
	padding: 15px 0px;
}
.social {
    float: none;
	display: inline-flex;
}
.social li {
    list-style: none;
    float: left;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    -webkit-line-height: 30px;
    cursor: pointer;
	background: #24ceaa;
}
.social li a {
    color: #fff;
	font-size: 20px;
}
.s_s{
	display: inline-block;
	font-size: 20px;
}
.slog_txt {
    font: 300 32px/44px 'Open Sans', sans-serif;
    color: #31353d;
    text-transform: uppercase;
}
.slog_txt h2{
	font-weight: 400;
	position:relative;
	margin-bottom: 30px;
    padding-bottom: 16px;
}
.slog_txt h2:before {
    content: "";
    width: 250px;
    height: 1px;
    display: inline-block;
    background: #ff5a59;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.slog_txt h2:after {
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    border: 1px solid #ff5a59;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 50%;
    margin-bottom: -6px;
    overflow: hidden;
    background: #ff5a59;
}

.con{
	background-image: url(../img/dots.png);
}
.block_2 {
    padding: 20px 40px;
}

.block_1 {
    padding: 100px 40px 0px;
	background: url(../img/content-bg02.png) left top no-repeat, url(../img/dots.png) right bottom repeat;
	color:#fff!important;
	background-size:cover;
}
.block_1 h2{
	color:#fff!important;
	font: 300 32px/44px 'Open Sans', sans-serif;
	text-transform: uppercase;
}

footer{
	background:#333;
	padding: 30px 0px;
	color: #fff;
}
footer hr{
	border-top:1px solid rgba(238, 238, 238, 0.30196078431372547)!important;
}
.list{
	padding: 0;
	margin: 0;
}
.list li {
    float: none;
    list-style: none;
    padding: 0 10px 0px 0px;
    margin-bottom: 12px;
    margin-right: 10px;
    margin-left: 0px;
    border-bottom: 1px dotted rgba(238, 238, 238, 0.30196078431372547)!important;
    padding-bottom: 10px;
}
.list li:nth-last-child(1) {
    border-bottom: none!important;
}
.list li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease-in;
    letter-spacing: 1px;
}

.list li a:hover {
    color: #fff;
    text-decoration: none;
}
.success {
  position: relative;
  display: block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.col-xs-5-cols,
.col-sm-5-cols,
.col-md-5-cols,
.col-lg-5-cols {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5-cols {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5-cols {
      width: 20%;
      float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5-cols {
      width: 20%;
      float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5-cols {
      width: 20%;
      float: left;
  }
}
.step{
	font-size:8em;
	color: rgba(255, 255, 255, 0.1);
	position:relative;
}
.step span{
	font-size:18px;
	color: #fff;
	position:absolute;
	top:60px;
	line-height:30px;
	left:70px;
	font-weight:bold;
	text-transform:uppercase;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.47);
}

.success:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
	font-weight: 300;
}
.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
}

.ms-options-wrap > button:focus,
.ms-options-wrap > button {
   position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 3px 12px;
    margin-top: 1px;
    color: #aaa;
    outline: none;
    white-space: nowrap;
    height: 34px;
    color: #636363;
	border-radius:20px;
    font-size: 14px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ms-options-wrap > button > span {
    display: inline-block;
}

.ms-options-wrap > button[disabled] {
    background-color: #e5e9ed;
    color: #808080;
    opacity: 0.6;
}

.ms-options-wrap > button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}

.ms-options-wrap > .ms-options {
    position: absolute;
    min-width: 92%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #aaa;
    overflow: auto;
    visibility: hidden;
	height:200px;
}

.ms-options-wrap > .ms-options.ms-active {
    visibility: visible
}

.ms-options-wrap > .ms-options > .ms-search input {
    width: 100%;
    padding: 4px 5px;
    border: none;
    border-bottom: 1px groove;
    outline: none;
}

.ms-options-wrap > .ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-transform: lowercase;
    text-decoration: none;
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
    margin: 4px 5px;
}

.ms-options-wrap > .ms-options > ul,
.ms-options-wrap > .ms-options > ul > li.optgroup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ms-options-wrap > .ms-options > ul li.ms-hidden {
    display: none;
}

.ms-options-wrap > .ms-options > ul > li.optgroup {
    padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > ul > li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 4px;
    margin: 1px 0;
    border: 1px dotted transparent;
}

.ms-options-wrap > .ms-options > ul label.focused,
.ms-options-wrap > .ms-options > ul label:hover {
    background-color: #efefef;
    border-color: #999;
}

.ms-options-wrap > .ms-options > ul li.selected label {
    background-color: #efefef;
    border-color: transparent;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin: 0 5px 0 0;
    position: absolute;
    left: 4px;
    top: 7px;
}

.ms-options-wrap > .ms-options.hide-checkbox > ul input[type="checkbox"] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
.well h4{
	color: #e74c3c;
    font-size: 2.5em;
    font-family: 'Merienda One', cursive;
    line-height: 50px;
}
.circle{
	height: 70px;
    width: 70px;
    display: inline-block;
    background: #ec971f;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    border-radius: 43px;
	color:#fff;
}
.circle1{
	height: 70px;
    width: 70px;
    display: inline-block;
    background-color: #e74c3c;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    border-radius: 43px;
	color:#fff;
}
.circle2{
	height: 70px;
    width: 70px;
    display: inline-block;
    background: #13a687;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    border-radius: 43px;
	color:#fff;
}
.listed{
	padding: 10px;
    line-height: 1px;
    display: -webkit-inline-box;
    color: #f59d2bf0;
    font-size: 15px;
}
.listed1{
	padding: 10px;
    line-height: 1px;
    display: -webkit-inline-box;
    color: #e74c3c;
    font-size: 15px;
}
.listed2{
	padding: 10px;
    line-height: 1px;
    display: -webkit-inline-box;
    color: #13a687;
    font-size: 15px;
}
.list-box{
	border-top-left-radius:33px!important;
	border-bottom-left-radius:33px!important;
}
.forgot-pwd{
	background:rgba(204, 204, 204, 0.2);
	padding:150px 0px;
}
.forgot-pwd .form-control{
	height:45px;
}
.forgot-pwd .btn-warning{
	height:45px;
	font-size:18px;
	text-transform:uppercase;
}
.upload_photo {
    position: relative;
    display: block;
    width: 200px;
    height: 200px !important;
    margin: auto;
}
.upload_photo .dropdown{
    position: absolute;
    z-index: 9;
    top: -9px;
    right: -9px;
}
.upload_photo .btn-warning{
	border-radius:50%;
	padding: 8px 12px;
}
.upload-profile{
	border: 1px dotted #23ccab;
	padding:20px 0px;
	margin: 1% 0px 12px 0px;
	background:#eee;
}
.outer-nav{
	padding:15px 0px
}
.upload-profile .btn-danger{ height: 60px;
    width: 200px;
    font-size: 20px;
}
.step-header{
	background:#000!important;
}
.inner-header{
	background:#000!important;
	min-height:50px!important;
}
.inner-header .navbar-brand{
	height:50px!important;
	padding:15px 15px;
}
@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

.seven-cols h4{font-size: 14px;
    color: #333; margin-bottom:0px; text-transform:uppercase;}
.seven-cols h4 span{color:#e74c3c;}	
	
.inner-header .nav li:nth-last-child(1) {
    background: transparent!important;
}
.inner-header .nav li:nth-last-child(1) a:hover {
    background: transparent!important;
	color:#fff;
}
.inner-header .navbar-nav > li > a {
    padding: 15px 15px!important;
    border-radius: 4px;
    font-size: 16px;
}

.inner-header .dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:200px;
}
.inner-header .dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.inner-header .dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
.sidebar{
	border-right: 1px solid #ccc;
}
.sidebar a{
	padding:20px 15px;
	border:none;
	font-size:16px;
	color:#13a687!important;
}
.sidebar a span{
	color:#333;
	padding-left:10px;
}
.personal-detail{
	position:relative;
	display:block;
}
.personal-detail-button{
	width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    clear: both;
    position: fixed;
    z-index: 9;
}
.personal-detail-button1{
	border: 1px solid #e7e8e8;
    background: #f6f9f8;
	padding: 15px;
}
.personal-detail-button1 .btn{
	border-radius: 40px;
    padding: 12px;
    font-size: 18px;
	text-transform:uppercase;
}
.personal-detail h4{
	color:#e74c3c;
}
.personal-detail h4 span{
	color:#333;
	font-size:14px;
}
.personal-detail h6{
	color:#333;
	font-size:16px;
	text-transform:uppercase;
	color:#f59d2bf0;
}
.personal-detail hr{
	border-top: 1px solid #eee;
	margin:5px 0px 10px 0px;
}
.step-header .navbar-brand{
	padding:15px;
}
.fa.pull-right {
      margin-left: -1.7em!important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        -webkit-appearance: menulist-button !important;
        line-height:29px !important;
		text-indent: 0px;
    }
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 997;
  position: fixed;
  left: 249px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-right: 1px solid #ccc;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
  overflow-x:hidden;
}

#page-content-wrapper {
	padding: 0px;
    width: 100%;
    position: fixed;
    height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	top: 0px;
}

#wrapper.toggled #page-content-wrapper {
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 83px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-default .btn-primary{
	margin: 10px 15px;
    font-size: 20px;
    padding: 0px 8px;
    line-height: 30px;
}

/*.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #666;
}
.sidebar-nav li a:active {
  background:#ccc;
  color: #fff;
}
.navbar-brand i{
	padding: 0px 0px;
}
.sidebar-nav i{
	float:right;
	padding: 11px 15px;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
  color: #fff;
      background:#13a687;
}
.sidebar-nav li ul{
	padding:0;
	margin:0;
}
.sidebar-nav li ul li{
	list-style-type:none;
}
.sidebar-nav li ul li a:active, .sidebar-nav li ul li a:focus {
  text-decoration: none;
  color: #000;
  background: #fff;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}*/

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 0px;
    position: relative;
	top: 0px;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.sidebar-nav .btn-primary{
	color:#fff;
}
.sidebar-nav .btn-primary:focus{
	color:#fff;
	background-color: #f57c20;
    border-color: #f57c20;
}
.sidebar-nav .collapse li a{
	background:rgba(19, 166, 135, 0.6313725490196078);
	color:#fff;
}
.sidebar-nav .collapse li a:active, .sidebar-nav .collapse li a:focus {
	background: #fff;
	color:#666;
}
.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }
.sidebar-nav .panel-group .panel+.panel {
  margin-top: 0;
  border-top: 0;
}

.sidebar-nav .panel-group .panel {
  border-radius: 0;
}

.sidebar-nav .panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-nav .panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.sidebar-nav .panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.sidebar-nav .panel-default>.panel-heading a[aria-expanded="true"] {
  background-color:#13a687;
  color:#fff;
}

.sidebar-nav .panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\f107";
}

.sidebar-nav .panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\f105";
} 
.sidebar-nav .nav li:nth-last-child(1) {
    background: none;
} 
@media only screen and (min-device-width:320px) and (max-device-width:480px){

.personal-detail-button1 .btn {
    font-size: 12px;
}
#themeSlider{
	margin-top: 60px;
}
.personal-detail .text-right{
	text-align:left;
}
.carousel-indicators {
    bottom: -11px!important;
}
.block_2 {
    padding: 15px 0px;
}
.banner{
	background-image:none;
	padding:0px;
	height:auto;
	margin-bottom:20px;
}

.social-h {
	margin:0;
	padding:0;
}
.social-h li {
    list-style: none;
    float: left;
    margin-right: 15px;
	line-height:0px;
}
.social-h li a {
    color: #fff;
}
.fill-form {
    width: 100%;
    height: auto;
    padding: 0px;
    border:none;
    margin-top:0px;
}
.fill-form h1 {
    font-size:28px;
}
.mobile{
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}
.mobile h1{
	font: 300 24px/25px 'Open Sans', sans-serif;
    color: #31353d;
}
.mobile h2{
	font: 400 18px/25px 'Open Sans', sans-serif;
    color: #31353d;
}
.mobile .btn-group{
	display:block;
	margin:20px 0px;
}
.mobile .btn-group .btn{
	width:50%;
	height:45px;
	font-size:18px;
}
.mobile .btn-danger{
	background:#ff5a59;
	border-color:#ff5a59;
}
.mobile .btn-warning {
    background: #fea910;
    padding: 10px 25px;
    border-radius: 0px;
    margin: 0 auto;
    display: block;
	width:90%;
	border-radius:4px;
    font-size: 24px;
	margin-top:15px;
}
.list li:nth-last-child(1) {
    border-bottom: 1px dotted rgba(238, 238, 238, 0.30196078431372547)!important;
}
.fill-form::after {
    display:none;
}
.fill-form .btn-warning {
    padding: 10px 25px;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
	width:100%;
	font-family:'Open Sans', sans-serif;
    font-size: 18px;
}
.fill-form .form-control {
    box-shadow: none;
    border-radius: 4px;
    height: 40px;
	border: 1px solid #999;
}
.mobile-header .btn-danger {
    background: #ff5a59;
    border-color: #ff5a59;
	font-family:'Open Sans', sans-serif;
    font-size: 18px;
	border-radius: 4px;
	margin-top: -5px;
}
.mobile-header{
	background:#000; padding:15px; width:100%;
}
select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 278px;
  border-color: #444 #333 #333 #444!important;
}
}