<template>
    <div class="tab-content">

        <ul class="nav nav-tabs">
            <li class=""><a href="#" @click="handleActivity(this.pageNumber, this.perPage)" >Viewed Me </a></li>
            <li class=""><a href="#" >My Favorites</a></li>
            <li class=""><a href="" >Favorited Me</a></li>

            <!--<li class=""><a href="#" @click="fetchViewedMe()">Viewed Me</a></li>-->
            <!--<li class=""><a href="#" @click="fetchMyFav()">My Favorites</a></li>-->
            <!--<li class=""><a href="" @click="fetchFavMe()">Favorited Me</a></li>-->
        </ul>
        <!--Viewed Me-->
        <div class="tab-pane tab-scrollable fade in active" v-if="tabFlag.has_records">
            <div class="row activity-list"  id="view-id" v-for="(profile,index) in resultSet" v-bind:key="index">
                <div class="col-sm-2 col-xs-4 can_panel">
                    <div class="un-lock" v-if="profile.privatePhotoPermissionCnt"><img :src="unlockImg"></div>
                    <a :href="profile.profileLink"><img :src="profile.profilePic"  class="img-responsive img-thumbnail" style="width:100%;"></a>
                </div>
                <div class="col-sm-6 col-xs-8 can_panel">
                    <h4>{{ profile.firstName }} <span class="pull-right hidden-lg hidden-sm hidden-md online"><i class="fa fa-circle" aria-hidden="true"></i></span><span style="color: red; font-size: x-small; font-weight: bold;font-style: italic">{{profile.updatedate_human}}</span></h4>
                    <p v-html="profile.about"></p>

                    <a v-if="profile.hasConversation == 1" :href="profile.viewConversationLink" class="s_msg"><i class="fa fa-eye" aria-hidden="true"></i> View Message</a>

                    <span v-if="profile.hasConversation == 0" :id="`span-show-view-msg-${profile.userId}`" style="display:none"><a :href="profile.viewConversationLink" class="s_msg" ><i class="fa fa-eye" aria-hidden="true"></i> View Message</a></span>
                    <span v-if="profile.hasConversation == 0" :id="`span-show-send-msg-${profile.userId}`">
                                        <a href="javascript:void(0)" @click="showSendMessagePopUp(profile.userId)" class="s_msg cls-show-snd-msg"><i class="fa fa-envelope"></i> Send Message</a>
                        <!-- Message Popup -->
                                        <div class="popup-box chat-popup" :id="`qnimate-${profile.userId}`">
                                            <div class="popup-head">
                                                <div class="popup-head-left pull-left">New Message :</div>
                                                <div class="popup-head-right pull-right">
                                                    <button data-widget="remove" @click="closeMsgPopUp(profile.userId)" class="chat-header-button pull-right close-msg-popup" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <div class="popup-messages">
                                                <div class="row" >

                                                    <div class="col-sm-12">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <a :href="profile.profileLink" target="_blank">
                                                                    <img style="width:60px" :src="profile.profilePic" class="media-object img-thumbnail" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h4 class="media-heading">{{profile.firstName}}</h4>
                                                                <p>{{profile.age}}, {{profile.city_name}}, {{profile.state_name}}, {{profile.country_name}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <span :id="`returnSpan${profile.userId}`" style="color: red;"></span>
                                                        <form action="javascript:void(0);" :id="`msg-frm-${profile.userId}`" class="needs-validation" role="form" name="messageFrm" method="post">
                                                            <div class="form-group">
                                                                <textarea class="form-control sendMessageInput" :id="`sendMessageInput${profile.userId}`" name="msg_description"  style="box-shadow:none;" :data-profileid="`${profile.profileId}`" :data-id="`${profile.userId}`" placeholder="Message" maxlength="140" rows="3" required=""></textarea>
                                                            </div>
                                                            <input type="hidden" name="receiver_id" :value="`${profile.userId}`" />
                                                            <input type="hidden" name="pageType" value="inbox">
                                                            <input type="submit" @click.prevent="sendMessage(profile.profileId, profile.userId)" :id="`sendMessage${profile.userId}`" :data-profileid="`${profile.profileId}`" :data-id="`${profile.userId}`" class="btn btn-warning pull-right sendMessage" value="Send">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        <!-- Message Popup -->
                                    </span>

                    <p class="in-line"><a href="javascript:;" class="remove deleteViewedMe" :data-profileid="`${profile.encryptId}`" :data-viewid="`${profile.viewId}`">Remove</a></p>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Age :</td>
                            <td>{{ profile.age }} Years</td>
                        </tr>
                        <tr>
                            <td>Religion :</td>
                            <td>{{ profile.religion }}</td>
                        </tr>

                        <tr v-if="profile.sect_show=='Y'">
                            <td>Sect :</td>
                            <td>{{ profile.community }}</td>
                        </tr>

                        <tr>
                            <td>Location :</td>
                            <td>{{ profile.city_name }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12" v-if="totalPages > 1">
                <paginate
                        :page-count="totalPages"
                        :page-range="3"
                        :margin-pages="2"
                        :click-handler="handlePaginationActivity"
                        :prev-text="'&lt;&lt;'"
                        :next-text="'&gt;&gt;'"
                        :container-class="'pagination'"
                        :page-class="'page-item'">
                </paginate>
            </div>
        </div>

        <div class="tab-pane tab-scrollable fade in active" v-else>
            <div  class="col-sm-12 panel-body">
                <div class="alert alert-info" role="alert">
                    No user found.
                </div>
            </div>
        </div>
        <!--End Viewed Me-->
    </div>

</template>

<script>
    import Vuex from 'vuex'
    import 'vue-slider-component/theme/default.css'

    export default {
        props: ['result-data','paginate','tabf'],

        computed: {
            unlockImg() {
                return window.App.unlock_img;
            }
        },
        mounted() {
            this.fetchViewedMe(this.pageNumber, this.perPage)
        },

        data() {
            return {
                resultSet: [],
                pagination: [],
                pageNumber: 1,
                totalPages: 0,
                perPage: 2,
                tabFlag: [],
                activity: {

                },
                user_id: '',

                edit: false,
            }
        },

        created() {
            this.resultSet=this.resultData;
            this.tabFlag=this.tabf;
            this.pagination.perPage = this.paginate.per_page;
        },

        methods: {
            sendMessage(profileId, id) {
                jQuery("#returnSpan" + id).html('');
                jQuery("#returnSpanconnect" + id).html('');
                var message = jQuery("#sendMessageInput"+id).val();
                if(message != ""){
                    $("#sendMessageInput"+id).prop('disabled', true);

                    var url = route('send-message-view');
                    var data = [];
                    data['profileId'] = profileId;
                    data['message'] = message;

                    var _token = $('input[name="_token"]').val();
                    var form = new FormData();
                    form.append('_token', _token);
                    for(var k in data){
                        if (data.hasOwnProperty(k)) {
                            form.append(k, data[k]);
                        }
                    }
                    jQuery.ajax({
                        url: url,
                        data: form,
                        method: "post",
                        processData: false,
                        contentType: false
                    }).done(function(response) {
                        $("#sendMessageInput"+id).prop('disabled', false);
                        jQuery("#sendMessageInput"+id).val('');
                        if(response.status == 0) {
                            jQuery("#returnSpan" + id).html(response.message);
                        } else {
                            $('#span-show-view-msg-'+id).css('display','block');
                            $('#span-show-send-msg-'+id).remove();
                            $(".close").click();
                            $('#qnimate-'+id).removeClass('popup-box-on');
                        }
                    });
                } else {
                    jQuery("#returnSpan" + id).html('Message is required');
                    jQuery("#returnSpanconnect" + id).html('Message is required');
                }
            },

            handleActivity() {
                this.fetchViewedMe(this.pageNumber, this.perPage)
            },

            fetchViewedMe: function(pageNum, perPage) {

              //  page_url = '/userActivity',
                axios
                    .get('/userActivity', {
                        params: {
                            "json": '',
                            "page": pageNum,
                            "per_page": perPage
                        }
                    })
                    .then(response => (
                            this.resultSet = response.data.results,
                                this.pagination = response.data.pagination,
                                this.totalPages = response.data.pagination.total_pages,
                                this.perPage = response.data.pagination.per_page,
                                this.tabFlag=response.data.tab
                        )
                    )
                    .catch(error => console.log(error));
            },
            handlePaginationActivity(pageNum) {
                this.pageNumber = pageNum
                this.fetchViewedMe(this.pageNumber, this.perPage)
            },
            closeMsgPopUp(uid) {
                $('#qnimate-'+uid).removeClass('popup-box-on');
            },
            showSendMessagePopUp(uid) {
                $('.chat-popup').removeClass('popup-box-on');
                $('#qnimate-'+uid).addClass('popup-box-on');
            },

        }
    };
</script>