<template>
    <div class="row">    
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 search-panel hidden-xs">
            <hr>
            <div class="left-tab-heading">
                <h4>New Search</h4>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel">
                    <div class="panel-body">
                        <form method="get" id="newSearchProfileKw" action="/search" novalidate="novalidate">
                            <div class="input-group stylish-input-group">
                                <input type="text" name="keywordstop" v-model="txtSearch" class="form-control" placeholder="Enter Keywords">
                                <span class="input-group-btn">
                                    <button @click.prevent="handleSearch('top')" class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            <a href="/search" @click.prevent="resetSearch()" class="btn reset-result pull-right">Reset all</a>
                        </form>
                    </div>
                    <!--Location-->
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse0" aria-expanded="true">Location<span class="fa pull-right fa-minus"></span></a>
                            </h4>
                        </div>

                        <div id="collapse0" class="panel-collapse collapse show in" aria-expanded="true">
                            <div class="panel-body">
                                <div class="check">
                                    <p>
                                        Current Country : {{countyName}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Location-->
                </div>
                
                <!--Country-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse17" aria-expanded="true" class="">Country<span class="fa pull-right fa-minus"></span></a>
                        </h4>
                    </div>
                    <div id="collapse17" class="panel-collapse collapse show in" aria-expanded="true" style="">
                        <div class="panel-body ne-search-option">
                            <chosen-select-country no-filter="1" v-model="countryCode" name="country_code[]" data-placeholder="Select" class="chosen-select form-control dynamics-chosen" multiple tabindex="5" id="country" dependent="state" >
                                <option :value="doesntMatter">Doesn't matter</option>
                                <option v-for="(country, index) in countries" 
                                v-bind:key="index"
                                v-bind:value="country.id">{{country.name}}</option>
                            </chosen-select-country>
                            <i class='chosen_loader'>loading...</i>
                        </div>
                    </div>
                </div>
                <!--Country-->
                <!--State-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse18" aria-expanded="true" class="">State<span class="fa pull-right fa-minus"></span></a>
                        </h4>
                    </div>
                    <div id="collapse18" class="panel-collapse collapse show in" aria-expanded="true" style="">
                        <div class="panel-body ne-search-option">
                            <chosen-select-state v-model="stateId" no-filter="1" name="state_id[]"  data-placeholder="Select" style="display:none" class="chosen-select form-control dynamics-chosen" multiple id="state" dependent="city" tabindex="5">
                            </chosen-select-state>
                            <i class='chosen_loader'>loading...</i>
                        </div>
                    </div>
                </div>
                <!--State-->
                <!--City-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse19" aria-expanded="true" class="">City<span class="fa pull-right fa-minus"></span></a>
                        </h4>
                    </div>
                    <div id="collapse19" class="panel-collapse collapse show in" aria-expanded="true" style="">
                        <div class="panel-body ne-search-option">
                            <select no-filter="1" name="city_id[]" data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple id="city" tabindex="-1">
                            </select>
                            <i class='chosen_loader'>loading...</i>
                        </div>
                    </div>
                </div>
                <!--City-->
                <!--Religion-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse20" aria-expanded="false" class="">Religion<span class="fa pull-right fa-plus"></span></a>
                        </h4>
                    </div>
                    <div id="collapse20" class="panel-collapse collapse " aria-expanded="false" style="">
                        <div class="panel-body ne-search-option">
                            <select name="religion" id="religion" class="form-control">
                                <option v-for="(item, key) in religions[0]" 
                                :key="key" 
                                :value="item">{{key | capitalize}}</option>
                            </select>
                            <i class='chosen_loader'>loading...</i>
                        </div>
                    </div>
                </div>
                <!--Religion-->
                <!--Sect-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse21" aria-expanded="" class="">Sect<span class="fa pull-right fa-plus"></span></a>
                        </h4>
                    </div>
                    <div id="collapse21" class="panel-collapse collapse " aria-expanded="false" style="">
                        <div class="panel-body ne-search-option">
                            <div class="ne-search-option">
                                <select name="sect[]" id="sect_id" data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple tabindex="-1">
                                    <option :value="doesntMatter">Doesn't matter</option>
                                    <option v-for="(sect, index) in sect" 
                                    v-bind:key="index" 
                                    v-bind:value="sect.id">{{sect.name}}</option>
                                </select>
                                <i class='chosen_loader'>loading...</i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Sect-->
                <!--Language-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse22" aria-expanded="false" class="">Language<span class="fa pull-right fa-plus"></span></a>
                        </h4>
                    </div>
                    <div id="collapse22" class="panel-collapse collapse " aria-expanded="false" style="">
                        <div class="panel-body ne-search-option">
                            <select data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple tabindex="-1" name="language[]" id="language_id">
                                <option :value="doesntMatter">Doesn't matter</option>
                                <option v-for="(language, index) in languages" 
                                    v-bind:key="index" 
                                    v-bind:value="language.id">{{language.language}}</option>
                            </select>
                            <i class='chosen_loader'>loading...</i>
                        </div>
                    </div>
                </div>
                <!--Language-->
                <!--Education-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse23" aria-expanded="false" class="">Education<span class="fa pull-right fa-plus"></span></a>
                        </h4>
                    </div>
                    <div id="collapse23" class="panel-collapse collapse " aria-expanded="false" style="">
                        <div class="panel-body ne-search-option">
                            <select data-placeholder="Select" class="chosen-select form-control" tabindex="-1" multiple name="education_id[]" id="education_id" style="display: none;">
                                <option :value="doesntMatter">Doesn't matter</option>
                                <option v-for="(education, index) in educations" 
                                    v-bind:key="index" 
                                    v-bind:value="education.id">{{education.education}}</option>
                            </select>
                            <i class='chosen_loader'>loading...</i>
                        </div>
                    </div>
                </div>
                <!--Education-->
                <!--Body Type-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse24" aria-expanded="false" class="">Body Type<span class="fa pull-right fa-plus"></span></a>
                        </h4>
                    </div>
                    <div id="collapse24" class="panel-collapse collapse " aria-expanded="false" style="">
                        <div class="panel-body ne-search-option">
                            <select data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple tabindex="-1" name="body_type[]" id="body_type">
                                <option :value="doesntMatter">Doesn't matter</option>
                                <option v-for="(item, key) in bodyTypes[0]" 
                                :key="key" 
                                :value="item">{{key | capitalize}}</option>
                            </select>
                            <i class='chosen_loader'>loading...</i>      
                        </div>
                    </div>
                </div>
                <!--Body Type-->
                <!--Age-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse25">Age<span class="fa fa-minus pull-right"></span></a>
                        </h4>
                    </div>
                    <div id="collapse25" class="panel-collapse collapse show in">
                        <div class="panel-body">
                            <p>
                                <input type="text" name="ageRange" id="age" :value="sliderAgeRange" readonly="" class="input-filter">
                            </p>
                            <vue-slider :min="ageStart" :max="ageEnd" v-model="ageSlider" @change="changeAgeValue"></vue-slider>
                        </div>
                    </div>
                </div>
                <!--Age-->
                <!--Height-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse"  href="#collapse26">Height<span class="fa fa-minus pull-right"></span></a>
                        </h4>
                    </div>
                    <div id="collapse26" class="panel-collapse collapse show in">
                        <div class="panel-body">
                            <p>
                                <input type="text" name="heightRange" id="height" :value="sliderHeightRange" readonly="" class="input-filter">
                            </p>
                            <vue-slider :min="heightStart" :max="heightEnd" v-model="heightSlider" @change="changeHeightValue"></vue-slider>
                        </div>
                    </div>
                </div>
                <!--Height-->
                <!--Food Preference-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse27" aria-expanded="false" class="">Food Preference<span class="fa pull-right fa-plus"></span></a>
                        </h4>
                    </div>
                    <div id="collapse27" class="panel-collapse collapse " aria-expanded="false" style="">
                        <div class="panel-body ne-search-option">
                            <select name="food[]" id="food" data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple="" tabindex="-1"><option :value="doesntMatter">Doesn't matter</option>
                                <option v-for="(item, key) in foods[0]" 
                                :key="key" 
                                :value="key">{{item}}</option>
                            </select>
                            <i class='chosen_loader'>loading...</i>
                        </div>
                    </div>
                </div>
                <!--Food Preference-->
                <!--Smoking-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse28" aria-expanded="false" class="">Smoking<span class="fa pull-right fa-plus"></span></a>
                        </h4>
                    </div>
                    <div id="collapse28" class="panel-collapse collapse " aria-expanded="false" style="">
                        <div class="panel-body ne-search-option">
                            <select name="smoke[]" id="smoke" data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple="" tabindex="-1">
                                <option :value="doesntMatter">Doesn't matter</option>
                                <option v-for="(item, key) in smokes[0]" 
                                :key="key" 
                                :value="key">{{item}}</option>
                            </select>
                            <i class='chosen_loader'>loading...</i>
                        </div>
                    </div>
                </div>
                <!--Smoking-->
                <!--Driking-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse29" aria-expanded="false" class="">Driking<span class="fa pull-right fa-plus"></span></a>
                        </h4>
                    </div>
                    <div id="collapse29" class="panel-collapse collapse " aria-expanded="false" style="">
                        <div class="panel-body ne-search-option">
                            <select name="drink[]" id="drink" data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple="" tabindex="-1">
                                <option :value="doesntMatter">Doesn't matter</option>
                                <option v-for="(item, key) in drinks[0]" 
                                :key="key" 
                                :value="key">{{item}}</option>
                            </select>
                            <i class='chosen_loader'>loading...</i>
                        </div>
                    </div>
                </div>
                <!--Driking-->
                <!--Marital Status-->
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse30" aria-expanded="false" class="">Marital Status<span class="fa pull-right fa-plus"></span></a>
                        </h4>
                    </div>
                    <div id="collapse30" class="panel-collapse collapse " aria-expanded="false" style="">
                        <div class="panel-body ne-search-option">
                            <select name="marital_status[]" id="marital-status" data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple="" tabindex="-1">
                                <option :value="doesntMatter">Doesn't matter</option>
                                <option v-for="(item, key) in maritalStatuses[0]" 
                                :key="key" 
                                :value="key">{{item}}</option>
                            </select>
                            <i class='chosen_loader'>loading...</i>
                        </div>
                    </div>
                </div>
                <!--Marital Status-->
                <div class="panel">
                    <button style="button" @click.prevent="handleSearch('middle')" class="btn btn-warning">Search</button>
                    <a href="/search" @click.prevent="resetSearch()" class="btn reset-result pull-right">Reset all</a>
                </div>
                
                
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse31">Search Text<span class="fa fa-minus pull-right"></span></a>
                        </h4>
                    </div>
                    <div id="collapse31" class="panel-collapse collapse show in">
                        <div class="panel-body">
                            <div class="input-group stylish-input-group">
                                <input type="text" name="keywordsdown" id="keywordsdown" v-model="txtSearch" class="form-control" placeholder="Enter Keywords">
                                <span class="input-group-btn">
                                    <button @click="handleSearch('bottom')" class="btn btn-success" id="bottom-keyword-sbmt" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 search_profile">
            <div class="row">
                <div class="filter-fixed">
                    <div class="col-sm-12 hidden-xs">
                        <hr>
                    </div>

                    <div class="col-xs-2 hidden-sm hidden-md hidden-lg text-center">
                        <a data-toggle="modal" data-target="#mobile-search-modal" style="color:#eea236;font-size:24px;margin-top: -8px;display: block;" class=" filter"><i class="fa fa-filter" aria-hidden="true"></i></a>
                        <!-- Modal -->
                    </div>

                    <div class="col-sm-8 col-xs-4 padding-right" v-if="totalPages > 0">

                            About {{pagination.total}} Results...
                            
                    </div>
                    <div class="col-sm-2 col-xs-3 padding-right" v-if="totalPages > 0">
                        <div class="dropdown pull-right">
                            <a class="dropdown-toggle sort" data-toggle="dropdown" aria-expanded="false">Sort By
                                <span class="fa fa-sort"></span></a>
                            <ul class="dropdown-menu">
                                <li :style="bgColChOrLt"><a @click="changeOrderBy('latest')" href="javascript:void(0);">New Users</a></li>
                                <li :style="bgColChOrOn"><a @click="changeOrderBy('online')" href="javascript:void(0);">Online Users</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-3 padding-right" v-if="totalPages > 0">
                        <div class="dropdown pull-right">
                            <a class="dropdown-toggle sort" href="#" data-toggle="dropdown" aria-expanded="false">Per Page
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu text-right">
                                <li :style="bgColCPPTen"><a @click="changePerPage(10)" href="javascript:void(0);">10 Per Page</a></li>
                                <li :style="bgColCPPTwenty"><a @click="changePerPage(20)" href="javascript:void(0);">20 Per Page</a></li>
                                <li :style="bgColCPPThirty"><a @click="changePerPage(30)" href="javascript:void(0);">30 Per Page</a></li>
                                <li :style="bgColCPPForty"><a @click="changePerPage(40)" href="javascript:void(0);">40 Per Page</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Mobile Search -->
                <div id="mobile-search-modal" class="modal fade" role="dialog">
                    <div class="modal-dialog" style="margin:0px;">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="left-tab-heading">
                                    <h4>New Search</h4>
                                </div>

                                <div class="panel-group" id="accordion-mobile">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="input-group stylish-input-group">
                                                <input type="text" name="keywordstop-mob" v-model="txtSearch" class="form-control"  placeholder="Enter Keywords" >
                                                <span class="input-group-btn">
                                                    <button @click.prevent="handleSearch('top')" class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                            <a href="/search" @click.prevent="resetSearch()" class="btn reset-result pull-right">Reset all</a>
                                        </div>
                                        <!--Location-->
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse00">Location<span class="fa fa-minus pull-right"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse00" class="panel-collapse collapse show in">
                                            <div class="panel-body">
                                                <div class="check">
                                                    <p>
                                                        Current Country : {{countyName}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Location-->
                                    </div>
                                    
                                    <!-- Country  -->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" aria-expanded="true"  href="#collapse170">Country<span class="fa fa-minus pull-right"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse170" class="panel-collapse collapse show in" aria-expanded="true">
                                            <div class="panel-body ne-search-option">
                                                <chosen-select-country no-filter="1" v-model="countryCode" name="country_code_mob[]" data-placeholder="Select" class="chosen-select form-control dynamics-chosen" multiple tabindex="5" id="country-mob" dependent="state-mob">
                                                    <option :value="doesntMatter">Doesn't matter</option>
                                                    <option v-for="(country, index) in countries" 
                                                    v-bind:key="index"
                                                    v-bind:value="country.id">{{country.name}}</option>
                                                </chosen-select-country>
                                                <i class='chosen_loader'>loading...</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Country -->

                                    <!-- State -->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" aria-expanded="true" href="#collapse180">State<span class="fa fa-minus pull-right"></span></a>
                                            </h4>
                                        </div>
                                        
                                        <div id="collapse180" class="panel-collapse collapse show in" aria-expanded="true">
                                            <div class="panel-body ne-search-option">
                                                <chosen-select-state v-model="stateId" no-filter="1" name="state_id_mob[]"  data-placeholder="Select" style="display:none" class="chosen-select form-control dynamics-chosen" multiple id="state-mob" dependent="city-mob" tabindex="5">
                                                </chosen-select-state>
                                                <i class='chosen_loader'>loading...</i>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- City  -->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" aria-expanded="true" href="#collapse190">City<span class="fa fa-minus pull-right"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse190" class="panel-collapse collapse show in" aria-expanded="true">
                                            <div class="panel-body ne-search-option">
                                                <select no-filter="1" name="city_id_mob[]" data-placeholder="Select" style="display:none" class="chosen-select form-control" multiple id="city-mob" tabindex="5">
                                                </select>
                                                <i class='chosen_loader'>loading...</i>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Religion-->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapsemrel" aria-expanded="false">Religion<span class="fa pull-right fa-plus"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapsemrel" class="panel-collapse collapse " aria-expanded="false">
                                            <div class="panel-body">
                                                <select name="religion_mob" id="religion-mob" class="form-control">
                                                    <option v-for="(item, key) in religions[0]" 
                                                    :key="key" 
                                                    :value="item">{{key | capitalize}}</option>
                                                </select>
                                                <i class='chosen_loader'>loading...</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Religion-->

                                    <!-- Sect -->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse150" aria-expanded="false" class="">Sect<span class="fa pull-right fa-plus"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse150" class="panel-collapse collapse " aria-expanded="false">
                                            <div class="panel-body ne-search-option">
                                                <select name="sect_mob[]" id="sect_id_mob" data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple tabindex="-1">
                                                    <option :value="doesntMatter">Doesn't matter</option>
                                                    <option v-for="(sect, index) in sect" 
                                                    v-bind:key="index" 
                                                    v-bind:value="sect.id">{{sect.name}}</option>
                                                </select>
                                                <i class='chosen_loader'>loading...</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Community-->

                                    <!--Language-->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse1130" aria-expanded="false" class="">Language<span class="fa pull-right fa-plus"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse1130" class="panel-collapse collapse " aria-expanded="false">
                                            <div class="panel-body ne-search-option">
                                                <select data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple tabindex="-1" name="language_mob[]" id="language_id_mob">
                                                    <option :value="doesntMatter">Doesn't matter</option>
                                                    <option v-for="(language, index) in languages" 
                                                        v-bind:key="index" 
                                                        v-bind:value="language.id">{{language.language}}</option>
                                                </select>
                                                <i class='chosen_loader'>loading...</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Language-->

                                    <!--Education-->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse"  href="#collapse1110" aria-expanded="false" class="">Education<span class="fa pull-right fa-plus"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse1110" class="panel-collapse collapse " aria-expanded="false">
                                            <div class="panel-body">
                                                <select data-placeholder="Select" class="chosen-select form-control" tabindex="-1" multiple name="education_id_mob[]" id="education_id_mob" style="display: none;">
                                                    <option :value="doesntMatter">Doesn't matter</option>
                                                    <option v-for="(education, index) in educations" 
                                                        v-bind:key="index" 
                                                        v-bind:value="education.id">{{education.education}}</option>
                                                </select>
                                                <i class='chosen_loader'>loading...</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Education-->

                                    <!--Body Type -->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse"  href="#collapse1140" aria-expanded="false" class="">Body Type<span class="fa pull-right fa-plus"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse1140" class="panel-collapse collapse " aria-expanded="false">
                                            <div class="panel-body">
                                                <select data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple tabindex="-1" name="body_type_mob[]" id="body_type_mob">
                                                    <option :value="doesntMatter">Doesn't matter</option>
                                                    <option v-for="(item, key) in bodyTypes[0]" 
                                                    :key="key" 
                                                    :value="item">{{key | capitalize}}</option>
                                                </select>
                                                <i class='chosen_loader'>loading...</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Body Type -->

                                    <!--Age-->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapse1150">Age<span class="fa fa-minus pull-right"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse1150" class="panel-collapse collapse show in">
                                            <div class="panel-body">
                                                <p>
                                                    <input type="text" name="ageRangemob" id="age-mob" :value="sliderAgeRange" readonly="" class="input-filter">
                                                </p>
                                                <vue-slider :min="ageStart" :max="ageEnd" v-model="ageSlider" @change="changeAgeValue"></vue-slider>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Age-->

                                    <!--Height-->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse"  href="#collapse1160">Height<span class="fa fa-minus pull-right"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse1160" class="panel-collapse collapse show in">
                                            <div class="panel-body">
                                                <p>
                                                    <input type="text" name="heightRangeMob" id="height-mob" :value="sliderHeightRange" readonly="" class="input-filter">
                                                </p>
                                                <vue-slider :min="heightStart" :max="heightEnd" v-model="heightSlider" @change="changeHeightValue"></vue-slider>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Height-->

                                    <!--Food Prefrence-->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse"  href="#collapse290" aria-expanded="false">Food Preference<span class="fa pull-right fa-plus"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse290" class="panel-collapse collapse " aria-expanded="false">
                                            <div class="panel-body">
                                                <select name="food_mob[]" id="food-mob" data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple="" tabindex="-1"><option :value="doesntMatter">Doesn't matter</option>
                                                    <option v-for="(item, key) in foods[0]" 
                                                    :key="key" 
                                                    :value="key">{{item}}</option>
                                                </select>
                                                <i class='chosen_loader'>loading...</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Food Prefrence-->

                                    <!--Smoking-->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse"  href="#collapse1190" aria-expanded="false" class="">Smoking<span class="fa pull-right fa-plus"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse1190" class="panel-collapse collapse " aria-expanded="false">
                                            <div class="panel-body">
                                                <select name="smoke_mob[]" id="smoke-mob" data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple="" tabindex="-1">
                                                    <option :value="doesntMatter">Doesn't matter</option>
                                                    <option v-for="(item, key) in smokes[0]" 
                                                    :key="key" 
                                                    :value="key">{{item}}</option>
                                                </select>
                                                <i class='chosen_loader'>loading...</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Smoking-->

                                    <!--Drinking-->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse"  href="#collapse140" aria-expanded="false" class="">Driking<span class="fa pull-right fa-plus"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse140" class="panel-collapse collapse " aria-expanded="false">
                                            <div class="panel-body">
                                                <select name="drink_mob[]" id="drink-mob" data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple="" tabindex="-1">
                                                    <option :value="doesntMatter">Doesn't matter</option>
                                                    <option v-for="(item, key) in drinks[0]" 
                                                    :key="key" 
                                                    :value="key">{{item}}</option>
                                                </select>
                                                <i class='chosen_loader'>loading...</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Drinking-->

                                    <!--Marital Status-->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse"  href="#collapse100" aria-expanded="false" class="">Marital Status<span class="fa pull-right fa-plus"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse100" class="panel-collapse collapse " aria-expanded="false">
                                            <div class="panel-body">
                                                <select name="marital_status_mob[]" id="marital-status-mob" data-placeholder="Select" style="display: none;" class="chosen-select form-control" multiple="" tabindex="-1">
                                                    <option :value="doesntMatter">Doesn't matter</option>
                                                    <option v-for="(item, key) in maritalStatuses[0]" 
                                                    :key="key" 
                                                    :value="key">{{item}}</option>
                                                </select>
                                                <i class='chosen_loader'>loading...</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Marital Status-->

                                    <div class="panel">
                                        <button @click.prevent="handleSearch('middle')" style="button" class="btn btn-warning">Search</button>
                                        <a href="/search" @click.prevent="resetSearch()" class="btn reset-result pull-right">Reset all</a>
                                    </div>
                                    
                                    <!--Profile Text  -->
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse"  href="#collapse160">Search Text<span class="fa fa-minus pull-right"></span></a>
                                            </h4>
                                        </div>
                                        <div id="collapse160" class="panel-collapse collapse show in">
                                            <div class="panel-body">
                                                <div class="input-group stylish-input-group">
                                                    <input type="text" name="keywordsdown-mob" 
                                                    v-model="txtSearch"
                                                    class="form-control" placeholder="Enter Keywords" >
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-success" type="button" @click.prevent="handleSearch('bottom')"><i class="fa fa-search"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Search -->
                <div class="col-sm-12">
                    <div :id="`index-${index}`" v-for="(result,index) in resultSet" :key="index">
                        <div class="profile-box" v-if="result.userId != null">
                            <div class="row">

                                <div class="col-sm-3 col-xs-4 can_panel">
                                    <div class="un-lock" v-if="result.private_photo_permission_cnt > 0">
                                        <img :src="unlockImagePath" alt="" />
                                    </div>
                                    <a :href="result.profileLink" target="_blank">
                                        <img :src="result.profilePic" class="img-responsive img-thumbnail" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-9 col-xs-8 can_panel">
                                    <h4><a :href="result.profileLink" target="_blank">{{result.firstName}}</a> 
                                    <span  v-if="result.isOnline == false" class="pull-right offline"><i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                    <span  v-if="result.isOnline == true" class="pull-right online"><i class="fa fa-circle" aria-hidden="true"></i>
                                    </span>
                                    </h4>
                                    <p>{{result.age}}, {{result.city_name}}, {{result.state_name}}, {{result.country_name}}</p>
                                    
                                        <a v-if="result.hasConversation == 1" :href="result.viewConversationLink" class="s_msg"><i class="fa fa-eye" aria-hidden="true"></i> View Message</a>
                                    
                                        <span v-if="result.hasConversation == 0" :id="`span-show-view-msg-${result.userId}`" style="display:none"><a :href="result.viewConversationLink" class="s_msg" ><i class="fa fa-eye" aria-hidden="true"></i> View Message</a></span>
                                        <span v-if="result.hasConversation == 0" :id="`span-show-send-msg-${result.userId}`">
                                            <a href="javascript:void(0)" @click="showSendMessagePopUp(result.userId)" class="s_msg cls-show-snd-msg"><i class="fa fa-envelope"></i> Send Message</a>
                                            <!-- Message Popup -->
                                            <div class="popup-box chat-popup" :id="`qnimate-${result.userId}`">
                                                <div class="popup-head">
                                                    <div class="popup-head-left pull-left">New Message :</div>
                                                    <div class="popup-head-right pull-right">
                                                        <button data-widget="remove" @click="closeMsgPopUp(result.userId)" class="chat-header-button pull-right close-msg-popup" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                                <div class="popup-messages">
                                                    <div class="row" >

                                                        <div class="col-sm-12">
                                                            <div class="media">
                                                                <div class="media-left">
                                                                    <a :href="result.profileLink" target="_blank">
                                                                        <img style="width:60px" :src="result.profilePic" class="media-object img-thumbnail" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <h4 class="media-heading">{{result.firstName}}</h4>
                                                                    <p>{{result.age}}, {{result.city_name}}, {{result.state_name}}, {{result.country_name}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <span :id="`returnSpan${result.userId}`" style="color: red;"></span>
                                                            <form action="javascript:void(0);" :id="`msg-frm-${result.userId}`" class="needs-validation" role="form" name="messageFrm" method="post">
                                                                <div class="form-group">
                                                                    <textarea class="form-control sendMessageInput" :id="`sendMessageInput${result.userId}`" name="msg_description"  style="box-shadow:none;" :data-profileid="`${result.profileId}`" :data-id="`${result.userId}`" placeholder="Message" maxlength="140" rows="3" required=""></textarea>
                                                                </div>
                                                                <input type="hidden" name="receiver_id" :value="`${result.userId}`" />
                                                                <input type="hidden" name="pageType" value="inbox">
                                                                <input type="submit" @click.prevent="sendMessage(result.profileId, result.userId)" :id="`sendMessage${result.userId}`" :data-profileid="`${result.profileId}`" :data-id="`${result.userId}`" class="btn btn-warning pull-right sendMessage" value="Send">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Message Popup -->
                                        </span>
                                    <p>{{result.religion}}, {{result.height}}, {{result.education}} {{result.body_type}}</p>
                                    <p class="hidden-xs" v-html="result.about"></p>
                                </div>
                            </div>
                        </div>
                        <div class="profile-box" v-if="(index+1) % perPage == 0 && index != 0 && result.banner.length != 0">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a :href="`${result.banner.banner_link}`" target="_blank" v-if="result.banner.banner_link != ''">
                                        <img :src="`${result.banner.banner_image}`" class="img-responsive" alt="" border="0" />
                                    </a>
                                    <img :src="`${result.banner.banner_image}`" class="img-responsive" alt="" border="0" v-if="result.banner.banner_link == ''"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <!-- <paginate
                        v-model="pageNumber"
                        :page-count="totalPages"
                        :page-range="3"
                        :margin-pages="2"
                        :click-handler="handlePaginationSearch"
                        :prev-text="'&lt;&lt;'"
                        :next-text="'&gt;&gt;'"
                        :container-class="'pagination'"
                        :page-class="'page-item'">
                    </paginate> -->
                    <infinite-loading :identifier="infiniteId" @distance="1" @infinite="infiniteHandler"></infinite-loading>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import InfiniteLoading from 'vue-infinite-loading'
import VueSlider from 'vue-slider-component'
import Vuex from 'vuex'
import 'vue-slider-component/theme/default.css'
import Chosen from 'chosen-vue-component'
import ChosenSelectCountry from './Chosen/CountryComponent'
import ChosenSelectState from './Chosen/StateComponent'
    export default {
        props : [
                    'search-text', 
                    'county-name', 
                    'countries', 
                    'religions', 
                    'sect', 
                    'languages', 
                    'educations', 
                    'body-types', 
                    'foods', 
                    'smokes', 
                    'drinks', 
                    'marital-statuses', 
                    'age-start', 
                    'age-end', 
                    'height-start', 
                    'height-end', 
                    'age-range', 
                    'height-range',
                    'doesnt-matter',
                    'unlock-image-path'
                ],
        data() {
            return {
                ageSlider: [this.ageStart, this.ageEnd],
                sliderAgeRange: this.ageRange,
                heightSlider: [this.heightStart, this.heightEnd],
                sliderHeightRange: this.heightRange,
                resultSet: [],
                pagination: [],
                pageNumber: 1,
                totalPages: 0,
                perPage: 2,
                orderBy: 'latest',
                txtSearch: '',
                countryCode: [],
                stateId: [],
                cityId: [],
                religion: '',
                sectId: [],
                languageId: [],
                educationId: [],
                bodyType: [],
                food: [],
                smoke: [],
                drink: [],
                maritalStatus: [],
                topSearchBtn: '',
                middleSearchBtn: '',
                bottomSearchBtn: '',
                bgColCPPTen: '',
                bgColCPPTwenty: '',
                bgColCPPThirty: '',
                bgColCPPForty: '',
                bgColChOrLt: 'background-color: #4cae4c;',
                bgColChOrOn: '',
                infiniteId: +new Date()
            }
        },
        mounted() {
            //this.searchFunction(this.pageNumber, this.perPage, this.orderBy)
        },
        components: {

            VueSlider,
            Chosen,
            ChosenSelectCountry,
            ChosenSelectState
        },
        methods: {
            infiniteHandler($state) {
                let vm = this;

                // close mobile filter
                $('#mobile-search-modal').modal('hide');
                $('.modal-backdrop.in').remove();
                if(this.middleSearchBtn == '') {
                    this.countryCode = []
                    $("#country").val('').trigger('chosen:updated');
                    $("#state").val('').trigger('chosen:updated');
                    $("#city").val('').trigger('chosen:updated');
                    $("#sect_id").val('').trigger('chosen:updated');
                    $("#language_id").val('').trigger('chosen:updated');
                    $("#education_id").val('').trigger('chosen:updated');
                    $("#body_type").val('').trigger('chosen:updated');
                    $("#food").val('').trigger('chosen:updated');
                    $("#smoke").val('').trigger('chosen:updated');
                    $("#drink").val('').trigger('chosen:updated');
                    $("#marital-status").val('').trigger('chosen:updated');
                    this.sectId = ''
                    this.languageId = ''
                    this.educationId = ''
                    this.bodyType = ''
                    this.food = ''
                    this.smoke = ''
                    this.drink = ''
                    this.maritalStatus = ''
                    this.ageSlider = [this.ageStart, this.ageEnd]
                    this.sliderAgeRange = this.ageRange
                    this.heightSlider = [this.heightStart, this.heightEnd]
                    this.sliderHeightRange = this.heightRange
                } else {
                    this.sectId = $("#sect_id").val()
                    this.languageId = $("#language_id").val()
                    this.educationId = $("#education_id").val()
                    this.bodyType = $("#body_type").val()
                    this.food = $("#food").val()
                    this.smoke = $("#smoke").val()
                    this.drink = $("#drink").val()
                    this.maritalStatus = $("#marital-status").val()
                    // empty out text search
                    this.txtSearch = '' 
                }
                this.religion = $("#religion").val()
                
                axios
                .get(`/search`, {
                    params: {
                        "json": '',
                        "page": this.pageNumber,
                        "per_page": this.perPage,
                        "order_by": this.orderBy,
                        "keywords": this.txtSearch,
                        "country_code": this.countryCode,
                        "state_id": this.stateId,
                        "city_id": this.cityId,
                        "religion": this.religion,
                        "sect": this.sectId,
                        "language": this.languageId,
                        "education_id": this.educationId,
                        "body_type": this.bodyType,
                        "food": this.food,
                        "smoke": this.smoke,
                        "drink": this.drink,
                        "marital_status": this.maritalStatus,
                        "ageRange": this.sliderAgeRange,
                        "heightRange": this.sliderHeightRange
                    }
                })
                .then(response => {
                    // this.resultSet = response.data.results,
                    this.pagination = response.data.pagination,
                    this.totalPages = response.data.pagination.total_pages,
                    this.perPage = response.data.pagination.per_page
                    //console.log(response);
                    return response;
                }
                        // (
                            // this.resultSet = response.data.results,
                            // this.pagination = response.data.pagination,
                            // this.totalPages = response.data.pagination.total_pages,
                            // this.perPage = response.data.pagination.per_page
                        //)
                    )
                .then(data => {
                        if(data.data.results.length) {
                            $.each(data.data.results, function(key, value) {
                                vm.resultSet.push(value);
                            });
                            $state.loaded();
                        } else {
                            $state.complete();
                        }
                    })
                .catch(error => console.log(error))
 
                this.pageNumber += 1;
            },
            sendMessage(profileId, id) {
                jQuery("#returnSpan" + id).html('');
                jQuery("#returnSpanconnect" + id).html('');
                var message = jQuery("#sendMessageInput"+id).val();
                if(message != ""){
                    $("#sendMessageInput"+id).prop('disabled', true);
                    
                    var url = route('send-message-view');
                    var data = [];
                    data['profileId'] = profileId;
                    data['message'] = message;

                    var _token = $('input[name="_token"]').val();
                    var form = new FormData();
                    form.append('_token', _token);
                    for(var k in data){
                        if (data.hasOwnProperty(k)) {
                            form.append(k, data[k]);
                        }
                    }
                    jQuery.ajax({
                        url: url,
                        data: form,
                        method: "post",
                        processData: false,
                        contentType: false
                    }).done(function(response) {
                        $("#sendMessageInput"+id).prop('disabled', false);
                        jQuery("#sendMessageInput"+id).val('');
                        if(response.status == 0) {
                            jQuery("#returnSpan" + id).html(response.message);
                        } else {
                            $('#span-show-view-msg-'+id).css('display','block');
                            $('#span-show-send-msg-'+id).remove();
                            $(".close").click();
                            $('#qnimate-'+id).removeClass('popup-box-on');
                        }
                    });
                } else {
                    jQuery("#returnSpan" + id).html('Message is required');
                    jQuery("#returnSpanconnect" + id).html('Message is required');
                }
            },
            resetSearch:function(pageNum, perPage, orderBy) {
                this.infiniteId += 1;
                /** Reset all fields */
                this.countryCode = []
                $("#country").val('').trigger('chosen:updated');
                $("#country-mob").val('').trigger('chosen:updated');
                $("#state").val('').trigger('chosen:updated');
                $("#state-mob").val('').trigger('chosen:updated');
                $("#city").val('').trigger('chosen:updated');
                $("#city-mob").val('').trigger('chosen:updated');
                $("#sect_id").val('').trigger('chosen:updated');
                $("#sect_id_mob").val('').trigger('chosen:updated');
                $("#language_id").val('').trigger('chosen:updated');
                $("#language_id_mob").val('').trigger('chosen:updated');
                $("#education_id").val('').trigger('chosen:updated');
                $("#education_id_mob").val('').trigger('chosen:updated');
                $("#body_type").val('').trigger('chosen:updated');
                $("#body_type_mon").val('').trigger('chosen:updated');
                $("#food").val('').trigger('chosen:updated');
                $("#food-mob").val('').trigger('chosen:updated');
                $("#smoke").val('').trigger('chosen:updated');
                $("#smoke-mob").val('').trigger('chosen:updated');
                $("#drink").val('').trigger('chosen:updated');
                $("#drink-mob").val('').trigger('chosen:updated');
                $("#marital-status").val('').trigger('chosen:updated');
                $("#marital-status-mob").val('').trigger('chosen:updated');
                this.sectId = ''
                this.languageId = ''
                this.educationId = ''
                this.bodyType = ''
                this.food = ''
                this.smoke = ''
                this.drink = ''
                this.maritalStatus = ''
                this.ageSlider = [this.ageStart, this.ageEnd]
                this.sliderAgeRange = this.ageRange
                this.heightSlider = [this.heightStart, this.heightEnd]
                this.sliderHeightRange = this.heightRange
                this.txtSearch = ''
                this.religion = $("#religion").val()
                this.pageNumber = 1

                axios
                .get(`/search`, {
                    params: {
                        "json": '',
                        "page": this.pageNumber,
                        "per_page": this.perPage,
                        "order_by": this.orderBy,
                        "ageRange": this.sliderAgeRange,
                        "heightRange": this.sliderHeightRange,
                        "religion": this.religion
                    }
                })
                .then(response => (
                            this.resultSet = response.data.results,
                            this.pagination = response.data.pagination,
                            this.totalPages = response.data.pagination.total_pages,
                            this.perPage = response.data.pagination.per_page,
                            this.pageNumber += 1
                        )
                    )
                .catch(error => console.log(error))
            },
            closeMsgPopUp(uid) {
                $('#qnimate-'+uid).removeClass('popup-box-on');
            },
            showSendMessagePopUp(uid) {
                $('.chat-popup').removeClass('popup-box-on');
                $('#qnimate-'+uid).addClass('popup-box-on');
            },
            changeAgeValue() {
                this.sliderAgeRange = this.ageSlider[0]+' - '+this.ageSlider[1]
            },
            changeHeightValue() {
                this.sliderHeightRange = this.heightSlider[0]+' cm - '+this.heightSlider[1]+' cm'
            },
            handleSearch(searchBtn) {
                if(searchBtn == "middle") {
                    this.middleSearchBtn = 1
                } else {
                    this.middleSearchBtn = ''
                }
                this.pageNumber = 1
                this.searchFunction(this.pageNumber, this.perPage, this.orderBy)
            },
            // handlePaginationSearch(pageNum) {
            //     this.pageNumber = pageNum
            //     this.searchFunction(this.pageNumber, this.perPage, this.orderBy)
            // },
            searchFunction: function(pageNum, perPage, orderBy) {
                this.infiniteId += 1;
                // close mobile filter
                $('#mobile-search-modal').modal('hide');
                $('.modal-backdrop.in').remove();
                if(this.middleSearchBtn == '') {
                    this.countryCode = []
                    $("#country").val('').trigger('chosen:updated');
                    $("#state").val('').trigger('chosen:updated');
                    $("#city").val('').trigger('chosen:updated');
                    $("#sect_id").val('').trigger('chosen:updated');
                    $("#language_id").val('').trigger('chosen:updated');
                    $("#education_id").val('').trigger('chosen:updated');
                    $("#body_type").val('').trigger('chosen:updated');
                    $("#food").val('').trigger('chosen:updated');
                    $("#smoke").val('').trigger('chosen:updated');
                    $("#drink").val('').trigger('chosen:updated');
                    $("#marital-status").val('').trigger('chosen:updated');
                    this.sectId = ''
                    this.languageId = ''
                    this.educationId = ''
                    this.bodyType = ''
                    this.food = ''
                    this.smoke = ''
                    this.drink = ''
                    this.maritalStatus = ''
                    this.ageSlider = [this.ageStart, this.ageEnd]
                    this.sliderAgeRange = this.ageRange
                    this.heightSlider = [this.heightStart, this.heightEnd]
                    this.sliderHeightRange = this.heightRange
                } else {
                    this.sectId = $("#sect_id").val()
                    this.languageId = $("#language_id").val()
                    this.educationId = $("#education_id").val()
                    this.bodyType = $("#body_type").val()
                    this.food = $("#food").val()
                    this.smoke = $("#smoke").val()
                    this.drink = $("#drink").val()
                    this.maritalStatus = $("#marital-status").val()
                    // empty out text search
                    this.txtSearch = '' 
                }
                this.religion = $("#religion").val()
                
                axios
                .get(`/search`, {
                    params: {
                        "json": '',
                        "page": pageNum,
                        "per_page": perPage,
                        "order_by": orderBy,
                        "keywords": this.txtSearch,
                        "country_code": this.countryCode,
                        "state_id": this.stateId,
                        "city_id": this.cityId,
                        "religion": this.religion,
                        "sect": this.sectId,
                        "language": this.languageId,
                        "education_id": this.educationId,
                        "body_type": this.bodyType,
                        "food": this.food,
                        "smoke": this.smoke,
                        "drink": this.drink,
                        "marital_status": this.maritalStatus,
                        "ageRange": this.sliderAgeRange,
                        "heightRange": this.sliderHeightRange
                    }
                })
                .then(response => (
                            this.resultSet = response.data.results,
                            this.pagination = response.data.pagination,
                            this.totalPages = response.data.pagination.total_pages,
                            this.perPage = response.data.pagination.per_page,
                            this.pageNumber += 1
                        )
                    )
                .catch(error => console.log(error))
            },
            changePerPage: function(perPage) {
                if(perPage == 10) {
                    this.bgColCPPTen = "background-color: #4cae4c;"
                    this.bgColCPPTwenty = ""
                    this.bgColCPPThirty = ""
                    this.bgColCPPForty = ""
                } else if(perPage == 20) {
                    this.bgColCPPTen = ""
                    this.bgColCPPTwenty = "background-color: #4cae4c;"
                    this.bgColCPPThirty = ""
                    this.bgColCPPForty = ""
                } else if(per_page == 30) {
                    this.bgColCPPTen = ""
                    this.bgColCPPTwenty = ""
                    this.bgColCPPThirty = "background-color: #4cae4c;"
                    this.bgColCPPForty = ""
                } else if(perPage == 40) {
                    this.bgColCPPTen = ""
                    this.bgColCPPTwenty = ""
                    this.bgColCPPThirty = ""
                    this.bgColCPPForty = "background-color: #4cae4c;"
                }
                this.pageNumber = 1
                this.searchFunction(this.pageNumber, perPage, this.orderBy)
            },
            changeOrderBy: function(orderBy) {
                if(orderBy == 'latest') {
                    this.bgColChOrLt = "background-color: #4cae4c;"
                    this.bgColChOrOn = ""
                } else if(orderBy == 'online') {
                    this.bgColChOrLt = ""
                    this.bgColChOrOn = "background-color: #4cae4c;"
                }
                this.pageNumber = 1
                this.searchFunction(this.pageNumber, this.perPage, orderBy)
            }
        }
    }

</script>
<style>
.slider {
    /* overwrite slider styles */
    width: 200px;
}
.vue-slider-process {
    background-color: #f57c20;
}
</style>