<template>


    <div class="tab-content">
        <div id="home" class="tab-pane fade in active" v-for="(profile, index) in list">

            <div class="col-xs-12 col-sm-4 col-md-3 panel-body">
                <a href="#" class="thumbnail">

                    <img src="" class="img-responsive">

                    <div class="panel-body panel_body">
                        <h4 style="overflow: hidden"> {{ucfirst(profile.first_name)}} </h4>
                        <table class="table">
                            <tbody>

                            <tr>
                                <td>Religion :</td>
                                <td>{{profile.users_information.religion.religion}}</td>
                            </tr>




                            <tr>
                                <td>Location :</td>
                                <td>{{profile.city.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
            </div>


            <div class="col-xs-12" >

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                list: [],
                task: {
                    id: '',
                    body: ''
                }
            };
        },

        created() {
            this.fetchTaskList();
        },

        methods: {
            fetchTaskList() {
                axios.get('userDash').then((res) => {
                    this.list = res.data;
                });
            },

            createTask() {
                axios.post('api/tasks', this.task)
                    .then((res) => {
                        this.task.body = '';
                        this.edit = false;
                        this.fetchTaskList();

                    })
                    .catch((err) => console.error(err));
            },

            deleteTask(id) {
                axios.delete('api/tasks/' + id)
                    .then((res) => {
                        this.fetchTaskList()
                    })
                    .catch((err) => console.error(err));
            },
        }
    }
</script>