<template>
    <div class="tab-content"  >

        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li :class="tabFlag.new_li"><a  href="#"  @click="fetchUsers()">Newest Members</a></li>
                <li :class="tabFlag.partner_li" ><a  href="#" @click="fetchUsers('/userDash/partner')"  >Partner Preference</a></li>
                <li :class="tabFlag.diamond_li" v-if="tabFlag.diamondFlags>0" ><a href="#" @click="fetchUsers('/userDash/diamond')" >Diamond Members</a></li>
            </ul>
        </div>
    <div id="home" class="tab-pane fade in active" >
        <div class="col-xs-12 col-sm-4 col-md-3 panel-body "  v-for="profile in resultSet" v-bind:key="profile.id">
            <a :href="profile.profileLink" class="thumbnail">

                <div class="un-lock" v-if="profile.privatePhotoPermissionCnt"><img :src="unlockImg"></div>
                <img :src="profile.profilePic" class="img-responsive">

                <div class="panel-body panel_body">
                    <h4 style="overflow: hidden"> {{ profile.firstName }} </h4>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Age :</td>
                            <td>{{ profile.age }} Years</td>
                        </tr>
                        <tr>
                            <td>Religion :</td>
                            <td>{{ profile.religion }}</td>
                        </tr>
                        <tr v-if="profile.sect_show=='Y'">
                            <td>Sect :</td><td>{{ profile.community }}</td>
                        </tr>
                        <tr v-if="profile.profession.length>0">
                            <td>Profession :</td>
                            <td>
                                {{ profile.profession_disp }}
                            </td>
                        </tr>


                        <tr>
                            <td>Location :</td>
                            <td>{{ profile.city_name }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </a>
        </div>


    </div>
    </div>

</template>

<script>


    export default {
        props: ['result-data'],
        computed: {
            unlockImg() {
                return window.App.unlock_img;
            }
        },
        data() {
            return {
                resultSet: [],
                tabFlag: [],
                dashboard: {
                    id: '',
                    first_name: '',
                    last_name: '',
                    profileLink: '',
                    profilePic: ''
                },
                user_id: '',
                pagination: {},
                edit: false,
            }
        },
        created() {
            this.resultSet=this.resultData.data;
            this.tabFlag=this.resultData.tab;
        },
//https://www.youtube.com/watch?v=DJ6PD_jBtU0
        methods: {
            fetchUsers(page_url) {
                let vm = this;
                page_url = page_url || '/userDash'
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        vm.resultSet=res.data;
                        vm.tabFlag=res.tab;
                       // console.log(this.tabFlag);
                        //vm.makePagination(res.meta, res.links);
                    })
                    .catch(err => console.log(err));
            },
        }
    };
</script>