.avatar-body .fa-search-plus,
.avatar-body-photo .fa-search-plus,
.avatar-body-poster .fa-search-plus,
.avatar-body .fa-search-minus,
.avatar-body-photo .fa-search-minus,
.avatar-body-poster .fa-search-minus {
    padding: 8px 12px;
}

.avatar-body .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.avatar-body-photo .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.avatar-body-poster .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0px;
}

.item-subtitle .fa-star-half-o {
    color: #f4c141;
}

.vendor-name .fa-star-half-o, .container .fa-star-half-o{
    color: #ed38a0;
}

a.account_inactive{
	background:#fff;
	color:#000;
	border-color:#000;
}
a.account_active{
	background:#000;
	color:#fff;
	border-color:#000;
}