
    .gallery {
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
    
    .gallery li {
        float: left;
		width:31%;
		margin-right:4px;
		margin-bottom:4px;
    }