@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merienda+One&display=swap');
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf);
}

body{
	font-family: 'Hind Vadodara', sans-serif!important;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 1px;
	color:#000;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Frank Ruhl Libre', serif!important;
	margin-top: 10px!important;
}
p{
	/*word-break: break-all;*/
}
.top-header{
	padding:8px;
	border-bottom:1px solid #eee;
}
.top-header a{
	color: #333;
    font-size: 14px; 
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.top-header a:hover{
	text-decoration:none;
	color: #009000;
}
header{
	border-bottom:1px solid #eee;
}
.navbar-right li a{
	color:#ed38a0!important;
	font-weight:normal!important;
}
.navbar-default .navbar-nav > li > a {
    color: #333;
	position: relative;
	font-size: 15px;
    letter-spacing: 0.2px;
}
.navbar-right li a:before{
	display:none!important;
}
.navbar-default .navbar-nav > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#ed38a0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.navbar-default .navbar-nav > li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.banner{
	background:url(../img/banner.png) 66% 0% no-repeat;
	color:#fff;
	margin:auto;
	padding:166px 0px;
	background-size: cover;
	padding-top: 259px;
	padding-bottom: 99px;
}
.banner h1{color:#000;}
.navbar-inverse h4{
	color: #fff;
    padding: 4px 0px;
}
.setting-nav .col-xs-2{padding-right: 0px;}
.setting-nav .col-xs-10{padding-left: 0px;}
.setting-nav a{
	color:#fff;
	color: #fff;
    position: absolute;
    top: 7px;
    left: 15px;
	z-index:9;
}
.banner p{
	font-size: 18px;
	line-height: 40px;
	text-align:center;
}
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px!important;
  width:100%!important;
  box-shadow: none!important;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 6px 20px;
  clear: both;
  font-weight:300;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color:#ed38a0!important;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
.no-padding{
	padding-right: 0px!important;
    padding-left: 0px!important;
}
.search-form .form-control{
	border-radius: 0px!important;
	height:55px;
	font-size:16px;
	box-shadow: none;
}
.search-form .btn-default{
	height:55px;
	padding:0px 15px!important;
	border-radius: 0px!important;
}
.banner a{color:#000;font-size:14px;}
.banner a:hover{color:#000;text-decoration:none;}
.sect{padding:30px 0px;text-align:center;}

.he_ad{
	margin-bottom:30px;
}
.blog{
    padding: 25px 0 25px;
}
.blog h3{
	margin-bottom:10px;
	font-family: 'Lato', sans-serif!important;
	text-transform:uppercase;
	letter-spacing:2px;
}
.blog-text{
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.blog-centered{
    position: absolute;
    bottom: -50%;
    right: -50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.37);
    padding-top: 48%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
.event-add h3{
	color: #ed38a0;
}
.event-add h2{margin-bottom:10px;}
.event-add p{font-size:16px;}
.event-add p .fa{color: #ed38a0;width:20px;}
.event-date{
	background: #fafafa;
	padding:15px 15px;
	border-radius:4px;
	margin-top:10px;
	box-shadow: 0 0 5px #dedede;
}
.eventd{
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: 0px 10px;
	margin-top: 2px;
}
.eventd p{margin-bottom:1px;font-size:18px;}
.eventd p span{color: #ed38a0;}
.event-o-detail{
  margin:20px 0px;
  margin-top:0px;
}
.event-o-detail h3{
	margin-top:15px!important;
	margin-bottom:10px;
}
.event-o-detail .media-heading span{color: #ed38a0;}
.event-o-detail .media{box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.31);margin-bottom:15px;}
.event-o-detail .media p{margin-bottom:0px;}
.h-line{width:100px;
height:3px;
background:#ed38a0;display:block;}
.f-event{
	padding:0;
	margin-top:15px;
}
.f-event li{
	list-style:none;
	float:left;
	width:60px;
	height:60px;
	border:1px solid #333;
	margin-right:10px;
	text-align:center;
	padding-top:8px;
}
.f-event li img{}
.e-column{
	margin:15px 0px;
}
.e-column h4{font-size: 14px;}
.e-country{
	margin-top:10px;
	margin-bottom:10px;
}
.f-artist{
	margin-top:10px;
	margin-bottom:10px;
}
.sim-p h3{
	text-align:center;
	font-size:20px;
	color:#ed38a0;
	margin-bottom:-10px;
}
.bb h2{
	margin-top:30px!important;
	margin-bottom:0px;
}
.bb {
    margin-bottom: 20px!important;
}
.blog-p{
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #eee;
    margin-bottom: 15px;
}
.blog-p:last-child{margin-bottom:40px;}
.blog-p .read_more {
    color: black;
	font-size:15px;
}
.blog-p h3 {
    margin-top: 10px;
    color:#ed38a0;
}
.blog-det{
	margin:30px 0px;
}
.blog-det .form-control{
	box-shadow:none;
	border-radius:0px;
}
.contact-form label {
    color: #000;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 14px;
}
.contact-form .form-control {
    box-shadow: none;
    border: 1px solid #333!important;
    border-radius: 0px;
    font-size: 14px;
    padding-left: 10px!important;
}
.latest-post .panel {
    border-radius: 0px;
}
.latest-post .panel-heading {
    padding: 3px 15px;
}
.latest-post h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.lis li {
	border:none;
    border-bottom: 1px dotted #ccc!important;
    margin-bottom: 0px;
    padding: 7px 15px;
}
.lis li a {
    color: #333;
}
.var{
	position: inherit;
    bottom: 2px;
    left: 19px;
    color: green;
    font-weight: bold;
}
.rating{
	margin-bottom:8px;
}
.rating i{
	color: #f6bb42;
}
.featured{
    padding: 25px 0 20px;
    text-align: center;
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
}
.featured h3{
	text-align:center;
	margin-bottom: 24px;
	font-family: 'Lato', sans-serif!important;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:10px;
}
.featured p{
	margin: 0px 0 30px;
}
.sect h3{
	font-family: 'Lato', sans-serif!important;
	text-transform:uppercase;
	letter-spacing:2px;
}
.checked {
  color: orange;
}
.read-more{
  border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-size: 18px;
    background-color: #4cae4c;
    padding: 12px 60px;
    margin: 0 auto;
    letter-spacing: 1px;
	border-radius: 4px;
}
.read-more:hover{
	color:#fff;
	text-decoration:none;
}
.read-more span {
  position: relative; 
  z-index: 1;
}

.read-more:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 493%;
  width: 122%;
  background: #000;
  color:#fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.read-more:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
  color:#fff;
}
footer{
	border-top: 1px solid #eee;
	padding:30px 0px;
}
.info-title{
	font-size: 16px;
    line-height: 24.27050985px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
	letter-spacing:1px;
}
footer hr{
    width: 30px;
    border: 1px solid #d9d9d9;
    margin: 10px 0;
    text-align: left;
}
.listing{
	margin:0;
	padding:0;
}
.listing li{
	list-style:none;
	text-align: left;
}
.listing li a{
    font-size: 14px;
    line-height: 21.03444187px;
	letter-spacing:0.5px;
    display: inline-block;
    padding: 3px 0;
    color: #333;
}
.listing li a:hover{
	color:#ed38a0;
}
.social-footer{
	margin:0;
	padding:0;
}
.social-footer li{
	list-style:none;
}
.social-footer li a{
    font-size: 14px;
    line-height: 21.03444187px;
	letter-spacing:0.5px;
    display: inline-block;
    padding: 3px 0;
    color: #6c6c6c;
}
.social-footer li a i{
	padding-right:10px;
}
.text-cent{
	text-align:center;
	font-size:15px;
}
.show-case p{font-size:15px;}
.social-footer li a:hover{text-decoration:none;}
footer form{
	margin:20px 0px;
}
footer .form-control{
	height:40px;
	box-shadow:none;
	font-size:16px;
	border-radius:0px;
}
footer .input-group-btn .btn{
	height:40px;
	font-size:16px;
	border-radius:0px;
}
.footer-bottom{
	margin-top:25px;
	border-top: 1px solid #eee;
	text-align:center;
	padding-top:25px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: -2px;
    background-color:rgba(0, 0, 0, 0.81);
    overflow-x: hidden;
    transition: 0.5s;
    border-right: 1px solid #eee;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left:250px;
    font-size: 36px;
    padding: 0;
    border-bottom: none;
    color:#fff;
}

.sidenav li{
    list-style:none;
    border-top: 1px solid #ccc;
}
.sidenav li a{
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 16px;
    color: #666;
    display: block;
    transition: 0.1s;
    margin: 0px 10px;
}
.sidenav li .btn-default{
	color:#fff!important;
	padding:5px;
}
.sidenav a i{
    color:#ed38a0;
    margin-right:15px;
}
.sidenav .social {
    margin: 0!important;
	padding:0px;
	padding-left:15px;
	border-top: 1px solid #ccc;
}
.sidenav .social li {
    margin-top: 13px;
    margin-left:px;
    margin-right: 0px;
	float:left;
	border:none;
}
.fb a i{
    color: #3a589b;
}
.tw a i{
    color: #4392d5;
}
.lin a i{
    color: #1883bb;
}
.youtube a i{
    color: #d62020;
}
.sidenav .social li a {
    padding: 0;
    border-bottom: none;
}
.Sidemenu{
    width:250px;
    height: 100%;
    background:#fff;
    padding-top: 0px;
    overflow-y: scroll;
}
.mobile-navbar-brand {
    padding: 13px 15px;
    display: block;
}
.post-slide2 .post-content span{
	color:#000;
}
.post-slide2 .post-content span i{color:#ed38a0; padding-bottom:10px;}
.post-slide2{
    margin: 0 15px;
    box-shadow: 0 1px 2px rgba(43,59,93,0.30);
    margin-bottom:1em;
}
.post-slide2 .post-img{
    overflow: hidden;
	height:245px;
}
.post-slide2 .post-img img{
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 1s ease-in-out 0s;
	-webkit-transform: translate(0%,-32%);
      -ms-transform: translate(0%,-32%);
          transform: translate(0%,-32%);
}
.post-slide2:hover .post-img img{
    transform: scale(1.08);
}
.post-slide2 .post-content{
    background: #fff;
    padding: 15px;
	text-align: left;
}
.post-slide2 .post-title{
    font-size: 16px;
    margin-top: 0;
    text-transform: capitalize;
	margin-top: 0px!important;
	text-align:left;
	margin-bottom: 10px!important;
	font-family: 'Lato', sans-serif!important;
}
.post-slide2 .post-title a{
    display: inline-block;
    color: #000;
    transition: all 0.3s ease 0s;
	    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-slide2 .post-title a:hover{
    color: #3d3030;
    text-decoration: none;
	    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
.post-slide2 .post-description{
    font-size: 14px;
    color: #676767;
    line-height: 20px;
    margin-bottom: 14px;
    text-align:left;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
	height: 40px;
    margin-bottom: 0px;
}

.read-more_s{
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background:#333;
    text-transform: capitalize;
    transition: all 0.30s linear;
	margin-top:-5px;
}
.read-more_s:hover{
    background: #333;
    text-decoration: none;
    color: #fff;
}
.read-more_showcase{
	display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background:#333;
    text-transform: capitalize;
    transition: all 0.30s linear;
	margin-top:5px;
	margin-bottom:15px;
}
.read-more_showcase:hover{
    background: #333;
    text-decoration: none;
    color: #fff;
}
.add-list{
	margin:0;
	padding:0;
	display: flex;
    margin-bottom: 10px;
    margin-top: 2px;
}
.add-list li{float:left;margin-right:15px;list-style:none;display:block;}
.add-list li a{color:#000;}
.modal-body .listing li a{
	color:#222;
	font-size:16px;
}
.modal-body .listing li{
	border-bottom:1px solid #ccc;
	padding:10px 0px;
}
.modal-body .listing li:first-child{
	padding-top:0px;
}
.modal-body .listing li:last-child{
	border-bottom:none;
}
.img-text{
	margin-bottom:10px;
	display:block;
	position:relative;
}
.img-text h5{
	font-size: 16px;
	text-align:left;
	margin-bottom:10px;
}
.ven_head{
	background:rgba(0, 0, 0, 0.5);
	width:100%;
	position:absolute;
	bottom:0;
	right:0;
	z-index:9;
}
.ven_head h5{
	color:#fff;
	padding-left:10px;
	font-family: 'Lato', sans-serif!important;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.login_p {
	padding: 15px 0px;
	border-top:none;
	color: #666;
	margin-top: 160px;
}
.login_p .img-thumbnail{
	border:1px solid #333;
	border-radius:0px;
}
.login_p .btn-default{
	color:#fff!important;
	font-weight:normal!important;
}
.login_p .form-control{
	box-shadow:none;
	border:none;
	border-bottom:1px solid #333;
	border-radius:0px;
	font-size:16px;
	padding-left:0px;
}
.signup .tabbable-line{
	padding:0px;
}
.signup .form-control{
	box-shadow:none;
	border:1px solid #333!important;
	border-radius:0px;
	font-size:14px;
	padding-left:10px!important;
}
.vendor-setting .form-control{
	box-shadow:none;
	border:1px solid #333!important;
	border-radius:0px;
	font-size:14px;
	padding-left:10px!important;
}
.signup label{
	color:#000;
	letter-spacing:1px;
	font-weight:normal;
	font-size:14px;
}
.vendor-setting label{
	color:#000;
	letter-spacing:1px;
	font-weight:normal;
	font-size:14px;
}
.signup .panel_head{
	background-color: #f5f5f5;
    padding: 10px 15px;
	margin:15px 0px;
	display:block;
	text-transform:uppercase;
	font-size:16px;
	letter-spacing:1px;
	color:#333;
}
.vendor-setting .panel_head{
	background-color:#f4e9e4;
    padding: 10px 15px;
	margin:15px 0px;
	display:block;
	text-transform:uppercase;
	font-size:16px;
	letter-spacing:1px;
	color:#333;
}
.membser-list {
    border: 1px solid #eee;
    width: 100%;
    height: auto;
    float: left;
    box-shadow: 1px 3px 3px #c4c7d142;
	margin-bottom: 20px;
	position: relative;
    display: block;
}
.membser-list h4 {
    margin-bottom: 20px;
}
.membser-list .nav-pills > li > a {
    padding: 10px 26px;
    color: #333;
    font-size: 18px;
    border: 2px solid #bcc2d0;
}
.membser-list .nav-pills > li {
    margin-right: 10px;
}
.membser-list .line {
    height: 3px;
    width: 100px;
    background:#ed38a0;
    display: block;
    margin: 0px 0px;
    margin-bottom: 20px;
}
.membser-list .form-control {
    box-shadow: none;
    border: 1px solid #333!important;
    border-radius: 0px;
    font-size: 14px;
    padding-left: 10px!important;
}
.membser-list label {
    color: #000;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 14px;
}
.membser-list  .table > tbody > tr > td{
	border-top: 1px solid #fff;
}
.membser-list:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 34%;
    border-left: 1px solid #eee;
    transform: translate(-50%);
}
.signup h3{
	color:#333;
}
.login_p form{
	margin-top:30px;
}
.login_p a{
	color:#ed38a0!important;
}
.login_p a:hover{
	color:#ed38a0!important;
}
.login_p .nav-tabs li{
	width:49%;
}
.mobile-sidebar{
	background:none!important;
}
.mobile-sidebar li {
    padding: 15px 15px;
    background: #fff;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee!important;
}
.mobile-sidebar a {
    padding: 12px 12px;
    border: none;
    font-size: 16px;
    color: #555!important;
    letter-spacing: 1px;
    border-bottom: 1px solid #eeeeee!important;
}
.mobile-sidebar a:last-child{
    border-bottom:none!important;
}
.tabbable-line{
	padding:15px;	
	background: #fff;
}
.tabbable-line > .nav-tabs {
  border-bottom:4px solid #eee;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  font-size:16px;
  color: #737373;
  font-weight:bold;
  text-transform:uppercase;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 2px solid #333;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border:none!important;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 2px solid #333;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a:focus{
	border:none!important;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  padding: 15px 0;
}
.tabbable-line .btn-default{
	padding: 8px 30px;
    font-size: 16px;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

.login {
    position: relative;
    display: block;
}
.login .icon {
    position: absolute;
    top: 8px;
    color: #666;
    z-index: 9;
    right: 0px;
}
.forgot-pwd{
	padding-top:10px;
	display:block;
}
.signup{
	margin-top:0px!important;
}
.signup form{
	margin-top:0px!important;
}
.photo-step{
	border:1px solid #eee;
	padding-bottom:20px; 
	padding-top:20px;
	margin-top:15px; 
	margin-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	color:#000;
}
.panel_body{
	padding:10px 10px;
}
.panel_body .dropdown{
	display:inline-block;
}
.thumbnail p{
	margin-bottom:0px;
}
.vendor-setting{
	margin:30px 0px;
}
.vendor-setting .list-group{
	background:#f5f5f5;
	padding:10px 10px;
	margin-top:15px;
	font-family: 'Lato', sans-serif;
	font-size:15px;
}
.vendor-setting .list-group-item{
	background:none;
	border:none;
}
.vendor-setting .list-group-item.active,.list-group-item.active:hover{
	background:none;
	border:none;
	color:#333;
	font-weight:bold;
}
/**ON OFF**/
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 20px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bcbec0;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 0px;
    bottom: -2px;
    background-color: #333;
  -webkit-transition: .4s;
  transition: .4s;
  z-index:99;
}
input:checked + .slider {
  background-color: #ed38a0;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}
/*------ ADDED CSS ---------*/
.on
{
  display: none;
}
.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
  padding-left:7px;
}
input:checked+ .slider .on
{display: block;}
input:checked + .slider .off
{display: none;}
/*--------- END --------*/
.slider.round {
  border-radius: 34px;
}
.slider.round:before{
	border-radius: 50%;
}
/**END ON OFF**/  
.vendor-setting .btn-default{
	padding: 7px 40px;
}
.mobile-nav .btn-danger{
	border-radius: 50em;
    background: #ed38a0;
    border-color: #ed38a0;
    padding: 2px 8px;
    letter-spacing: 1px;
    font-size: 12px;
	margin-top:12px;
}
.mobile-nav .btn-danger:hover {
    color: #fff;
    background: #ed38a0;
    border-color: #ed38a0;
}
.mobile-nav .btn-danger:focus, .mobile-nav .btn-danger.focus{
	color: #fff;
    background: #ed38a0!important;
    border-color: #ed38a0!important;
}
.cover{
	position:relative;
	display:block;
	margin-bottom:50px;
}
.cover-profile{
	position:absolute;
	top:70px;
	left:15px;
	z-index:99;
	height:100px;
	width:100px;
}
.vendor-setting .avatar-view{
	margin: 0% auto 0%;
}
.vendor-setting .dropdown-toggle, .delete{
	color:#ed38a0!important
}
.navbar-right .dropdown .dropdown-toggle{
	padding-top:12px;
	padding-bottom:12px;
	color: #000!important;
}
.navbar-right .dropdown .dropdown-menu {
    min-width: 300px;
    padding: 10px;
}
.navbar-right .dropdown .btn-default{
	margin-bottom:10px;
	color:#fff!important;
	padding:8px 0px;
	font-size:18px;
}
.navbar-right .dropdown .dropdown-menu > li{
    width: 69px;
    float: left;
    text-align: center;
    display: block;
}
.navbar-right .dropdown .dropdown-menu li a{
	padding:10px 0px;
}
.navbar-right .dropdown .dropdown-menu li a:hover{
	background:none;
}
.navbar-right .dropdown .dropdown-menu li a i {
    display: block;
    text-align: center;
}
.min_h{
	min-height:550px;
}
.vendor-detail{
	margin:30px 0px;
}
.search-vendor{
	margin:30px 0px;
}
.se-ven-form{
	background:#F4E9E4;
	padding:15px!important;
	display:block;
	padding-left: 30px!important;
	padding-right: 30px!important;
	margin-bottom: 17px;
}
.se-ven-form .form-control{
	border-radius:0px;
	height:50px;
	font-size:16px;
	box-shadow: none;
}
.se-ven-form .btn{
	width:100%;	
	height:50px;
	font-size:16px;
}
.search-listing{
	border-top:1px solid #eee;
	margin-top:17px;
	padding-top:15px;
}
.search-listing .panel-collapse .panel-body{
	border-top:none!important;
}
.search-listing .panel-title{
	font-family: 'Lato', sans-serif!important;
	font-size:18px;
}
.search-listing .panel-group{
	margin-bottom:0px;
}
.v-list{
	margin:0;
	padding:0;
}
.v-list li{
	list-style:none;
	display:block;
	padding-bottom:10px;
}
.v-list li a{
	color:#000;
	font-size:16px;
}
.v_list{
	margin:0;
	padding:0;
}
.v_list li{
	list-style:none;
	display:block;
	padding-bottom:10px;
}
.v_list li a{
	color:#000;
	font-size:16px;
}
#next1 {
    border: none;
    background: none;
    color: #ed38a0!important;
    padding: 0px;
    font-size: 14px;
}
button:focus{
	outline: none;
}
.varified{
	position:relative;
	display:block;
}
.varified .v-content{
	font-size: 40px;
    font-style: italic;
    font-family: 'Merienda One', cursive!important;
	margin-top: -15px;
}
.ad-banner{
	position:relative;
	display:block;
}
.ad-btn{
	position:absolute;
	top:10px;
	right:15px;
	z-index:9;
}
.ad-btn a{
	width: 30px;
    height: 30px;
    text-align: center;
    background: #ed38a0;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 28px;
}
.ad-btn a:hover{
	color:#fff;
}
.frb-group {
    margin: 10px 0;
	margin-top:0px;
}
.frb ~ .frb {
    margin-top: 15px;
}

.frb input[type="radio"]:empty,
.frb input[type="checkbox"]:empty {
    display: none;
}

.frb input[type="radio"] ~ label:before,
.frb input[type="checkbox"] ~ label:before {
    font-family: FontAwesome;
    content: '\f10c';
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 15px;
    font-size: 22px;
}

.frb input[type="radio"]:checked ~ label:before,
.frb input[type="checkbox"]:checked ~ label:before {
    content: '\f058';
}

.frb input[type="radio"] ~ label,
.frb input[type="checkbox"] ~ label {
    position: relative;
    cursor: pointer;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 8px 10px;
}

.frb input[type="radio"] ~ label:focus,
.frb input[type="radio"] ~ label:hover,
.frb input[type="checkbox"] ~ label:focus,
.frb input[type="checkbox"] ~ label:hover {
    box-shadow: 0px 0px 3px #333;
}

.frb input[type="radio"]:checked ~ label,
.frb input[type="checkbox"]:checked ~ label {
    color: #fafafa;
}

.frb input[type="radio"]:checked ~ label,
.frb input[type="checkbox"]:checked ~ label {
    background-color: #f2f2f2;
}

.frb.frb-default input[type="radio"]:checked ~ label,
.frb.frb-default input[type="checkbox"]:checked ~ label {
    color: #333;
}

.frb.frb-primary input[type="radio"]:checked ~ label,
.frb.frb-primary input[type="checkbox"]:checked ~ label {
    background-color: #ed38a0;
}

.frb.frb-success input[type="radio"]:checked ~ label,
.frb.frb-success input[type="checkbox"]:checked ~ label {
    background-color: #ed38a0;
}

.frb.frb-info input[type="radio"]:checked ~ label,
.frb.frb-info input[type="checkbox"]:checked ~ label {
    background-color: #ed38a0;
}

.frb.frb-warning input[type="radio"]:checked ~ label,
.frb.frb-warning input[type="checkbox"]:checked ~ label {
    background-color: #ed38a0;
}

.frb.frb-danger input[type="radio"]:checked ~ label,
.frb.frb-danger input[type="checkbox"]:checked ~ label {
    background-color:#ed38a0;
}

.frb input[type="radio"]:empty ~ label span,
.frb input[type="checkbox"]:empty ~ label span {
    display: inline-block;
}

.frb input[type="radio"]:empty ~ label span.frb-title,
.frb input[type="checkbox"]:empty ~ label span.frb-title {
    font-size: 18px;
    font-weight: 100;
    margin: 0px 5px 5px 0px;
    background:none;
    width: 100%;
    letter-spacing:0.5px;
}

.frb input[type="radio"]:empty ~ label span.frb-description,
.frb input[type="checkbox"]:empty ~ label span.frb-description {
    font-weight: normal;
    font-style: italic;
    color: #999;
    margin: 5px 5px 5px 50px;
}

.frb input[type="radio"]:empty:checked ~ label span.frb-description,
.frb input[type="checkbox"]:empty:checked ~ label span.frb-description {
    color: #fafafa;
}

.frb.frb-default input[type="radio"]:empty:checked ~ label span.frb-description,
.frb.frb-default input[type="checkbox"]:empty:checked ~ label span.frb-description {
    color: #999;
}
#next {border:none;background:none;color:#ed38a0!important;
padding:0px;font-size:14px;}
#custom-search-input {
	margin:0;
	margin-top: 10px;
	padding: 0;
	padding: 0px 15px;
	padding-right: 0px;
}
#custom-search-input .search-query {
	padding-right: 3px;
	padding-right: 4px \9;
	padding-left: 9px;
	padding-left: 4px \9;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 40px;
	box-shadow:none;
	font-size:16px;
}
#custom-search-input button {
	border: 0;
	background: none;
	/** belows styles are working good */
	padding: 2px 7px;
	margin-top: 2px;
	position: relative;
	left: -28px;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#ed38a0;
	z-index: 9;
    background: #fff;
}
#custom-search-input button:focus{
	outline: none;
}
.show-case{
	border-bottom:1px solid #eee;
	padding:30px 0px;
	padding-bottom:10px;
}
.show-case .nav-tabs > li > a{
	color:#000;
	font-size:16px;
}
.show-case .nav > li > a:hover, .show-case .nav > li > a:focus{
	border-color:rgba(238, 238, 238, 0)!important;
	background-color:rgba(238, 238, 238, 0)!important;
}
.show-case .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border:none!important;
	border-bottom:2px solid #ed38a0!important;
	background-color:#fff!important;
	color:#ed38a0!important;
}
.show-case .tab-content{
	padding-top:15px;
}
.border-s{
	border: 1px solid #E4E5E7;
    border-radius: 8px;
    padding-bottom: 10px;
    position: relative;
    flex: 1;
    height: 100%;
    background: #fff;
}
.border-s h3{
	letter-spacing:1px;
}
.border-s h3 a{
	padding-top:8px;
	line-height: 20px;
    font-weight: normal;
    color: #000;
    font-size: 20px;
	font-family:'Lato', sans-serif!important;
	padding-left:15px;
	padding-right:15px;
	margin-bottom:5px;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
	font-size:18px;
}
.border-s h3 a:hover{text-decoration:none;color:#ed38a0;}
.border-s p{padding-left:15px;
	padding-right:15px;display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;min-height: 40px;}
.border-s span{padding-left:15px;
	padding-right:15px;margin-bottom:5px;display:inline-block;margin-bottom:10px;}	
.border-s span .fa-star{color: #ed38a0;}	
.heart-o{
	color:black;
}
.cat-list{
	display:flex;flex-wrap:wrap;
}
.search-query:focus + button {
	z-index: 3;   
}
.s-result{border-bottom:1px solid #d9d9d9;
    padding: 15px 0;
}
.s-result:last-child{
	border-bottom:none;
}
.s-result h4{
	margin-top:0px!important;
	margin-bottom:5px;
	font-family: 'Lato', sans-serif!important;
	    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.s-result h4 a{
	color:#000;
}
.item-subtitle {
    font-size: 14px;
    line-height: 21px;
    color: #8c8c8c;
    margin-bottom: 5px;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
	overflow:hidden;
}
.item-subtitle .fa-star{
	color:#ed38a0;
}
.vendor-photo{
	margin-left:30px;
	margin-top:-100px;
	display:inline-block;
}
.vendor-name{
	display:inline-block;
	margin-top:10px;
}
.vendor-name span a{
	color:#000;
}
.vendor-name .fa-star{
	color:#ed38a0;
}
.vendor-detail .btn-default{
	padding:6px 35px;
	font-size:14px;
	text-transform:uppercase;
	border-radius: 2px;
}
.vendor-detail .breadcrumb{
	background:#fff;
	padding:0px;
}
.vendor-detail .breadcrumb > li a{
	color:#000!important;
}
.gal-container{
	padding: 12px;
}
.gal-item{
	overflow: hidden;
	padding: 3px;
	margin-right: -22px;
}
.gal-item .box{
	overflow: hidden;
}
.ab_content{
	margin-top:30px;
}
.ab_content .panel-heading{
	padding:10px 0px;
}
.ab_content h3{
    position: relative;
	font-family: 'Merienda One', cursive!important;
}
.ab_content h3 span {
    background-color: white;
    padding-right: 10px;
}
.our-gal h1{
	text-transform:uppercase;
}
.btn_group{
	margin-bottom:15px;
}
.v_social{
	margin:0;
	padding:0;
	margin-top: 10px;
}
.v_social .fb a{ color:#3b5998;}
.v_social .tw a{color:#00acee;}
.v_social .lin a{color:#0e76a8;}
.v_social .pin a{color:#c8232c;}
.v_social .inst a{color:#3f729b;}
.v_social li{
	float:left;
	display:block;
	padding-right:15px;
	margin-bottom: 10px;
}
.v_social li a{
	color: #ed38a0;
	font-size:18px;
}
.v_address{
	background-color: #f3f3f3;
    padding: 0px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    display: block;
    border: 1px solid #ccc;
}
.v_address h2{
	margin-bottom:20px;
	font-family: 'Merienda One', cursive!important;
}
.v_address p i{
	font-size:24px;
}
.v_address p a{color:#000;}
.vl {
	border-left: 1px solid #ccc;
    height: 100%;
    position: absolute;
    left: 33.33%;
    margin-left: -3px;
    top: 0px;
}
.vl1 {
	border-left: 1px solid #ccc;
    height: 100%;
    position: absolute;
    left: 66.66%;
    margin-left: -3px;
    top: 0px;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\f002";
	font-family: FontAwesome;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 15px;
	left: 15px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 150px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}
.shortlisted{
	background:none;
}
.shortlisted .fa-heart{
	color:red;
}
.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}
.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
.rating-btn .btn-default{
	padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
	background:#fff;
	color:#000!important;
}
.rat-box{
	border:1px solid #eeeeee;
	text-align:center;
	padding:50px 0px;
	display:block;
}
.rating-btn .btn-default:hover{
	background:#fff;
	color:#000!important;
}
.vendor-setting .jumbotron{
	padding: 10px 15px!important;
	margin-bottom:10px;
}
.vendor-setting .jumbotron .btn-default{
	margin-bottom:10px;
}
.vendor-setting .jumbotron p{
	 font-size: 16px;
}
.vendor-setting .jumbotron p span{
	padding-right:15px;
}
.rev-rating{
	color:#ed38a0;
	margin-top:20px;
}
.rev-rating span{color:#000;font-size:18px;}
.msg-section{margin-top:10px;}
.msg-section .media {
    padding: 9px 9px;
    border: 1px solid #eee;
	border-top:none;
	margin-top:0px;
}
.msg-section h4{
	font-family: 'Hind Vadodara', sans-serif!important;
}
.msg-section .media:first-child{
	border-top: 1px solid #eee;
	margin-top: -1px;
}
.msg-section .media .media-body .media-heading{
	margin-top:0px!important;
	font-family: 'Hind Vadodara', sans-serif!important;
}
.msg-section .media .media-body .media-heading a{
	color: #ed38a0;
	font-size: 16px;
}
.msg-section .media .media-body .media-heading small{
	font-size:10px;
}
.msg-section .media .media-body .media-heading a:hover{
	text-decoration:none;
}
.msg-section .media .media-body{
	overflow: none!important;
	z-index:9;
}
.msg-section .media .media-body .dropdown-toggle{
	background:none;
	padding: 0px 0px;
	color:#000!important;
}
.msg-section .media .media-body .dropdown-menu li a{
	color:#000!important;
	padding: 3px 15px;
	font-size:13px!important;
}
.msg-section .media .media-body .dropdown-menu>li>a:hover{
	background:none;
}
.msg-section .media-left{
	position:relative;
}
.msg-section .media-left .fa-circle{
    position: absolute;
    left: 2px;
    bottom: -4px;
    color: green;
}
.msg-section .panel{
	border-radius: 0px;
	-webkit-box-shadow:none;
    box-shadow:none;
}
.msg-section .panel .panel-heading a i{
	color: #ed38a0;
}
.msg-section .panel .panel-heading .btn-xs{
	color: #000!important;
	font-size:16px;
	padding: 0px 0px!important;
	background:none;
	line-height: 1.0;
}
.msg-section .media-object {
    display: block;
    border: 1px solid #ccc;
}
.msg-section .panel-footer .form-control {
    border: 1px solid #ccc!important;
	border-bottom:none!important;
	border-left:none!important;
	box-shadow:none!important;
	padding: 20px 0px;
}
.msg-section .panel-footer .input-group-btn .btn{
	padding:10px 12px;
}
.fa-red{
	color:red!important;
}
.new{color:red;}
.msg-section .pagination > .active > a{
	background:#000;
	color:#fff;
	border-color:#000;
}
.msg-section .pagination > li > a{
	color:#000;
}
.msg-list {
    background: #f2f2f2;
}
.msg-list ul {
    padding: 0;
    margin: 0;
}
.msg-list ul li {
    padding: 10px 15px;
    list-style: none;
}
.msg-list ul li a {
    color: #333;
}
.msg-section h4 a{
	color:#333;
	font-size:16px;
	font-weight: 400;
}
.msg-section h4 a:hover{
	text-decoration:none;
}
.msg-section .panel-footer {
    padding: 0px 0px;
    background-color:none;
    border-top:none;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
}
.msg-section .chat-list .media{
	border-left:none;
	border-right:none;
}
.vendor-setting .list-group-item.active > .badge{
	background:red;
	color:#fff;
	float:none;
}
.chat-list {
    overflow-y: scroll;
    height: 75vh;
    overflow-x: auto;
	width: 100%;
}
.social-m li{
	float:left;
	margin-right:15px;
	margin-top:-10px;
}
.vendor-name p{display: inherit;}
.vendor-name .dropdown{display:inline;}
/* Three column layout */
.dropdown-menu .side {
  float: left;
  width: 15%;
  margin-top: 6px;
}
.dropdown-menu .side a{
  color: #ed38a0;
}
.dropdown-menu .btn-rev{
	margin-bottom:15px;
}
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  border-radius: 10px;
}

/* Individual bars */
.bar-10 {width: 100%; height: 16px; background-color:#ed38a0;border-radius: 10px;}
.bar-9 {width: 90%; height: 16px; background-color:#ed38a0;border-radius: 10px;}
.bar-8 {width: 80%; height: 16px; background-color:#ed38a0;border-radius: 10px;}
.bar-7 {width: 70%; height: 16px; background-color:#ed38a0;border-radius: 10px;}
.bar-6 {width: 60%; height: 16px; background-color:#ed38a0;border-radius: 10px;}
.bar-5 {width: 50%; height: 16px; background-color:#ed38a0;border-radius: 10px;}
.bar-4 {width: 40%; height: 16px; background-color:#ed38a0;border-radius: 10px;}
.bar-3 {width: 30%; height: 16px; background-color:#ed38a0;border-radius: 10px;}
.bar-2 {width: 20%; height: 16px; background-color:#ed38a0;border-radius: 10px;}
.bar-1 {width: 10%; height: 16px; background-color:#ed38a0;border-radius: 10px;}
.bar-0 {width: 0%; height: 16px; background-color:#ed38a0;border-radius: 10px;}

.all-reviews .bar-10,.bar-9,.bar-8,.bar-7,.bar-6,.bar-5,.bar-4,.bar-3,.bar-2,.bar-1,.bar-0{
	height:12px;	
}
.all-reviews .side {
    margin-top: 5px;
}
/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}
@media (min-width: 768px) {
	.gal-container .modal-dialog {
		width: 55%;
		margin: 50 auto;
	}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
.v_videos h3 {
	text-align:center;
	font-family: 'Merienda One', cursive!important;
}
.v_videos{
	border-top: 1px solid #e7e7e7;
	margin-top:20px;
	padding:10px;
}
.v_reviews{
	border-top: 1px solid #e7e7e7;
	margin-top:20px;
	padding:10px;
}
.v_reviews h3 {
	font-family: 'Merienda One', cursive!important;
}
.sp_content{
	border-top: 1px solid #e7e7e7;
    margin-top: 20px;
    padding: 10px;
}
.sp_content h3 {
	font-family: 'Merienda One', cursive!important;
}
.sp_content p{
	margin-top:10px;
}
.sim_vendors{
	border-top: 1px solid #e7e7e7;
	margin-top:20px;
	padding-top:20px;
	padding-bottom:20px;
}
.sim_vendors h3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
	font-family: 'Merienda One', cursive!important;
	margin-bottom:30px;
}
.sim-p{
	position:relative;
	display:block;
	padding-bottom: 10px;
}
.sim-p{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: white;
}
.sim-p .rating{
	position: absolute;
    z-index: 9;
    top: 10px;
    right: 10px;
    width: 44px;
    height: 22px;
    background: #ed38a0;
    color: #fff;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
}
.sim-p a h4{color:#000;text-align:center;padding-top:10px;display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;padding-left: 10px;
    padding-right: 10px;}
.sim-p a:hover{text-decoration:none;}
.sim-p a h5 {
    color: #000;
    text-align: center;
    padding-top: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}
.v_reviews .media{
	padding-bottom:0px;
	margin-top: 0px;
}
.v_reviews .media:last-child{
	border-bottom:none;
}
.v_reviews .media-heading{
	margin-bottom:10px;
}
.v_reviews .fa-star{
	color:#ed38a0;
}
.v_reviews p{
	letter-spacing:1px;
}
.v_reviews .media .btn-default{
	margin-top:15px;
	margin-bottom:0px;
}
.all-reviews .media {
    border-bottom: 1px solid #eee;
}
.all-reviews .media:last-child {
    border-bottom:none;
	margin-bottom:20px;
}
.all-reviews .media .fa{
	color:#ed38a0;
}

.sp_content{
	padding:10px 0px;
}
.sp_content p{
	margin-bottom:0px;
}
.vendor-detail .form-control {
    box-shadow: none;
    border: 1px solid #333!important;
    border-radius: 0px;
    font-size: 14px;
    padding-left: 10px!important;
}
.vendor-detail label {
    color: #000;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 14px;
}
.pull_right{
	float:right;
}
.thum{
	padding:5px;
	background:#fff;
	border:1px solid #ccc;
}
.signup .thumbnail{
	padding:0px;
}
.s_case .table > tbody > tr > td{
	border-top:none;
}
.s_case .locked_active{
	padding: 2px 10px;
	background:#000;
	border-color:#000;
	color:#fff;
}
.s_case .locked_active:hover,.locked_active:focus{background:#000; color:#fff;}
.s_case .unlocked_inactive{
	padding: 2px 10px;
	background:#fff;
	color:#000;
	border-color:#000;
}
.vendor-membership{
	margin:30px 0px;
}
.vendor-membership .table > thead > tr > th{
	border-bottom:none;
	padding-bottom:20px;
}
.vendor_mem{
	border:1px solid #eeeeee;
	padding:15px;
}
.vendor_mem .fa-check-circle-o{
	color:#ed38a0!important;
	font-size:20px;
}
.vendor-membership .table{
	margin-bottom:0px;
}
.vendor-membership .btn-default{
	padding: 6px 20px;
	border-radius:2px;
}
.mobile_nav li {
    margin-top: 2px;
}
.mobile_nav li a {
    font-size:18px;
}
.search-listing .form-control{
	box-shadow: none;
    border: 1px solid #333!important;
    border-radius: 0px;
    font-size: 14px;
    padding-left: 10px!important;
}
.search-listing label {
    color: #000;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 14px;
}
.search-listing .input-group-addon {
    box-shadow: none;
    border: 1px solid #333!important;
    border-radius: 0px;
    font-size: 14px;
    padding-left: 10px!important;
	border-left:none!important;
}
.vendor-detail .input-group-addon {
    box-shadow: none;
    border: 1px solid #333!important;
    border-radius: 0px;
    font-size: 14px;
    padding-left: 10px!important;
	border-left:none!important;
}
.m-head .form-control{
	box-shadow: none;
    border: 1px solid #333!important;
    border-radius: 0px;
    font-size: 14px;
    padding-left: 10px!important;
	margin-top:10px;
}
.m-head .form-group{
	margin-bottom:0px;
}
.modal-title{
	margin-top:0px!important;
	font-family: 'Lato', sans-serif!important;
}
#filter .form-control{
	box-shadow: none;
    border: 1px solid #333!important;
    border-radius: 0px;
    font-size: 14px;
    padding-left: 10px!important;
	margin-top:10px;
}
#filter label {
    color: #000;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 14px;
}
#addnew a{color:#ed38a0!important;}
.login_p .input-group-addon {
    box-shadow: none;
    border: 1px solid #333!important;
    border-radius: 0px;
    font-size: 14px;
    padding-left: 10px!important;
    border-left: none!important;
}
.vendor-setting .input-group-addon {
    box-shadow: none;
    border: 1px solid #333!important;
    border-radius: 0px;
    font-size: 14px;
    padding-left: 10px!important;
    border-left: none!important;
}
.vendor-setting .tab-content{
	margin-top:15px;
}
.vendor-setting .nav-tabs > li > a {
    color:#000;
	border: 1px solid rgba(221, 221, 221, 0);
	font-size:16px;
}
.vendor-setting .nav-tabs > li.active > a, .vendor-setting .nav-tabs > li.active > a:hover, .vendor-setting .nav-tabs > li.active > a:focus{
	border-bottom:2px solid #ed38a0!important;
	color:#ed38a0!important;
	border: 1px solid rgba(221, 221, 221, 0);
}
.user_p{
	width: 200px;
    margin: auto;
    height: 100%;
    display: block;
    margin-bottom: 12px!important;
	margin-top: 20px;
}
.modal-content .checkbox-inline {
  position: relative;
  padding-left: 25px;
  margin-top: 10px!important;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.video-sec{
	margin:0;
	padding:0;
}
.video-sec li{ float:left;width:32%;list-style-type:none;margin-right:2px;margin-bottom:2px;}
/* Hide the browser's default checkbox */
.modal-content .checkbox-inline input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.review-btn{
	border: 1px solid #ed38a0!important;
    border-radius: 2px;
    margin-bottom: 2px;
    display: block;
    width: 149px;
    padding: 3px 7px;
    color: #ed38a0!important;
	    position: absolute;
    right: 15px;
    top: 41px;
    background: #fff;
    z-index: 9;
}
.review-btn:hover{
	text-decoration:none;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgba(238, 238, 238, 0);
  border: 1px solid #333;
  border-radius: 14px;
}

/* On mouse-over, add a grey background color */
.modal-content .checkbox-inline:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.modal-content .checkbox-inline input:checked ~ .checkmark {
  background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.modal-content .checkbox-inline input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.modal-content .checkbox-inline .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal-content h3{
	font-size:20px;
}
.modal-content .close{
	width: 30px;
    height: 30px;
    background: #000;
    text-shadow: none;
    color: #fff;
    opacity: 1;
    border-radius: 16px;
}
.modal-content .close:hover{
    background: #000;
    text-shadow: none;
    color: #fff;
    opacity: 1;
}

.tabbable-line .checkbox-inline {
  position: relative;
  padding-left: 25px;
  margin-top: 10px!important;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.tabbable-line .checkbox-inline input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.tabbable-line .checkbox-inline:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.tabbable-line .checkbox-inline input:checked ~ .checkmark {
  background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.tabbable-line .checkbox-inline input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.tabbable-line .checkbox-inline .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login_p h1{font-family: 'Merienda One', cursive!important;}
.login_p h1 span {
	color: #ed38a0;
	font-size: 1.5em;
}
.lb{
	font-size:15px!important;
	font-weight:600!important;
}
.modal-content #custom-search-input{
	margin-top: 0px;
	padding-right: 0px;
	padding: 0px 0px;
}
.modal-content #custom-search-input .form-control{
	margin-top: 0px;
	width: 108%;
}
.modal-content #custom-search-input button{
	left:-8px;
	padding: 7px 8px;
    margin-top: 0px;
}
.vendor-head-content h2{
	font-family: 'Merienda One', cursive!important;
}
.vendor-head-content {
    border-bottom: 1px solid #eee;
    padding-top: 10px;
	padding-bottom:15px;
}
.vendor-head-content p{text-align:center;}
.img-rec{
	width:230px;
	margin-right:15px;
}
.s-result p {
    min-height: 101px;
    overflow: hidden;
	margin-top: 10px;
}
.req-btn{
	display:block;
	text-transform:uppercase;
	padding: 6px 22px!important;
	font-weight:bold!important;
}
.mob-req-btn{display:none!important;}
#myDIV {
  list-style-type: none;
  padding: 0;
  margin: 0;
      display: inline-flex;
}

#myDIV li {
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    border-radius: 18px;
    padding: 5px 17px 5px 17px;
    cursor: pointer;
    margin: 3px 0;
    display: block;
    position: relative;
    float: left;
    margin-left: 10px;
    color: #333;
    font-size: 16px;
}

#myDIV li:hover {
  background-color: #eee;
}

.close-btn {
  cursor: pointer;
  transform: translate(0%, -50%);
  text-align:right;
  font-size:24px;
  width: 12px;
    height: 12px;
    margin-left: 8px;
    float: right;
    margin-top: 0px;
}
.r-result{
	display: inline-flex;
	font-size:16px;
}
.clear-btn{
	color: #ed38a0;
	background:none;
	border:none;
	font-size:16px;
}
.no-review{
	text-align:center;
    background-color:rgba(244, 233, 228, 0.5490196078431373);
    padding: 20px;
	margin-top:10px;
}
.no-review h4 b a{color:#ed38a0;}
.frb-group {
    margin: 10px 0;
}

.frb ~ .frb {
    margin-top: 15px;
}

.frb input[type="radio"]:empty,
.frb input[type="checkbox"]:empty {
    display: none;
}

.frb input[type="radio"] ~ label:before,
.frb input[type="checkbox"] ~ label:before {
    font-family: FontAwesome;
    content: '\f10c';
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 15px;
    font-size: 22px;
}

.frb input[type="radio"]:checked ~ label:before,
.frb input[type="checkbox"]:checked ~ label:before {
    content: '\f058';
}

.frb input[type="radio"] ~ label,
.frb input[type="checkbox"] ~ label {
    position: relative;
    cursor: pointer;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding:10px;
}

.frb input[type="radio"] ~ label:focus,
.frb input[type="radio"] ~ label:hover,
.frb input[type="checkbox"] ~ label:focus,
.frb input[type="checkbox"] ~ label:hover {
    box-shadow: 0px 0px 3px #333;
}

.frb input[type="radio"]:checked ~ label,
.frb input[type="checkbox"]:checked ~ label {
    color: #fafafa;
}

.frb input[type="radio"]:checked ~ label,
.frb input[type="checkbox"]:checked ~ label {
    background-color: #f2f2f2;
}

.frb.frb-default input[type="radio"]:checked ~ label,
.frb.frb-default input[type="checkbox"]:checked ~ label {
    color: #333;
}

.frb.frb-primary input[type="radio"]:checked ~ label,
.frb.frb-primary input[type="checkbox"]:checked ~ label {
    background-color: #ed38a0;
}

.frb.frb-success input[type="radio"]:checked ~ label,
.frb.frb-success input[type="checkbox"]:checked ~ label {
    background-color: #ed38a0;
}

.frb.frb-info input[type="radio"]:checked ~ label,
.frb.frb-info input[type="checkbox"]:checked ~ label {
    background-color: #ed38a0;
}

.frb.frb-warning input[type="radio"]:checked ~ label,
.frb.frb-warning input[type="checkbox"]:checked ~ label {
    background-color: #ed38a0;
}

.frb.frb-danger input[type="radio"]:checked ~ label,
.frb.frb-danger input[type="checkbox"]:checked ~ label {
    background-color:#ed38a0;
}

.frb input[type="radio"]:empty ~ label span,
.frb input[type="checkbox"]:empty ~ label span {
    display: inline-block;
}

.frb input[type="radio"]:empty ~ label span.frb-title,
.frb input[type="checkbox"]:empty ~ label span.frb-title {
    font-size: 18px;
    font-weight: 100;
    margin: 0px 5px 5px 0px;
    background:none;
    width: 100%;
    letter-spacing:0.5px;
}

.frb input[type="radio"]:empty ~ label span.frb-description,
.frb input[type="checkbox"]:empty ~ label span.frb-description {
    font-weight: normal;
    font-style: italic;
    color: #999;
    margin: 5px 5px 5px 50px;
}

.frb input[type="radio"]:empty:checked ~ label span.frb-description,
.frb input[type="checkbox"]:empty:checked ~ label span.frb-description {
    color: #fafafa;
}

.frb.frb-default input[type="radio"]:empty:checked ~ label span.frb-description,
.frb.frb-default input[type="checkbox"]:empty:checked ~ label span.frb-description {
    color: #999;
}
.no-result{
	border:1px solid #eee;
	padding:20px;
	border-radius:4px;
	margin-top:20px;
}
.no-result .fa-frown-o{
	color:#d7d7d7;
	font-size:90px;
}
.no-result h2{font-weight:bold;color:#d7d7d7;font-size:48px;margin-bottom:30px;}
.no-result h1{color: #8c8c8c;}
@media (max-width: 600px){
	.banner-mobile{
		background: url(../img/banner-2.png);
		padding: 120px 0px;
		color: #333;
		margin-top: 52px;
		background-size: contain;
		background-repeat: no-repeat;
	}
}
@media (max-width: 568px){
	.banner-mobile{
		background: url(../img/banner-2.png);
		padding: 105px 0px;
		color: #333;
		margin-top: 52px;
		background-size: contain;
		background-repeat: no-repeat;
	}
}
@media (max-width: 480px){
	.banner-mobile{
		background: url(../img/banner-2.png);
		padding: 96px 0px;
		color: #333;
		margin-top: 52px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.post-slide2 .post-img{
		height: 230px;
	}
}
@media (max-width: 414px){
	.banner-mobile{
		background: url(../img/banner-2.png);
		padding: 105px 0px;
		color: #333;
		margin-top: 52px;
		background-size: contain;
		background-repeat: no-repeat;
	}
}
@media (max-width: 384px){
	.banner-mobile{
		background: url(../img/banner-2.png);
		padding: 96px 0px;
		color: #333;
		margin-top: 52px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.post-slide2 .post-img{
		height: 230px;
	}
}
@media (max-width:320px){
	.banner-mobile{
		background: url(../img/banner-2.png);
		padding: 82px 0px;
		color: #333;
		margin-top: 52px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.vendor-detail .btn_group .btn-default {
		padding: 5px 6px!important;
		font-size:13px!important;
	}
	.post-slide2 .post-img{
		height: 230px;
	}
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
.event-date {
    margin-bottom: 20px;
}	
.no-result{
	border:1px solid #eee;
	padding:15px;
	border-radius:4px;
	margin-top:20px;
}
.no-result .fa-frown-o{
	color:#d7d7d7;
	font-size:72px;
}
.no-result h2{font-weight:bold;color:#d7d7d7;font-size:36px;margin-bottom:15px;}
.no-result h1{color: #8c8c8c;font-size:24px;}	
.featured p{
	margin: 0px 0 20px;
}	
.membser-list {
    border:none;
    width: 100%;
    height: auto;
    float: left;
    box-shadow:none;
    margin-bottom: 0px;
    position: relative;
    display: block;
}	
.membser-list:after {
    display:none;
}
.sim-p h4{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
	margin-bottom: 0px;
}	
.sim-p a h4 {
    padding-top: 0px;
}	
.sim-p{
	margin-bottom:15px;
}	
.sim_vendors {
    padding-top: 10px;
	padding-bottom: 0px;
}	
.sim_vendors h3 {
    margin-bottom: 20px;
}
.ab_content{
	border-top: 1px solid #e7e7e7;
}	
.sp_content h3{
	font-size: 18px;
}
.sp_content p {
    margin-top: 10px;
}
.ab_content h3{
	margin-bottom:0px;
}
.ab_content h3 span {
    font-size:18px;
}
.v_reviews h3{
	font-size:18px;
}
.v_videos h3 {
   font-size:18px;
}
.sim_vendors h3 {
    font-size:18px;
}
	.gallery {
    margin-top:10px;
}
	.show-case{
		border-bottom:1px solid #eee;
		padding-top:0px;
		padding-bottom:10px;
		border-top:1px solid #eee;
	}
	.avatar-wrapper {
		height: 170px!important;
	}
	.mob-req-btn{display:block!important;
	text-transform:uppercase;
	padding: 6px 22px!important;
	font-weight:normal!important;margin-top:15px!important;}
	.req-btn{
		display:none!important;
	}
	.img-rec{
		width:100px;
		margin-right:10px;
	}
	.avatar-wrapper {
		height: 170px;
	}
	.cat-list .panel_body{
		padding: 3px 10px;
	}
	.all-reviews .btn-default{
		margin-top:15px;
	}
	.min_h {
		min-height:auto;
	}
	.msg-section .panel-default{
		border-color:rgba(221, 221, 221, 0)!important;
	}
	.chat-section {
		margin-top: -15px!important;
	}
	.msg-section .chat-list .media {
		border-left: none!important;
		border-right: none!important;
	}
	.chat-list {
		height: auto;
		margin-top: 0px;
	}
	.msg-section .chat_header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 99;
	}
	.msg-section .panel-footer {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 9;
		width: 100%;
	}
	.pagination{
		margin-bottom:0px!important;
	}
	.no_padding {
		padding: 0px!important;
	}
	.msg-section {
		margin-top:0px;
	}
	.msg-section .media {
		padding: 9px 10px;
		border-bottom: 1px solid #eee;
		border-left:none;
		border-right:none;
	}
	.vendor-setting .jumbotron p span {
		padding-right: 15px;
		display: block;
	}
	.shortlist{
		color:#333;
		background:none;
	}
	.s-result p{
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		line-height: 16px;
		max-height: 32px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		display:none;
	}
	.m-filter{
		border-top:1px solid #eee;
		padding-top:10px;
	}
	.m-head{
		margin-top:35px;
		padding-top:10px;
		margin-bottom:10px;
	}
	.m-head h5{
		font-family: 'Lato', sans-serif!important;
	}
	.m-head h3{
		font-family: 'Lato', sans-serif!important;
	}
	.m-head a{color: #ed38a0;}
	.m-head a:focus, a:hover{color: #ed38a0;}
	.m-filter p a{color:#ed38a0;font-size: 15px;}
	.search-listing {
		margin-top: 0px;
		padding-top:0px;
	}
	.s-result h4 {
		margin-top:0px!important;
		margin-bottom: 5px;
		font-family: 'Lato', sans-serif!important;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;

	}
	.s-result .btn-default{
		margin: 0 auto;
	}
	.ven_head{
		background:#fff;
		width:100%;
		position:relative;
		bottom:0;
		right:0;
		z-index:9;
	}
	.ven_head h5{
		color:#333;
		padding-left:0px;
		font-family: 'Lato', sans-serif!important;
		text-transform:capitalize;
		letter-spacing: 0px;
	}
	.sect h3 {
		font-family: 'Lato', sans-serif!important;
		text-transform:capitalize;
	}
	.featured h3 {
		font-family: 'Lato', sans-serif!important;
		text-transform:capitalize;
	}
	.vendor-social{
		position:fixed;
		top:116px;
		right:0px;
		width:40px;
		height:auto;
		background:#fff;
		z-index:99;
		border:1px solid #ccc;
	}
	.vendor-social ul{
		margin:0;
		padding:0;
	}
	.vendor-social ul li{
		float:none;
		display:block;
		padding:5px 10px;
		text-decoration:none;
	}
	.vendor-social ul li a{
		font-size:16px;
	}
	.vendor-social ul li .fb{
		color: #3a589b;
	}
	.vendor-social ul li .tw{
		color: #4392d5;
	}
	.vendor-social ul li .lin{
		color: #1883bb;
	}
	.vendor-social ul li .pint{
		color:#c8232c;
	}
	.vendor-social ul li .inst{
		color:#3f729b;
	}
	.text-cent{
		text-align:left;
	}
	.vendor-detail .breadcrumb{
		margin-bottom: 10px;
	}
	.vendor_mem {
		border:none;
		padding:0px;
	}
	.vendor-membership{
		margin-top:60px;
	}
	.cover-profile {
		top: 24px;
		left: 15px;
	}
	.vl {
		display:none;
	}
	.vendor-detail{
		margin-top:65px;
	}
	.vendor-photo {
		margin-left:20px;
		margin-top: -50px;
	}
	.vendor-name{
		margin-top:0px;
	}
	.vendor-detail .btn_group .btn-default {
		padding: 5px 0px;
		border-radius: 4px;
		width: 30%;
		margin-right: 2%;
		font-size: 12px;
	}
	.gallery li {
		width: 32%!important;
		margin-right: 2px!important;
		margin-bottom: 2px!important;
	}
	.ab_content {
		margin-top: 0px;
	}
	.pull_right{
		float:left;
	}
	.v_social {
		margin-top: 0px;
	}
	.v_social li a {
		font-size: 16px;
	}
	.vendor-name h1{
		font-size:24px;
	}
	.search-form .btn-default {
		height: 40px;
	}
	.vendor-setting .list-group{
		background:#f5f5f5;
		padding:0px;
		margin-top:0px;
		margin-bottom:0px;
	}
	.vendor-setting{
		margin-top:60px;
	}
	.signup {
		margin-top: 50px!important;
	}
	.login_p {
		padding: 15px 0px;
		border-top:none;
		color: #666;
		margin-top: 40px;
		background: url(..img/vendor-bc.jpg); background-size: 100%;
	}
	.login_p h3{
		font-size:16px;
	}
	.login_p h4{
		font-size:16px;
	}
	.login_p form{
		margin-top:20px;
	}
	
	.banner-mobile p{
		margin-bottom:0px;
	}
	.sect p{
		margin-bottom:0px;
	}
	.search-form{
		padding: 8px 15px 0px 15px;
	}
	.banner-mobile h1{
		font-size: 20px;
	}
	.search-form .form-control {
		height: 40px;
		border-top-left-radius:0px!important;
		border-bottom-left-radius:0px!important;
	}
	.search-form .btn-success {
		height: 40px;
		border-top-right-radius:4px!important;
		border-bottom-right-radius:4px!important;
	}
	.search-form h1{
		font-size:20px;
		margin-bottom: 15px;
		font-family: 'Lato', sans-serif!important;
	}
	.featured {
		padding: 6px 0 18px;
		text-align:left;
		border-bottom:none;
	}
	.featured h3 {
		font-size:18px;
		margin-bottom: 10px;
		text-align:left;
	}
	.sect {
		padding: 6px 0px;
		padding-bottom: 15px;
		text-align:left;
	}
	.sect h3{
		font-size:18px;
	}
	.sect ul li{
		padding:5px 0px;
	}
	footer {
		border-top: 1px solid #eeeeee;
		padding: 15px 0px;
	}
	.footer-bottom {
		margin-top: 10px;
		border-top: 1px solid #eeeeee;
		text-align: center;
		padding-top: 17px;
	}
	.img-text {
		font-size: 14px;
	}
	.he_ad{
		margin-bottom:10px;
	}
}
@media screen and (min-device-width:410px) and (max-device-width:780px) and (orientation : landscape){
	.search-form .btn-default {
		height: 40px;
	}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}