@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body{
    font-family:'Open Sans', sans-serif;
}
.banner{
    position: relative;
    display: block;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-position: 50% 20%;
    padding: 78px 0px 78px;
    background-size: cover;
}
.login-banner{
    position: relative;
    display: block;
    background-image: url(../img/login-banner.jpg);
    padding: 30px 0px;
    background-size: 124%;
    background-position: 99% 20%;
    padding: 80px 0px 80px;
}
.fill-form{
    float: right;
    background: #fff;
    width:400px;
    height: auto;
    padding: 24px;
    border: 1px dotted #23ccab;
    margin-top: 40px;
    position:relative;
    border-bottom:none;
    font-family:'Open Sans', sans-serif;
}
.city-date .fill-form {
    float: none!important;
    background: #fff;
    border: 1px dotted #23ccab!important;
    margin-top: 20px!important;
    width: 400px;
    height: auto;
    margin: 0 auto;
}
.city-date .fill-form::after{
    display:none!important;
}
.fill-form h1{
    font-family: 'Merienda One', cursive;
}
.fill-form h1 span{
    color: #e74c3c;
    font-size:1.5em;
}

.fill-form .form-control{
    box-shadow: none;
    border-radius: 4px;
    height: 35px;
}
.fill-form .form-control:focus {
    border-color:#23ccab;
}
.fill-form label{
    font-weight: normal;
}
.fill-form .btn-warning{
    background: #fea910;
    padding: 10px 25px;
    border-radius: 0px;
    margin: 0 auto;
    display:block;
    font-family: 'Merienda One', cursive;
    font-size: 18px;
}
.nav li:nth-last-child(1) {
    background: #fea910;
}
.navbar-fixed-top.scrolled {
    background-color: #000 !important;
    transition: background-color 200ms linear;
}
.step2{
    margin: 5px 0px 30px;
}
.step2 .form-control{
    border-radius:20px!important;
}
.step2 .panel{
    border:none;
    font-family:'Open Sans', sans-serif!important;
}
section{
    padding: 15px 0px;
}
.social {
    float:right;
}
.social li {
    list-style: none;
    float: left;
    margin-right: 10px;
    line-height: 40px;
}
.social li:first-child {
    font-size:18px;
}
.social li a {
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    -webkit-line-height: 30px;
    background: #24ceaa;
    display:inline-block;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.partner{
    background-color:rgba(238, 238, 238, 0.5098039215686274)!important;
}
.partner h4{
    margin:5px 0px;
}
.partner .form-control{
    height:40px;
    border-radius:4px;
}
.partner .btn-warning{
    height:50px;
    font-size:20px;
    border-radius:4px;
}
.partner hr {
    margin-top: 15px;
    margin-bottom:15px;
}
.partner .notifi{
    font-size:16px;
    padding-bottom:6px;
    display:block
}
.menu .list-group a.list-group-item{
    margin-bottom:15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 12px;
    float: right;
}
.switch input {display:none;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(212, 63, 58, 1);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: -4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #ccc;
}
.switch input:checked + .slider {
    background-color: #2196F3;
}
.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.profile{padding-top:30px;}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.menu .nav-tabs{
    margin-bottom:10px;
}
.menu .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-top:none;
}
.menu .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 12px;
    color:#333;
}
.menu .nav-tabs {
    border-bottom: none;
    margin-top: 15px;
}
.menu .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #d43f3a;
    cursor: default;
    background-color: #fff;
    border: none!important;
    border-bottom:1px solid #d43f3a!important;
}
.menu .nav li:nth-last-child(1) {
    background: none;
}
.img-circle {
    border: 1px solid #ccc;
}
.s_s{
    font-size: 20px;
}
.slog_txt{
    margin-bottom: 15px;
}
.slog_txt {
    font: 300 32px/25px 'Open Sans', sans-serif;
    color: #31353d;
    text-transform: uppercase;
}
.slog_txt h2{
    font-weight: 400;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.left-side-bar{
    width: 100%;
    height: auto;
    top: 65px;
    left: 0;
    clear: both;
    position: fixed;
    z-index: 0;
}
.one-left-side-bar{
    width: 100%;
    height: auto;
    top: 300px;
    left: 0;
    clear: both;
    position: fixed;
    z-index: 0;
}
.con{
    background-image: url(../img/dots.png);
}

.scrollmenu {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-top: -12px;
}

.scrollmenu a {
    border: 1px solid #13a687;
    display: inline-block;
    color: #13a687;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-radius: 30px;
    padding: 2px 10px;
    font-size: 14px;
    margin-left: 5px;
}

.scrollmenu a:hover {
    background-color: #13a687;
    color:#fff;
}
.scrollmenu .active{
    background-color: #13a687;
    color:#fff;
}

.block_2 {
    padding: 20px 40px;
}

.block_1 {
    padding: 100px 40px 0px;
    background: url(../img/content-bg02.png) left top no-repeat, url(../img/dots.png) right bottom repeat;
    color:#fff!important;
    background-size:cover;
}
.block_1 h2{
    color:#fff!important;
    font: 300 32px/44px 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.brands-list li {
    background: #23527c;
    color: #fff;
    margin-left: 9px;
    margin-top: 10px;
}
.brands-list li a {
    color: #fff;
}
.community-heading {
    margin-top: 20px;
    margin-bottom: 15px;
}
.community-heading {
    font-size: 24px;
    color: #23527c;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.tabbable-panel{
    background: #fff;
    padding: 15px;
    margin: 15px auto;
    border: 1px solid #ccc;
    position: relative;
}
.community-content p a {
    color: #515151;
    font-size: 14px;
    text-transform:capitalize;
    letter-spacing: 1px;
}
.community-content p a:hover{
    text-decoration:none;
}
.community-content p a i {
    color: #ef4e57;
}
.community-heading:first-child {
    margin-top: 0px;
    margin-bottom: 15px;
}
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
.personal-detail-button2{
    border-radius:10px;
    padding:10px 30px;
    color:#333;
    font-size:40px;
}
.personal-detail-button2 span{top: 50%;
    position: fixed;
    left: 58%;
}
.popuptext {
    display:none;
}
.show {
    display:block;
    background:rgba(230, 230, 230, 0.74);
    height:100%;
    width:95.5%;
    margin:0 auto;
    position:absolute;
    top:0;
    left:15px;
    z-index:20;
    visibility: visible;
}
.popuptext1{
    display:none;
}
.show1{
    display:block;
    background:rgba(40, 96, 144, 0.64);
    height:100%;
    width:95.5%;
    margin:0 auto;
    position:absolute;
    top:0;
    left:15px;
    z-index:20;
    visibility: visible;
}
.personal-detail-button3{
    border-radius:10px;
    padding:10px 30px;
    color:#fff;
    font-size:40px;
}
.personal-detail-button3 span{top: 50%;
    position: fixed;
    left: 58%;
}
.city-date {
    background: rgba(204, 204, 204, 0.2);
    padding: 20px 0px 100px 0px;
}
.faq .panel-heading{
    font-size:16px;
}

.faq .panel-title {
    font-size: 14px;
    padding:5px 0px;
    line-height:20px;
}
.faq .panel-title a:hover, a:focus{
    text-decoration:none;
}
.msg:first-child{
    margin-top:30px;
}
.msg{
    color:#333;
}
.msg:hover{
    text-decoration:none!important;
    color:#333;
}

.msg .fa-circle {
    color: green;
    margin-right: 5px;
}
.msg .fa-facebook{
    background: #ccc;
    padding: 5px;
    background:#3B5998;
    margin: 0;
    display: initial;
    margin-left: 10px;
    color:#fff;
}
.msg .fa-mobile{
    background:rgb(50,205,50);
    padding: 5px;
    margin: 0;
    display: initial;
    margin-left: 10px;
    color:#fff;
}
.msg p{
    margin-top:15px;
    margin-bottom:5px;
}
.msg .media-heading a{
    font-size:20px;
    color: #d9534f;
}
.msg .media-heading a:hover{
    text-decoration:none;
}
.msg .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #da6407;
    border-radius: 10px;
}
.text-left span{ padding: 10px;
    border: 1px solid #eee;
    clear: both;
    display: inline-table;}
.text-right span{ padding: 10px;
    border: 1px solid #eee;
    clear: both;
    display: inline-table;}
.chat-list{
    overflow-y: scroll;
    height: 75vh;
    padding:15px;
}
.chatting{
    margin-top:30px;
}
.chatting .panel-heading{
    padding:15px;
}
.chatting .panel-footer{
    padding:0px;
    border:none;
}
.chatting .panel-footer .form-control{
    height:45px;
    border:none;
    border-top:1px solid #ccc;
}
.chatting .panel-footer .btn{
    background:#fff;
    color:#d9534f;
    font-size:22px;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
}
.chatting .btn-xs{
    font-size:16px;
    padding:0px 10px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: 350px!important;
    width: 100%!important;
    object-fit: contain!important;
    background: #000!important;
}
.list-group-item > .badge {
    background-color:#e74c3c;
    color:#fff;
    padding: 5px 10px;
}
footer{
    background:#333;
    padding: 30px 0px;
    color: #fff;
}
footer hr{
    border-top:1px solid rgba(238, 238, 238, 0.30196078431372547)!important;
}
.colum_map {
    column-count: 3;
    margin-bottom: 20px;
}
.colum_map ul li a {
    color: #23527c;
    font-weight: bold;
    line-height:30px;
}
.line_a{
    height: 3px;
    width: 100px;
    background: #e74c3c;
    display: block;
}
.like-img{
    border:1px solid #ccc;
    color:#ff5e5c;
    position: relative;
    display: block;
}
.like-img h4{
    color:#ff5e5c;
    padding-left:15px;
    word-break: break-all;
    padding:12px 15px;
}
.like-img h4 small{
    color:#000;
}
.like-img .btn-group {
    display: inline-block;
    width: 100%;
}
.like-img .btn{width:50%;border:1px solid #ccc; border-bottom:none;border-left:none; border-right:none; font-size:18px;}
.like-img .btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    opacity: 1;
    filter: alpha(opacity=100);
}
.like-img .modal-header, .like-img .modal-content{
    background:none;
    box-shadow:none;
    border:none;
}
.like-img .modal-header h4{
    color:#fff!important;
    font-size:30px;
}
.like-img .modal-content .btn{
    width:auto;
    padding:10px 20px;
    border-radius:4px;
}
.like-img .close {
    float: right;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-shadow:none;
    opacity: 1;
}
.like-img .modal {
    text-align: center;
    padding: 0!important;
}
.popup-box {
    background-color: #ffffff;
    border: 1px solid #b0b0b0;
    bottom: 0;
    display: none;
    height: auto;
    position: fixed;
    right: 241px;
    width: 420px;
    z-index: 99;
}
.popup-box-on {
    display: block;
}
.popup-box .popup-head {
    background-color: #404040;
    clear: both;
    color: #fff;
    display: inline-table;
    font-size: 14px;
    padding: 10px 10px;
    width: 100%;
}
.popup-messages {
    padding: 10px 10px;
}
.popup-box .popup-head .popup-head-right {
    margin: 0px -4px 0;
}
.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: none;
    font-size: 14px;
}
.popup-messages img {
    height: 60px;
    width: 60px;
    display: inline-block;
    margin-bottom: 10px;
}
.popup-messages h5 {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #ef4e57;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.list{
    padding: 0;
    margin: 0;
}
.list li {
    float: none;
    list-style: none;
    padding: 0 10px 0px 0px;
    margin-bottom: 12px;
    margin-right: 10px;
    margin-left: 0px;
    border-bottom: 1px dotted rgba(238, 238, 238, 0.30196078431372547)!important;
    padding-bottom: 10px;
}
.list li:nth-last-child(1) {
    border-bottom: none!important;
}
.list li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease-in;
    letter-spacing: 1px;
}
.list li a:hover {
    color: #fff;
    text-decoration: none;
}
.search .modal-dialog{
    width: 350px;
}
.search-popup{
    height:100%; border:none;  clear:both; RIGHT:AUTO; overflow-y:scroll; background:#fff; overflow-x:hidden; top:75px;
    width: 634px!important;
    margin:0 auto;
}
.search-popup #send_message{
    margin-bottom:150px;
}
.social-share{
    padding:0;
    margin:0;
    margin-bottom:10px;
}
.social-share li{
    list-style:none;
    margin-right:10px;
    float:left;
}
.membser-list{
    background:#fff;
    border:1px solid #ccc;
    width:100%;
    height:auto;
    float:left;
    border-radius:10px;
}
.membser-list .col-sm-8{
    border-right:1px solid #ccc;
}
.membser-list .list-group-item{
    border:none!important;
    padding: 10px 0px;
}
.membser-list span{
    height:3px;
    width:100px;
    background:#e74c3c;
    display:block;
}
.membser-list .list-group {
    padding-left: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
}
.membser-list .list-group i{
    padding-right: 15px;
}
.mem{
    background: #6d7c85;
    clear: both;
    color:#fff;
    padding:8px;
}

.memimg {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: relative;
    vertical-align: middle;
}
.memimg cite {
    border-radius: 50%;
    display: block;
    height: 54px;
    margin: 3px 0 0 5px;
    overflow: hidden;
    position: relative;
    width: 54px;
    border: 2px solid #fff;
}
.success {
    position: relative;
    display: block;
}
.image {
    display: block;
    width: 100%;
    height: auto;
}
.col-xs-5-cols,
.col-sm-5-cols,
.col-md-5-cols,
.col-lg-5-cols {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5-cols {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5-cols {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5-cols {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5-cols {
        width: 20%;
        float: left;
    }
}
.step{
    font-size:8em;
    color: rgba(255, 255, 255, 0.1);
    position:relative;
}
.step span{
    font-size:18px;
    color: #fff;
    position:absolute;
    top:60px;
    line-height:30px;
    left:70px;
    font-weight:bold;
    text-transform:uppercase;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.47);
}
.success:hover .overlay {
    opacity: 1;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 300;
}
.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
}
.ms-options-wrap > button:focus,
.ms-options-wrap > button {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 3px 12px;
    margin-top: 1px;
    color: #aaa;
    outline: none;
    white-space: nowrap;
    height: 34px;
    color: #636363;
    border-radius:20px;
    font-size: 14px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ms-options-wrap > button > span {
    display: inline-block;
}
.ms-options-wrap > button[disabled] {
    background-color: #e5e9ed;
    color: #808080;
    opacity: 0.6;
}
.ms-options-wrap > button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}
.ms-options-wrap > .ms-options {
    position: absolute;
    min-width: 92%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #aaa;
    overflow: auto;
    visibility: hidden;
    height:200px;
}
.ms-options-wrap > .ms-options.ms-active {
    visibility: visible
}
.ms-options-wrap > .ms-options > .ms-search input {
    width: 100%;
    padding: 4px 5px;
    border: none;
    border-bottom: 1px groove;
    outline: none;
}
.ms-options-wrap > .ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-transform: lowercase;
    text-decoration: none;
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
    text-decoration: underline;
}
.ms-options-wrap > .ms-options > .ms-selectall.global {
    margin: 4px 5px;
}
.ms-options-wrap > .ms-options > ul,
.ms-options-wrap > .ms-options > ul > li.optgroup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.ms-options-wrap > .ms-options > ul li.ms-hidden {
    display: none;
}
.ms-options-wrap > .ms-options > ul > li.optgroup {
    padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
    border-top: 1px solid #aaa;
}
.ms-options-wrap > .ms-options > ul > li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}
.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 4px;
    margin: 1px 0;
    border: 1px dotted transparent;
}
.ms-options-wrap > .ms-options > ul label.focused,
.ms-options-wrap > .ms-options > ul label:hover {
    background-color: #efefef;
    border-color: #999;
}
.ms-options-wrap > .ms-options > ul li.selected label {
    background-color: #efefef;
    border-color: transparent;
}
.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin: 0 5px 0 0;
    position: absolute;
    left: 4px;
    top: 7px;
}
.ms-options-wrap > .ms-options.hide-checkbox > ul input[type="checkbox"] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
.well h4{
    color: #e74c3c;
    font-size: 2.5em;
    font-family: 'Merienda One', cursive;
    line-height: 50px;
}
.circle{
    height: 70px;
    width: 70px;
    display: inline-block;
    background: #ec971f;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    border-radius: 43px;
    color:#fff;
}
.circle1{
    height: 70px;
    width: 70px;
    display: inline-block;
    background-color: #e74c3c;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    border-radius: 43px;
    color:#fff;
}
.circle2{
    height: 70px;
    width: 70px;
    display: inline-block;
    background: #13a687;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    border-radius: 43px;
    color:#fff;
}
.listed{
    padding: 10px;
    line-height: 1px;
    display: -webkit-inline-box;
    color: #f59d2bf0;
    font-size: 15px;
}
.listed1{
    padding: 10px;
    line-height: 1px;
    display: -webkit-inline-box;
    color: #e74c3c;
    font-size: 15px;
}
.listed2{
    padding: 10px;
    line-height: 1px;
    display: -webkit-inline-box;
    color: #13a687;
    font-size: 15px;
}
.list-box{
    border-top-left-radius:33px!important;
    border-bottom-left-radius:33px!important;
}
.forgot-pwd{
    background:rgba(204, 204, 204, 0.2);
    padding:150px 0px;
}
.forgot-pwd .form-control{
    height:45px;
}
.forgot-pwd .btn-warning{
    height:45px;
    font-size:18px;
    text-transform:uppercase;
}
.upload_photo {
    position: relative;
    display: block;
    width: 200px;
    height: 200px !important;
    margin: auto;
}
.upload_photo .dropdown{
    position: absolute;
    z-index: 9;
    top: -9px;
    right: -9px;
}
.upload_photo .btn-warning{
    border-radius:50%;
    padding: 8px 12px;
}
.upload-profile{
    border: 1px dotted #23ccab;
    padding:20px 0px;
    margin: 1% 0px 12px 0px;
    background:#eee;
}
.outer-nav{
    padding:15px 0px
}
.upload-profile .btn-danger{ height: 60px;
    width: 200px;
    font-size: 20px;
}
.step-header{
    background:#000!important;
}
.inner-header{
    background:#000!important;
    min-height:50px!important;
}
.inner-header .navbar-brand{
    height:50px!important;
    padding:15px 15px;
}
@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}
.col-s{
    margin-top:50px;
    margin-bottom:0px!important;
}
.seven-cols h4{font-size: 14px;
    color: #333; margin-bottom:0px; text-transform:uppercase;}
.seven-cols h4 span{color:#e74c3c;}

.inner-header .nav li:nth-last-child(1) {
    background: transparent!important;
}
.inner-header .nav li:nth-last-child(1) a:hover {
    background: transparent!important;
    color:#fff;
}
.inner-header .dropdown-menu li a:hover {
    color:#d9534f!important;
}
.inner-header .navbar-nav > li > a {
    padding: 15px 15px!important;
    border-radius: 4px;
    font-size: 16px;
}
.inner-header .dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:200px;
}
.inner-header .dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.inner-header .dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
.sidebar{
    border-right: 1px solid #ccc;
}
.sidebar a{
    padding:20px 15px;
    border:none;
    font-size:16px;
    color:#13a687!important;
}
.sidebar a span{
    color:#333;
    padding-left:10px;
}
.personal-detail{
    position:relative;
    display:block;
}
.personal-detail p{
    word-wrap: break-word;
}
.personal-detail p .fa-check-circle{
    color:green;
    font-size:20px;
}
.personal-detail-button{
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    clear: both;
    position: fixed;
    z-index: 9;
}
.personal-detail-button1{
    border: 1px solid #e7e8e8;
    background: #f6f9f8;
    padding: 15px;
}
.personal-detail-button1 .btn{
    border-radius: 40px;
    padding: 12px;
    font-size: 18px;
    text-transform:uppercase;
}
.personal-detail h4{
    color:#e74c3c;
}
.personal-detail h4 span{
    color:#333;
    font-size:14px;
}
.personal-detail h6{
    color:#333;
    font-size:16px;
    text-transform:uppercase;
    color:#f59d2bf0;
}
.personal-detail hr{
    border-top: 1px solid #eee;
    margin:5px 0px 10px 0px;
}
.step-header .navbar-brand{
    padding:15px;
}
.fa.pull-right {
    margin-left: -1.7em!important;
}
select.form-control {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMTAgMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPlVudGl0bGVkPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8ZyBpZD0ic2VsZWN0LWFycm93cyIgc2tldGNoOnR5cGU9Ik1TTGF5ZXJHcm91cCIgZmlsbD0iIzAwMDAwMCI+ICAgICAgICAgICAgPHBhdGggZD0iTTUsMCBMMCw3IEwxMCw3IEw1LDAgTDUsMCBaIE01LDE4IEwxMCwxMSBMMCwxMSBMNSwxOCBMNSwxOCBaIiBpZD0iU2hhcGUiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
    background-size: .5em;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-right: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-appearance: none;
    -webkit-appearance: none;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
#wrapper.toggled {
    padding-left: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#sidebar-wrapper {
    z-index: 1024;
    position: fixed;
    left: 249px;
    width: 0;
    height:100vh;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: 1px solid #ccc;
    opacity:1;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
    overflow-x:hidden;
}
#page-content-wrapper {
    padding-top: 60px;
    -webkit-overflow-scrolling: touch;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 63px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar-default .btn-primary{
    margin: 10px 15px;
    font-size: 20px;
    padding: 0px 8px;
    line-height: 30px;
}

/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}

/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
    margin-top: 15px;
}
.vendor-featured {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    padding: 0px 0px;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 12px solid rgba(255, 255, 255, 0.96);
    border-bottom: 12px solid rgba(255, 255, 255, 0.96);
    border-right: 12px solid transparent;
    width: 150px;
}
.feature {
    position: absolute;
    font-size: 13px;
    top: -9px;
    left: 22px;
    color: #d9534f;
    font-weight: bold;
}
.review{
    margin-top:90px;
    margin-bottom:30px;
}
.review .media {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.review .media:last-child {
    border-bottom: none;
}
.review .media-object {
    border: 1px solid #ccc;
    padding: 2px;
}
.review .modal-content{
    border-radius: 0px;
    border: 1px solid #eee;
}
.review .list-inline > li .fa {
    color: #FFC107;
}
.review .modal-header h3 {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}
/* Color  */
.clr-535353 {
    color: #535353;
}
.property-listing img {
    max-width: 90px!important;
    border-radius:50%;
}
.property-listing .media-heading{
    margin-bottom:15px;
}
.property-listing .media-heading a{
    font-size:24px;
    color: #e74c3c;
    text-transform:uppercase;
}
.property-listing .media-heading a small{
    text-transform:capitalize;
}

.property-listing .media-heading a:hover{
    text-decoration:none;
}
.property-listing .media-body{
    padding:10px;
}
.property-listing .list-inline > li a{
    color:#535353;
}
.property-listing .list-inline > li a i{
    color:#13a687!important
}
.property-listing .list-inline > li a:hover{
    text-decoration:none;
}
.online{
    color:green;
}
.offline{
    color:red;
}
/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px!important;
    }
}
/*.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #666;
}
.sidebar-nav li a:active {
  background:#ccc;
  color: #fff;
}
.navbar-brand i{
	padding: 0px 0px;
}
.sidebar-nav i{
	float:right;
	padding: 11px 15px;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
  color: #fff;
      background:#13a687;
}
.sidebar-nav li ul{
	padding:0;
	margin:0;
}
.sidebar-nav li ul li{
	list-style-type:none;
}
.sidebar-nav li ul li a:active, .sidebar-nav li ul li a:focus {
  text-decoration: none;
  color: #000;
  background: #fff;
}
.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}
.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}*/

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 0px;
        position: relative;
        top: 0px;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.sidebar-nav .btn-primary{
    color:#fff;
}
.sidebar-nav .btn-primary:focus{
    color:#fff;
    background-color: #f57c20;
    border-color: #f57c20;
}
.sidebar-nav .collapse li a{
    background:rgba(19, 166, 135, 0.6313725490196078);
    color:#fff;
}
.sidebar-nav .collapse li a:active, .sidebar-nav .collapse li a:focus {
    background: #fff;
    color:#666;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}
.sidebar-nav .panel-group .panel+.panel {
    margin-top: 0;
    border-top: 0;
}
.sidebar-nav .panel-group .panel {
    border-radius: 0;
}
.sidebar-nav .panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sidebar-nav .panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}
.sidebar-nav .panel-default>.panel-heading a .badge{
    background-color:#d9534f;
}
.sidebar-nav .panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}
.sidebar-nav .panel-default>.panel-heading a[aria-expanded="true"] {
    background-color:#13a687;
    color:#fff;
}
.sidebar-nav .panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\f107";
}
.sidebar-nav .panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\f105";
}
.sidebar-nav .nav li:nth-last-child(1) {
    background: none;
}
@media only screen and (min-device-width:320px) and (max-device-width:480px){
    .menu .nav-tabs {
        border-bottom: none;
        margin-top: 0px;
    }
    .step_2{
        margin-top: 50px;
    }
    .faq{
        margin-top:65px;
    }
    .like-img h4 small {
        display: block;
        padding-top: 12px;
    }
    .like-img h4 {
        padding: 0px 12px;
        word-break: break-all;
    }
    .search-popup{
        width: 100%!important;
    }
    .search-popup #send_message{
        margin-bottom:150px;
        border:none;
    }
    .profile{padding-top:0px;}
    .search .modal-dialog{
        width: 95%;
    }
    .review{
        margin-top:30px;
        margin-bottom:30px;
    }
    .partner {
        margin-top:0px;
    }
    .settings > .nav-tabs {
        position: fixed;
        width: 100%;
        background: #f3f4f9;
        z-index: 5;
        top:48px;
        left:0;
    }
    .settings > .nav-tabs li {
        width: 50%!important;
        background: #f8fbff!important;
        margin-bottom: -2px!important;
        text-align: center!important;
    }
    .settings > .nav-tabs > li > a, .nav-tabs > li > a {
        color: #838ca9!important;
        font-size:16px;
        padding:7px 0px;
    }
    .settings > .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-bottom: 2px solid #d43f3a!important;
        border-left: none!important;
        border-right: none!important;
        color:#d43f3a!important;
        border-top: 1px solid transparent!important;
    }
    .breadcrumb li:first-child a{
        color:#e74c3c!important;
        font-size:16px;
    }
    .breadcrumb li:last-child a{
        color:#333!important;
        font-size:16px;
    }
    .avatar-preview {
        display:none;
    }
    .avatar-wrapper {
        height: 250px!important;
    }
    .personal-detail-button2 span{top: 50%;
        left: 50%;
    }
    .personal-detail-button3 span{top: 50%;
        left: 50%;
    }
    .show{
        width:93%;
    }
    .show1{
        width:93%;
    }
    .chatting {
        margin-top:0px;
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    .chatting .panel-footer{
        position:fixed;
        bottom:0;
        left:0;
        z-index:9;
        width:100%;
    }
    .msg:first-child{
        margin-top:0px;
    }
    .msg{
        margin-top:0px!important;
        margin-bottom:0px!important;
        margin-left: -15px;
        margin-right: -15px;
    }

    .personal-detail-button1 .btn {
        font-size: 12px;
    }
    #themeSlider{
        margin-top: 0px;
    }
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        height: 350px!important;
        width: 100%!important;
        object-fit: contain!important;
        background:#000!important;
    }
    .personal-detail .text-right{
        text-align:left;
    }
    .carousel-indicators {
        bottom: -11px!important;
    }
    .block_2 {
        padding: 15px 0px;
    }
    .banner{
        background-image:none;
        padding:0px;
        height:auto;
        margin-bottom:20px;
    }

    .social-h {
        margin:0;
        padding:0;
    }
    .social-h li {
        list-style: none;
        float: left;
        margin-right: 15px;
        line-height:0px;
    }
    .social-h li a {
        color: #fff;
    }
    .fill-form {
        width: 100%;
        height: auto;
        padding: 0px;
        border:none;
        margin-top:0px;
    }
    .city-date .fill-form {
        width: 100%!important;
        height: auto;
        padding: 0px!important;
        border:none!important;
        background:none!important;
    }
    .city-date{
        background:#fff;
        padding: 20px 0px 15px 0px;
    }
    .fill-form h1 {
        font-size:28px;
    }
    .mobile{
        margin-bottom: 20px;
        font-family: 'Open Sans', sans-serif;
    }
    .mobile h1{
        font: 300 24px/40px 'Open Sans', sans-serif;
        color: #31353d;
    }
    .mobile h2{
        font: 400 18px/40px 'Open Sans', sans-serif;
        color: #31353d;
    }
    .mobile .btn-group{
        display:block;
        margin:20px 0px;
    }
    .mobile .btn-group .btn{
        width:50%;
        height:45px;
        font-size:18px;
    }
    .mobile .btn-danger{
        background:#ff5a59;
        border-color:#ff5a59;
    }
    .mobile .btn-warning {
        background: #fea910;
        padding: 10px 25px;
        border-radius: 0px;
        margin: 0 auto;
        display: block;
        width:90%;
        border-radius:4px;
        font-size: 24px;
        margin-top:15px;
    }
    .list li:nth-last-child(1) {
        border-bottom: 1px dotted rgba(238, 238, 238, 0.30196078431372547)!important;
    }
    .fill-form::after {
        display:none;
    }
    .fill-form .btn-warning {
        padding: 10px 25px;
        border-radius: 4px;
        margin: 0 auto;
        display: block;
        width:60%;
        font-family:'Open Sans', sans-serif;
        font-size: 18px;
    }
    .fill-form .form-control {
        box-shadow: none;
        border-radius: 4px;
        height: 40px;
        border: 1px solid #999;
        -webkit-box-shadow: none;
    }
    .mobile-header .btn-danger {
        background: #ff5a59;
        border-color: #ff5a59;
        font-family:'Open Sans', sans-serif;
        font-size: 18px;
        border-radius: 4px;
        margin-top: -5px;
    }
    .mobile-header{
        background:#000; padding:15px; width:100%;
    }
    .fill-form select.form-control {
        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) 98% 50% no-repeat;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
    }
    input[type=date] {
        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) 98% 50% no-repeat;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
    }
    .login-banner {
        background-image: none;
        padding: 0px;
        height: auto;
        margin-bottom: 20px;
    }
    #page-content-wrapper {
        padding-top: 60px;
        -webkit-overflow-scrolling: touch;
    }
    #page-content-wrapper footer {
        margin-bottom: 0px;
    }
    .property-listing img{
        display: block;
        max-width: 100%!important;
        height: auto;
        margin: auto;
        margin-bottom: 14px;
        border-radius: 0%;
    }
    .property-listing .list-inline > li {
        line-height: 26px;
    }
    .property-listing .pull-left{
        float:none!important;
        padding-right:0px!important;
    }
    .popup-box {
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .property-listing .popup-head .pull-left {
        float: left!important;
        padding-right: 0px!important;
    }
}

.carousel-inner > .item > img{
    height: 100%;
    width: auto;
    max-height: 400px;
    margin: auto;
}
.carousel-inner > .item{
    background: #000000;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .chat-list {
        overflow-y: scroll;
        height: 55vh;
        padding: 15px;
    }
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .chat-list {
        overflow-y: scroll;
        height: 70vh;
        padding: 15px;
    }
    .search-popup {
        width: 509px!important;
    }
    html{
        overflow-x:hidden!important;
    }
    .menu .nav-tabs > li {
        float: left;
        margin-bottom: -1px;
        width: 20%;
        height: 40px;
        text-align: center;
    }
    .like-img h4 small {
        display: block;
        padding-top: 12px;
    }
    .like-img h4 {
        padding: 0px 12px;
        word-break: break-all;
    }
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .chat-list {
        overflow-y: scroll;
        height: 55vh;
        padding: 15px;
    }
    .search-popup {
        width: 388px!important;
    }
    .seven-cols .col-md-1, .seven-cols .col-sm-1, .seven-cols .col-lg-1 {
        width: 14%;
    }
    .navbar-nav > li > a {
        font-size: 12px!important;
    }
    html{
        overflow-x:hidden!important;
    }
    .menu .nav-tabs > li {
        float: left;
        margin-bottom: -1px;
        width: 20%;
        height: 40px;
        text-align: center;
    }
    .avatar-preview {
        display: none;
    }
    .like-img h4 small {
        display: block;
        padding-top: 12px;
    }
    .like-img h4 {
        padding: 0px 12px;
        word-break: break-all;
    }
    /* Styles */
}
