body {
    font-family: 'Lato', sans-serif;
    color:#4b4b4b!important;
}
@font-face {
    font-family:gabriola;
    src: url(../fonts/gabriola_Font.ttf) format("truetype");
}
#feedback {
    height: 0px;
    width: 80px;
    position: fixed;
    right: 0;
    top: 27%;
    z-index: 999;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    background-color: #3b5b87!important;
}
#feedback a {
    display: block;
    background-color: #3b5b87!important;
    height: 41px;
    width: 127px;
    padding: 9px 17px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}
.navbar-nav > li > a {
    font-size: 15px;
    color: #4b4b4b;
}
.navbar-nav li a .badge {
    background:red;
    color: #fff!important;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    padding: 3px 7px;
    position: absolute;
    top: 4px;
    left: 56%;
    border-radius: 10px;
    behavior: url(http://www.a2zwebhelp.com/pie/PIE.htc);
}
.navbar-right > li:last-child > a {
    padding: 8px 15px;
    color: #fff!important;
    margin: 10px 0px;
}
.navbar-right > li:last-child > a:hover {
    background: #f0ad4e!important;
}
.navbar-default .navbar-nav li a i{display:block;text-align:center;}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: -2px;
    background-color:rgba(0, 0, 0, 0.81);
    overflow-x: hidden;
    transition: 0.5s;
    border-right: 1px solid #eee;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left:264px;
    font-size: 36px;
    padding: 0;
    border-bottom: none;
    color:#fff;
}
.sidenav li{
    list-style:none;
    border-bottom: 1px solid #eee;
}
.sidenav li a{
    padding: 12px 8px 12px 8px;
    text-decoration: none;
    font-size: 16px;
    color: #666;
    display: block;
    transition: 0.1s;
    margin: 0px 10px;
}

.sidenav a i{
    color:#eea236;
    margin-right:15px;
}
.sidenav .social {
    margin: 0!important;
}
.sidenav .social li {
    margin-top: 13px;
    margin-left: 12px;
    margin-right: 0px;
}
.sidenav .social li a {
    padding: 0;
    border-bottom: none;
}
.sidenav .social li a i{
    color:#fff;
}
/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #000;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */

#myDiv {
    display: none;
}
/* Center the loader */
.Sidemenu{
    width:250px;
    height: 100%;
    background:#fff;
    padding-top: 5px;
    overflow-y: scroll;
}
.Sidemenu li a .badge {
    color: #fff!important;
    background: #e74c3c!important;
}
.mobile-navbar-brand {
    padding: 19px 15px;
    display: block;
}
a:hover, a:focus {
    color: unset;
    text-decoration:none;
}
.how_con{
    margin-bottom:0px!important;
}
.modal_popup{
    background:#fff!important;
}
.modal_content{
    border:none!important;
    box-shadow:none!important;
}
.modal_content .modal-header{
    padding:15px 0px!important;
}
.modal_content .modal-header .close {
    font-size: 34px!important;
    text-shadow: none!important;
    opacity: 1!important;
}
.modal_content .modal-body .panel-heading{
    background:none!important;
    padding-bottom: 0px!important;
}
.modal_content .modal-body .panel-heading h4 {
    font-size: 14px!important;
    font-weight:bold!important;
}
.modal_content .panel{
    box-shadow:none!important;
}
#myModl .form-control{
    box-shadow:none;
}
#myModl a{
    color:#4cae4c;
}
.banner-image {
    z-index: 2;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: 40%;
    background-size: 30%;
}
.heading{
    font-family: gabriola;
    padding:15% 0px 13% 0px;
}
.heading h1{
    color:#5cb85c;
    padding-right: 5%;
    margin-bottom:0px;
    margin-top:15px;
    font-size:44px;
}
.heading h2{
    font-size:40px;
}
.heading h2:first-child{
    padding-right: 10%;
}
.heading h2:last-child{
    margin-top:0px;
}
.heading .btn-warning{
    padding:5px 40px;
    font-size:22px;
    font-family: 'Lato', sans-serif;
    margin-top:15px;
}
.un-lock img{
    position:absolute;
    z-index:9;
    right:10px;
    top:10px;
    height:30px;
    width:30px;
}
.un-lock-2 img{
    position:absolute;
    z-index:9;
    right:5px;
    top:-5px;
    height:20px;
    width:20px;
}
.padding-right{
    padding-right:5px!important;
    padding-left:0px!important;
}
.search {
    padding: 15px;
    background: rgba(0, 0, 0, 0.62);
    border-radius: 4px;
    color: #fff;
    margin-bottom: 15px;
}
.search label {
    font-weight: normal;
    font-size: 16px;
}
.search .form-control {
    box-shadow: none;
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
}
.search .btn-warning{
    height:40px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:bold;
    padding: 11px;
}
select.form-control {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMTAgMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPlVudGl0bGVkPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8ZyBpZD0ic2VsZWN0LWFycm93cyIgc2tldGNoOnR5cGU9Ik1TTGF5ZXJHcm91cCIgZmlsbD0iIzAwMDAwMCI+ICAgICAgICAgICAgPHBhdGggZD0iTTUsMCBMMCw3IEwxMCw3IEw1LDAgTDUsMCBaIE01LDE4IEwxMCwxMSBMMCwxMSBMNSwxOCBMNSwxOCBaIiBpZD0iU2hhcGUiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
    background-size: .5em;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-right: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.navbar-nav > li {
    float: left;
    position:relative;
}
.navbar-nav > li > .cir{
    position:absolute;
    z-index:99;
    top:5px;
    right:10px;
    width:20px;
    height:20px;
    border-radius:50%;
    background:#fff;
    color:red;
    font-size:12px;
    text-align:center;
    line-height:20px;
}
.nav-tabs > li{
    position:relative;
}
.nav-tabs > li .cir{
    position:absolute;
    z-index:99;
    top:-10px;
    right:10px;
    width:25px;
    height:25px;
    border-radius:50%;
    background:#fff;
    color:red;
    font-size:12px;
    text-align:center;
    line-height:23px;
    border:1px solid red;
}
.dir{
    background-color: #333;
    color:#fff;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing:1px;
}
.dir h2{
    font-size:24px!important;
    margin-bottom:17px!important;
    margin-top:20px!important;
}
.community{
    background: #ededed;
    padding:15px 0px;
    padding-bottom:30px;
}
.community h2{
    font-size:24px;
    letter-spacing:2px;
}
.line {
    width: 100px;
    height: 4px;
    background:#f0ad4e;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.com-column {
    background-color: #fff;
    Padding: 15px;
    min-height: 300px;
    box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
    -webkit-box-shadow: 0px 40px 20px -40px rgb(133, 133, 133);
}
.com-column_t {
    background:#5cb85c;
}
.com-column h3 {
    color: #000;
    padding-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.listing{
    margin:0;
    padding:0;
}
.listing li {
    display: inline-block;
    list-style: none;
    padding:0px 18px 1px 10px;
    border-right: 1px solid #ccc;
    margin-bottom: 10px;
}
.listing li a {
    color: #333;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: justify;
}
.com-column_t h3 {
    color: #fff!important;
}
.com-column_t ul li{
    border:none;
}
.com-column .btn-g{
    background-color: #f0ad4e;
    text-shadow: none;
    color: #FFF;
    box-shadow: none;
    width: auto;
    height: 40px;
    line-height: 30px;
    margin-top: 15px;
    position: absolute;
    bottom: 35px;
    right: 35px;
}
.com-column_t ul li a{
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
}
.intro {
    background: #fff;
    padding:30px;
}
.intro h1 {
    color: #fff;
    padding-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
}
.he_ad {
    background-color: #f0ad4e;
    padding: 15px;
    margin: 0px 15px;
}
.h_h {
    border: 2px double #fff;
    padding: 15%;
}
.intro p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    padding: 10%;
    font-size: 14px;
    text-align: justify;
}
.b_c_C {
    border: 1px solid #ccc;
    padding: 20px 10px 20px 14px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}
.b_c_C h2 {
    color: #333333;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top:0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    line-height: 36px;
}
.st_p {
    transition: .33s ease-in;
    box-shadow: 0 0 18px rgba(21, 21, 21, 0.11);
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    font-size: 14px;
    min-height: 380px;
    text-align: justify;
}
.step img {
    margin-bottom: 15px;
}
.st_p h4 {
    line-height: 27px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
.st_p .l_l {
    height: 3px;
    width: 50px;
    background-color:#f0ad4e;
    display: block;
    margin: 15px 0px;
}
.st_p p {
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: justify;
    color: #8D8D8D;
}
.step_r {
    display: inline-block;
    line-height: 28px;
    border-radius: 50%;
    border-width: 100px;
    font-size: 34px;
    color: #ccc;
}
.st_p1 {
    min-height: 320px!important;
}
.st_p2 {
    min-height: 270px!important;
}
.t_step h3 {
    line-height: 27px;
    font-weight: 700;
    font-size: 24px;
    padding: 0px 0px;
    margin: 0;
}
.t_step span {
    height: 3px;
    width: 50px;
    background-color:#f0ad4e;
    display: block;
    margin: 15px 0px;
}
.t_step .ss_s {
    padding: 5%;
}
.a_cc > #accordion .panel-heading {
    background: #333;
    padding:15px;
}
.a_cc > #accordion .panel-title {
    font-size: 16px;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    color: #fff;
    font-weight: 400;
}
.wh_m {
    background-color: #5cb85c;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    text-align: right;
    padding: 3%;
    font-size: 18px;
    min-height: 400px;
}
.w_m {
    background:#f0ad4e;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    text-align: left;
    padding: 3%;
    min-height: 400px;
}
.wh_m h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    padding-bottom: 15px;
    font-weight: 400;
}
.w_m h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    padding-bottom: 15px;
    font-weight: 400;
}
.w_m p {
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease-in;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}
.wh_m p {
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease-in;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}
.cont{
    margin-right:0px!important;
    margin-left:0px!important;
}
.s_p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 50px 0px;
}
.s_p p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}
.s_p h4 {
    line-height: 27px;
    font-weight: 700;
    font-size: 20px;
    padding: 0px 0px;
    margin: 0;
}
.s_p span {
    height: 3px;
    width: 50px;
    background-color:#f0ad4e;
    display: block;
    margin: 15px 0px;
}
.section img {
    width: 90%;
    padding: 30px 0px;
}
.b_c_C_a {
    border-bottom: none;
    border-left: none;
    border-right: none;
}
p {
    word-wrap: break-word;
}
section {
    padding: 30px 0;
    position: relative;
}
.register{
    margin:40px 0px;
    box-shadow: 0 15px 30px rgba(50,50,50,0.12), 0 -1px 30px rgba(50,50,50,0.06);
    -webkit-box-shadow: 0 15px 30px rgba(50,50,50,0.12), 0 -1px 30px rgba(50,50,50,0.06);
    border-top:4px solid #f0ad4e;
    padding:20px 30px;
}
.register h3{
    margin-top:0px;
    margin-bottom:15px;
    text-align:center;
    font-family: gabriola;
    color:#4aa04a;
    font-size:36px;
}
.register .panel{
    border-bottom:1px solid #eee;
    box-shadow:none;
    background: none;
}
.register .form-control{
    height:40px;
    box-shadow:none;
    font-size: 16px;
}
.register label{
    font-size: 16px;
    font-weight:normal;
}
.register .btn-warning{
    margin-top:15px;
    margin-bottom:10px;
}
.register small{
    color:red;
}
.register .nav-tabs{
    border:none;
}
.register > .nav-tabs li{
    width:50%;
    text-align:center;
}
.register > .nav-tabs li a{
    font-size:16px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-right: 0px;
    color:#333;
}
.register > .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color:#f0ad4e;
    border: 1px solid #f0ad4e;
}
.register > .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color:#f0ad4e;
    border: 1px solid #f0ad4e;
}
.login{
    position:relative;
    display:block;
}
.login .icon{
    position: absolute;
    top: 38px;
    color: #f0ad4e;
    z-index: 9;
    left: 15px;
}
.login .form-control{
    padding-left: 40px;
}
#page {
    text-align: center;
    font-size: 16px;
}
.about{
    margin-bottom:30px;
}
.about p{
    color:#8D8D8D;
}
.about h2{
    margin-bottom:5px;
    text-transform:uppercase;
}
.about img{
    margin-bottom:10px;
}
.value h4{
    font-weight:bold;
    margin-top:0px;
}
.value p{
    margin-bottom:40px;
    text-align:justify;
    color:#8D8D8D;
}
.value > .line{
    width: 80px;
    height: 2px;
    background: #f0ad4e;
    display: block;
    margin:0;
    margin-top:20px;
    margin-bottom: 20px;
}
/*** CUSTOM FILE INPUT STYE ***/
.wrap-custom-file {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 0.5rem 1rem;
    text-align: center;
    border: 1px dotted #999;
    border-radius: 4px;
}
.wrap-custom-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    overflow: hidden;
    opacity: 0;
}
.wrap-custom-file label {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    padding: 0 0.5rem;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}
.wrap-custom-file label span {
    display: block;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #777;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}
.wrap-custom-file label .fa {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
    font-size: 4.5rem;
    color: #999;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
    font-weight: inherit;
}

.wrap-custom-file label:hover span, .wrap-custom-file label:hover .fa {
    color: #333;
}
.wrap-custom-file label.file-ok {
    background-size: cover;
    background-position: center;
}
.wrap-custom-file label.file-ok span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.1rem;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
}
.wrap-custom-file label.file-ok .fa {
    display: none;
}
.faq .panel-heading{
    padding: 16px;
    font-size: 16px;
}
.faq .panel-heading a:hover{
    text-decoration:none;
}
.all-contact{
    padding-top:10px;
    margin-bottom:20px;
}
.contact {
    border: 4px solid #ebebeb;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}
.contact:hover {
    box-shadow: 0 1px 20px 9px rgba(0, 0, 0, 0.19);
    transition: all 0.5s ease 0s;
}
.contact-cont {
    max-width: 200px;
    margin: 0 auto;
    padding-top: 60px;
}
.contact-cont i {
    font-size: 40px;
    height: 80px;
    width: 80px;
    background:#f0ad4e;
    color: #fff;
    border-radius: 50%;
    line-height: 80px;
}
.contact-cont p {
    line-height: 20px;
    padding-top: 10px;
    font-size:16px;
    color:#8D8D8D;
}
.contact-form{
    margin-bottom:20px;
}
.contact-form .btn{
    padding:10px 40px;
    font-size:18px;
    text-transform:uppercase;
    display:block;
    margin:0 auto;
}
.contact-form .form-control{
    height:40px;
    font-size:16px;
    box-shadow:none!important;
}
.condition p{
    color:#8D8D8D;
}
.condition ul li, ol li{
    color:#8D8D8D;
}
.agile-right {
    border-left: 1px solid #b4b4b4;
    padding-left: 30px;
    padding-right: 0;
    margin-left: 30px;
}
.bb{
    margin-bottom:10px!important;
}
.blog{
    margin-bottom: 30px;
}
.blog .btn{
    border-radius:0px;
    padding:10px 20px;

}
.blog .pull-right{
    color:#5cb85c;
    font-size:16px;
    margin-top:10px;
}
footer {
    padding: 20px 0px 10px 0px;
    background: #333;
    border-top: 3px solid #f0ad4e;
}
.medium-footer {
    border-top: 1px solid rgba(204, 204, 204, 0.14);
    border-bottom: 1px solid rgba(204, 204, 204, 0.14);
    padding-top:10px;
}
.medium-footer h4{margin-bottom:20px;}
.blog p{
    text-align:justify;
}
footer h4 {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: initial;
    color: #f0ad4e;
    font-weight: bold;
}
footer .list1{
    margin:0;
    padding:0;
    text-align: center;
}
footer .list1 li {
    display: inline-table;
    list-style: none;
    padding: 0 10px 0px 0px;
    border-right: 1px solid #b4b4b4;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 0px;
}
footer .list1 li:last-child{
    border-right:none;
}
footer .list1 li a {
    color: #b4b4b4;
}
footer .list1 li a:hover{
    color: #ccc;
    text-decoration:none;
}
.footer-bottom{
    padding-top: 0px;
    background: #333;
    color: #fff;
    text-align: center;
}
footer .f_content{
    font-size: 14px;
    font-weight: 400;
    padding: 15px 70px 0px 0px;
    margin: 0 0 0px;
    color: #b4b4b4;
}
footer p{
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0px 0px 0px;
    color: #b4b4b4;
}
footer .list {
    margin: 10px 0px;
    padding-left: 0px;
}
.list li:first-child {
    padding: 10px 10px 10px 0px;
}
.list li {
    float: none;
    list-style: none;
    padding: 0 10px 0px 0px;
    margin-bottom: 1px;
    margin-right: 10px;
    margin-left: 0px;
    border-bottom: 1px dotted #333;
    padding-bottom: 10px;
}
.list li:last-child{
    border-bottom:none;
}
.list li a {
    color:#b4b4b4;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease-in;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}
.list li a:hover {
    color: #fff;
    text-decoration: none;
    padding-left: 5px;
}
.social {
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
.social li {
    list-style: none;
    float: left;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    text-align: center;
    line-height: 30px;
    -webkit-line-height: 30px;
    cursor: pointer;
}
.social li a {
    color: #fff;
}
.fb {
    background: #3a589b;
    color: #fff!important;
    margin: 5px;
}
.tw {
    background: #4392d5;
    margin: 5px;
}
.lin {
    background: #1883bb;
    color: #fff!important;
    margin: 5px;
}
.ins {
    background: #bd3381;
    margin: 5px;
}
.google-plus {
    background: #d41d1d;
    margin: 5px;
}
.youtube {
    background: #d62020;
    margin: 5px;
}
footer .form-control{
    height:40px;
    box-shadow:none;
    border:2px solid #5cb85c;
    border-right:none;
    font-size:16px;
    padding-left: 40px;
}

footer .form-control:focus{
    border-color:#5cb85c;
    outline: 0;
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
}

footer .btn{
    height: 40px;
    border: none;
    color: #5cb85c;
    font-size: 24px;
    padding: 0px 18px;
    border:2px solid #5cb85c;
    border-left:none;
}
footer .input-group .msg_icon{
    position:absolute;
    top:10px;
    color:#b4b4b4;
    z-index:99;
    left:15px;
}
.inner{
    padding:10px 15px!important;
    margin-right: 15px;
}
.upload_photo {
    position: relative;
    display: block;
    width: 200px;
    height: 200px !important;
    margin: auto;
}

.upload_photo .dropdown {
    position: absolute;
    z-index: 9;
    top: -26px;
    right: -9px;
}
.upload_photo .dropdown .dropdown-toggle{
    border-radius:50%;
}
.upload_photo_p{
    position: relative;
    display: block;
    margin: auto;
}
.upload_photo_p .dropdown {
    position: absolute;
    z-index: 9;
    top: -16px;
    right: -15px;
}
.upload_photo_p .dropdown .dropdown-toggle{
    border-radius:50%;
}
.dashboard{
    padding:10px 0px 20px 0px;
}
.dashboard h4{letter-spacing:2px;}
.dashboard .nav-tabs{
    border:none!important;
    border-bottom:none!important;
}
.dashboard .nav-tabs > li > a{
    font-size:16px;
    text-transform:uppercase;
    border:none;
    color:#333;
    font-weight: 700;
}
.dashboard .nav-tabs > li.active > a{
    border:none!important;
    border-bottom:2px solid #f0ad4e!important;
}
.dashboard .nav-tabs > li > a:hover{
    background:none;
    border:none!important;
    border-bottom:2px solid #f0ad4e!important;
}
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    position: relative;
    margin: 20px 0px;
    width: 100%;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 1px;
    background-color:#469c46;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0px!important;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius:50%!important;
}
.thumbnail{
    box-shadow:0 15px 30px rgba(50, 50, 50, 0.05), 0 -1px 30px rgba(50,50,50,0.06)!important;
    -webkit-box-shadow:0 15px 30px rgba(50, 50, 50, 0.05), 0 -1px 30px rgba(50,50,50,0.06)!important;
    color: #ababab;
    border: 3px solid transparent!important;
}
.thumbnail:hover{
    text-decoration: none;
    border: 3px solid #f0ad4e!important;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    text-decoration: none;
    color: #ababab;
}
.thumbnail .panel_body{
    padding:5px 12px!important;
    height:200px;
}
.thumbnail .btn-warning{
    background:#ec971f;
    border: none;
    color: #fff;
    border-top: 1px solid #eee;
    border-radius: 0px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
}
.panel_body h4{
    color:#469c46;
}
.panel_body .table{
    margin-bottom:10px;
}
.panel_body .table tr > td{
    border-top:none;
    padding: 4px 0px;
    font-size:14px;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu{
    margin-top: 1px;
}
.navbar-inverse .dropdown-menu > li > a{
    font-size:14px;
    color:#4b4b4b;
    letter-spacing:1px;
    padding:8px 8px;
}
.navbar-inverse .dropdown-menu > li:last-child > a{
    padding-top:5px;
}
.navbar-inverse .dropdown-menu > li > a > i{
    color:#469c46;
    padding-right:2px;
}
.open > .dropdown-toggle.btn-warning{
    background-color:#d58512!important;
    border-color:#d58512!important;
}
.btn-upgrade{
    background:#333;
    color:#fff!important;
    padding-top: 8px!important;
    padding-bottom:8px!important;
    margin:9px 0px!important;
}
.sidebar{
    border-right: 1px solid #eee;
}
.sidebar li{
    padding: 15px 15px;
    background:#eea236;
    color:#fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:bold;
}
.sidebar a {
    padding: 15px 12px;
    border: none;
    font-size: 16px;
    color: #555!important;
    letter-spacing: 1px;
}
.sidebar .active{
    background-color: #f5f5f5!important;
}
.edit-profile{
    margin:30px 0px;
}
.edit-profile .panel-title{
    text-transform:uppercase;
    letter-spacing:1px;
}
.edit-profile .panel-success{
    border-color:rgba(255, 255, 255, 0);
}
.edit-profile .panel-warning{
    border-color:rgba(255, 255, 255, 0);
}
.edit-profile .panel-heading{
    padding:15px 15px;
}
.edit-profile .panel{
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
}
.edit-profile .form-control{
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
    height:40px;
    font-size:16px;
}
.edit-profile label{
    font-size:16px;
    padding-top:8px;
    font-weight:normal;
}
.edit-profile .btn{
    padding:7px 20px;
    font-size:18px;
    margin-right:10px;
}
.edit-profile .panel .panel-body{
    padding:15px 0px;
    border-top: none!important;
}
.more-less {
    float: right;
}
.f_padding{
    padding-bottom: 10px;
}
.d_account{
    margin: 10px 15px;
}
.d_account hr {
    margin-top: 20px;
    margin-bottom: 20px!important;
}
.d_account h3{margin-top:0px;}
.d_account .btn-sm{
    margin-bottom:20px;
}
.brands-list li {
    background: #5cb85c;
    color: #fff;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
.brands-list li a {
    color: #fff;
}
.community-heading {
    font-size: 24px;
    color: #185b0e;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.community-heading {
    margin-top: 20px;
    margin-bottom: 15px;
}
.community-heading:first-child {
    margin-top: 0px;
    margin-bottom: 15px;
}
.community-content p a {
    color: #515151;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.community-content p a i {
    color: #f57c20;
}
.nav_right{
    float: right !important;
    margin-right: -15px;
    padding: 7px 0px;
}
.nav_right .dropdown-menu{
    right: 0;
    left: auto;
}
.nav_right .dropdown-toggle{
    padding-top: 6px!important;
    padding-bottom: 6px!important;
}
.nav_right .dropdown-toggle img{
    height:45px;
    width:45px;
}
.nav_right .dropdown .dropdown-menu{
    min-width: 300px;
    padding: 10px;
}
.nav_right .dropdown .dropdown-menu > li{
    width:69px;
    float:left;
    text-align:center;
    display:block;
}
.nav_right .dropdown .dropdown-menu > li:last-child{
    width:auto;
    float:none;
    text-align:center;
}
.nav_right .dropdown .dropdown-menu .btn-warning{
    margin:4px 0px;
    padding:10px;
    font-size:18px;
    text-transform:uppercase;
    margin-bottom:10px;
}
.nav_right .dropdown .dropdown-menu hr{
    margin:10px 0px;
}
.mobile_nav li{
    float: right;
    margin-top: 2px;
}
.panel_d{
    background:#f0ad4e;
    padding:50px 40px;
    color:#fff;
    line-height:20px;
}
.panel_d h3{
    line-height:30px;
}
.panel_d .btn{
    margin: 18px auto 0;
    display: block;
    width: 80%;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}
.member_ship{
    color: #000;
    font-size: 18px;
}
.member_ship ul{
    padding-left:15px;
}
.member_ship ul li {
    font-size: 15px;
    margin: 11px 0;
    position: relative;
    float: left;
    clear: both;
}
.modal-header {
    background: #f0ad4e!important;
    color: #fff;
}
.pub_pri_photo .nav-tabs{
    border:none;
}
.pub_pri_photo > .nav-tabs li{
    width:50%;
    text-align:center;
}
.pub_pri_photo > .nav-tabs li a{
    font-size:16px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-right: 0px;
    color:#333;
}
.pub_pri_photo > .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color:#f0ad4e;
    border: 1px solid #f0ad4e;
}
.pub_pri_photo > .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color:#f0ad4e;
    border: 1px solid #f0ad4e;
}
.self-profile{
    margin:30px 0px;
}
.self-profile .table tr td{
    border-top:none;
    font-size:14px;
    padding:5px 0px;
}
.photo_link{
    color:#333;
    font-size:16px;
    font-weight:bold;
    padding-top:10px;
    display:block;
}
.photo_link:hover{
    text-decoration:none;
}
.photo_link i{
    color:#5cb85c;
}
.self-profile .panel-title {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.self-profile .panel-heading {
    padding: 15px 15px;
}
.self-profile .table{
    margin-bottom:0px!important;
}
.self-profile .panel {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.self-profile .panel-success {
    border-color: rgba(255, 255, 255, 0);
}
.self-profile .panel-warning {
    border-color: rgba(255, 255, 255, 0);
}
.self-profile .panel{
    margin-bottom:0px;
}
.self-profile .nav-tabs{
    margin-top:-10px;
    border-bottom: 1px solid #eee!important;
}
.self-profile .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border:none!important;
    border-radius: 4px 4px 0 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 15px;
    color:#333;
}
.self-profile .nav-tabs > li > a:hover {
    background:none;
}
.self-profile .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.self-profile .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border:none!important;
    border-bottom:2px solid #eea236!important;
    border-bottom-color:#eea236;
}
.self-profile hr {
    margin-top: 20px;
    margin-bottom: 10px;
}
.self-profile h3{
    color: #469c46;
    font-size:18px;
    margin-top:0px;
}
.profileThumb{
    border-bottom: 1px solid #eee;
}
.tab-content .media{
    border-bottom:1px solid #eee;
    padding: 15px 0px;
    margin-top:0px;
}
.tab-content .media .media-heading{
    margin-bottom:14px;
    color: #469c46;
    margin-top:5px;
    font-size: 16px;
}
.tab-content .media .media-heading a{
    color:#333;
}
.tab-content > .tab-pane > .media, .media-body{
    overflow: inherit!important;
    zoom: 1;
}
.tab-content > .media, .media-body{
    overflow: inherit!important;
    zoom: 1;
}
.panel .list-group {
    margin-bottom: 0px;
}
.inner-panel .panel-heading{
    border-radius:0px!important;
    padding:10px 15px;
}
.all-review{
    padding:30px 0px;
}
.all-review h3{
    margin-top:5px!important;
    color:#f0ad4e;
}
.all-review .media{
    border-bottom:1px solid #eee;
}
.all-review .media-heading{
    color:#5cb85c;
}
.all-review .fa-star{
    color:#f0ad4e;
}
.sidebar .badge{
    color:#fff!important;
    background:#e74c3c!important;
}

.media .media-left{
    position:relative;
}
.media-left .fa-circle{position: absolute;
    left: 2px;
    bottom: -4px;
    color: green;
}
.fa-red{
    color:#e74c3c!important;
}
.divider {
    position: absolute;
    width: 1px;
    background: #ddd;
    top: 0;
    bottom: 0;
    left: 75%;
}
.call{
    font-size:20px;
    color:#185b0f;
    display: block;
}
.user-icon{
    color:#eea236;
}
.message .media{
    padding: 9px 15px;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}
.text-right span {
    padding: 10px;
    border: 1px solid #eee;
    clear: both;
    display: inline-table;
}
.text-left span {
    padding: 10px;
    border: 1px solid #eee;
    clear: both;
    display: inline-table;
}
.chat-list {
    overflow-y: scroll;
    height: 75vh;
    overflow-x:auto;
}
.chatting .message .media {
    border-right:none;
    border-left:none;
    border-bottom:none;
}
.chatting .btn-xs {
    font-size: 16px;
    padding: 0px 10px;
}
.chatting .panel-footer {
    padding: 0px;
    border: none;
}
.chatting .panel-footer .form-control {
    height: 45px;
    border: none;
    border-top: 1px solid #ccc;
}
.chatting .panel-footer .btn {
    background: #fff;
    color: #d9534f;
    font-size: 22px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-right: 0px;
}
.message hr{
    margin-bottom:0px;
}
.message .media .media-heading{
    margin-bottom:5px;
}
.message p{
    margin-bottom:7px;
}
.message h4{
    font-size:20px;
}
.msg-name{
    color:#5cb85c!important;
}
.btn-note{
    background:#fff;
    padding:0px!important;
    color:#333;
    margin:0px!important;
}
.mod-bar{
    background: #fafafa;
    position: relative;
    border-bottom:1px solid #eee;
    padding: 4px 0px;
}
.mod-bar a{color:#333;font-size: 16px;}
.mod-bar .btn:active{
    -webkit-box-shadow:none;
    box-shadow:none;
}
.msg-list{
    background: #f2f2f2;
}
.msg-list ul{
    padding:0;
    margin:0;
}
.msg-list ul li{
    padding:10px 20px;
    list-style:none;
}
.msg-list ul li a{
    color:#333;
}
.filter-icon{
    color: #f0ad4e!important;
    font-size:24px!important;
    padding: 0px 12px!important;
}
.message .modal-body{
    padding:0px 0px;
}
.modal-body .panel-heading{
    padding: 8px 8px;
    background: rgba(70, 70, 70, 0.04);
}
.modal-body .panel-heading h4{
    font-size:14px!important;
}
.modal-body label{
    font-size:14px!important;
}
.modal-header .btn-group .btn{
    padding: 1px 10px;
    font-size: 14px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.modal-body .panel-group{
    margin-bottom:0px;
}
.msg-section{
    margin:30px 0px;
}
.input-filter{
    border:none;
    padding-bottom: 10px;
}
.sm-panel-body{
    padding:10px;
}
.unread{
    font-size:16px;
}
.profile-img{
    position:relative;
    display:block;
}
.photo-icon{
    position: absolute;
    height:60px;
    width:60px;
    background:#fff;
    bottom: 5px;
    left: 5px;
    z-index: 8;
    font-size: 30px;
    line-height: 60px;
    border-top-right-radius: 10px;
    color:#000;
}
.mobile-sidebar a{
    padding: 12px 12px;
    border: none;
    font-size: 16px;
    color: #555!important;
    letter-spacing: 1px;
    border-bottom:2px solid #ccc;
}
.mobile-sidebar a:last-child{
    border-radius:0px;
    border-bottom:1px solid #ccc;
}
.mobile-sidebar li{
    padding: 15px 15px;
    background: #fff;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border-bottom:2px solid #ccc;
}
.setting-section .panel-body{
    padding:15px 0px;
}
.setting-section .table{
    margin:0px 15px;
}
.setting-section .table tr td{
    border-top:none;
    font-size:14px;
    padding:9px 0px;
}
.table .btn-group .btn-sm{
    padding:2px 10px!important;
}

.setting-nav{
    background-color:#333!important;
}
.setting-nav a{
    color:#fff;
}
.setting-nav a h3{
    margin:16px 0px;
}
.setting-nav h4{color:#fff;padding:8px 0px; letter-spacing:1px;}
.view-prof{
    padding:30px 0px;
}
.pay-free{
    padding:30px 0px;
}
.main-img{
    border:1px solid #ccc;
    padding:5px;
}
.main-img img{
    margin-bottom:10px;
}
.new-profile-match .panel-heading{
    text-transform:uppercase;
    letter-spacing:1px;
}
.user-pr-details{
    padding:10px;
    border:1px solid #ddd;
    margin-bottom:20px;
}
.user-pr-details .table{
    margin-bottom:0px;
}
.user-pr-details .table tr td{
    border-top:none;
    padding:5px;
}
.user-pr-details hr{
    margin:12px 0px!important;
}
.user-pr-details .profile-heading{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:1px;
}
.user-pr-details .para{
    margin-top:15px;
}
.para p a{
    color:red;
}
.partner_pref{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: rgba(70, 70, 70, 0.04);
    padding: 9px 11px;
    margin:0px;
}
.partner_pref .panel-title{
    font-size:14px;
}
.p_result{
    color:#d58512;
    font-size:20px;
    margin-bottom:5px;
}
.match{
    font-size:16px;
    margin-bottom:15px;
}
.compatibility-list{
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
}
.compatibility-list:last-child{
    border-bottom:none;
}
.text_right{
    text-align:right;
}
.activity{
    box-shadow: 0px 1px 8px #ccc;
    padding: 10px;
    margin-top: 30px;
}
.activity .nav-tabs{
    border-bottom:1px solid #eee!important;
}
.activity .table > tbody > tr > td{border-top:none;padding:5px;}
.activity-list{
    border-bottom:1px solid #eee;
    margin-right:-10px!important;
    margin-left:-10px!important;
    margin:10px 0px;
}
.activity h4{
    color:#5cb85c;
}
.activity h4{
    color:#5cb85c;
}
.activity h4 .online{
    font-size:14px;
    color:green;
}
.activity h4 .offline{
    font-size:14px;
    color:red;
}
.activity a{
    color: #f0ad4e;
}
.activity a .fa-heart{
    color:red!important;
}
.mutaul-match{
    color:red!important;
}
.tx_right{
    text-align:right;
}
.tx_right .remove{
    font-size:16px;
}
.remove{
    color:#666!important;
}
.activity-list:last-child{
    border-bottom:none;
}
.nav-footer{
    background: #fff;
    padding: 15px;
    border-top: 1px solid #eee;
}
.popup-box {
    background-color: #ffffff;
    border: 1px solid #b0b0b0;
    bottom: 0;
    display: none;
    height: auto;
    position: fixed;
    right: 241px;
    width: 420px;
    z-index: 99;
}
.popup-box .popup-head {
    background-color: #404040;
    clear: both;
    color: #fff;
    display: inline-table;
    font-size: 14px;
    padding: 10px 10px;
    width: 100%;
}
.popup-box .popup-head {
    background-color: #404040;
    clear: both;
    color: #fff;
    display: inline-table;
    font-size: 14px;
    padding: 10px 10px;
    width: 100%;
}
.popup-box .popup-head .popup-head-right {
    margin: 0px -4px 0;
}
.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: none;
    font-size: 14px;
}
.popup-messages {
    padding: 10px 10px;
}


.search-panel > .panel-group .panel-heading + .panel-collapse > .panel-body, .search-panel > .panel-group .panel-heading + .panel-collapse > .list-group{
    border-top:1px solid rgba(221, 221, 221, 0)!important;
}
.search-panel .panel-title{
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: rgba(51, 51, 51, 0.79);
    margin-top: 5px;
}
.reset-result{
    background:none;
}
.stylish-input-group{
    margin-bottom:10px;
}
.search-panel{
    margin-top:30px;
}
.search-panel .form-control{
    box-shadow:none;
}
.search-panel .panel{
    border-radius: 0px!important;
}
.search-panel .chosen-container-multi .chosen-choices{
    padding:3px 5px;
}
.left-tab-heading{
    padding-left:15px;
}
.search_profile{
    margin-top:30px;
}
.sort{
    color:#333;
}
.profile-box{
    border:1px solid rgba(0, 0, 0, .05);
    padding:10px;
    border-bottom:0px;
}
.profile-box:first-child{
    margin-top:10px;
}
.profile-box:last-child{
    border-bottom:1px solid rgba(0, 0, 0, .05);
}
.profile-box .table > tbody > tr > td{
    border:none;
}
.search-panel .panel-body{
    padding:10px 15px 10px 15px;
}
.search-panel .panel-heading {
    padding: 5px 15px;
    background: rgba(70, 70, 70, 0.04);
}
.search-panel label{
    font-size: 13px;
    letter-spacing: 1px;
}
.in-line{
    display:inline-block;
    padding-right:10px;
}
.profile-box h4{
    margin-top:5px;
}
.profile-box h4 a{
    color:#5cb85c;
}
.profile-box .table{
    margin-bottom:8px;
    margin-top:8px;
}
.profile-box h4 .online{
    color:green;
    font-size:14px;
}
.profile-box h4 .offline{
    color:red;
    font-size:14px;
}
.profile-box .table > tbody > tr > td{
    padding:0px;
}
.panel-title span{
    font-size:10px;
    padding: 3px 0px;
}
.search-panel {
    position:relative;
    display:block;
}
.fix-button{
    position:fixed; background:#5cb85c; padding:18px; letter-spacing:1px; right:0; bottom:0; color:#fff; z-index:999; width:100%;
    text-align:center;
    font-size:18px;
}
.s_msg{
    color:#eea236;
    margin-bottom: 10px;
    display: block;
}
.s_msg:hover,.s_msg:focus{
    color:#eea236;
}
.popup-box {
    background-color: #ffffff;
    border: 1px solid #b0b0b0;
    bottom: 0;
    display: none;
    height: auto;
    position: fixed;
    right: 241px;
    width: 320px;
    z-index: 99;
}
.popup-box-on {
    display: block !important;
}
.popup-box .popup-head {
    background-color: #404040;
    clear: both;
    color: #fff;
    display: inline-table;
    font-size: 14px;
    padding: 10px 10px;
    width: 100%;
}
.popup-box .popup-head .popup-head-right {
    margin: 0px -4px 0;
}
.popup-box .popup-messages {
}
.popup-head-left img {
    border: 1px solid #7b7b7b;
    border-radius: 50%;
    width: 44px;
}
.popup-messages h5 {
    font-size: 16px;
    letter-spacing:1px;
    text-transform: uppercase;
    color: #5cb85c;
}
.popup-messages .media{
    margin-bottom:10px;
}
.profession-bg-section {
    width: 100%;
    border-bottom: 0;
    font: italic 13px;
    color: #333;
    padding: 8px 9px 0;
    float: left;
    position: relative;
    background-color: rgba(239, 78, 87, 0.17);
    border-left: 6px solid #ef4e57;
    padding-right: 15px;
}
.profession-bg-section i {
    color: green;
    font-size: 20px;
    padding-left: 20px;
}
.connect{
    margin:0;
    padding:0;
}
.connect li{
    list-style:none;
    float:left;
    margin-right:7px;
    margin-top:15px;
}
.membser-list {
    background: #fff;
    border: 1px solid #bdc2cf;
    width: 100%;
    height: auto;
    float: left;
    box-shadow:1px 3px 3px #c4c7d1;
}
.membser-list .line{
    height: 3px;
    width: 100px;
    background:#5cb85c;
    display: block;
    margin:0px 0px;
    margin-bottom:20px;
}
.membser-list .list-group-item {
    border: none!important;
    padding: 12px 0px;
    letter-spacing: 1px;
}
.membser-list .list-group i {
    padding-right: 10px;
    font-size: 20px;
}
.membser-list .list-group {
    padding-left: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
}
.membser-list .col-sm-8 {
    border-right:1px solid #bdc2cf;
}
.membser-list h4{
    margin-bottom:20px;
}
.nav-sidebar .nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}
.nav-sidebar .nav li a {
    color: #777;
    font-size: 14px;
    padding: 15px 15px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.nav-sidebar .nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 4px solid #f57c20;
    color: #f57c20;
}
.panel-success td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none!important;
    width: 100px;
}
.payment legend {
    font-size: 17px;
    padding-bottom: 15px;
    font-weight: bold;
}
.mem {
    background: #6d7c85;
    clear: both;
    color: #fff;
    padding: 8px;
}
.memimg {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: relative;
    vertical-align: middle;
}
.memimg cite {
    border-radius: 50%;
    display: block;
    height: 54px;
    margin: 3px 0 0 5px;
    overflow: hidden;
    position: relative;
    width: 54px;
    border: 2px solid #fff;
}
.membser-list .nav-pills > li{
    margin-right:10px;
}
.membser-list .nav-pills > li > a{
    padding: 10px 26px;
    color: #333;
    font-size: 18px;
    border: 2px solid #bcc2d0;
}
.membser-list .form-control{
    height:40px;
    box-shadow:none;
    font-size:16px;
}
.membser-list .table > tbody > tr > td{
    border-top:none;
}
.frb-group {
    margin: 15px 0;
}

.frb ~ .frb {
    margin-top: 15px;
}

.frb input[type="radio"]:empty,
.frb input[type="checkbox"]:empty {
    display: none;
}

.frb input[type="radio"] ~ label:before,
.frb input[type="checkbox"] ~ label:before {
    font-family: FontAwesome;
    content: '\f10c';
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 15px;
    font-size: 22px;
}

.frb input[type="radio"]:checked ~ label:before,
.frb input[type="checkbox"]:checked ~ label:before {
    content: '\f058';
}

.frb input[type="radio"] ~ label,
.frb input[type="checkbox"] ~ label {
    position: relative;
    cursor: pointer;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding:15px;
}

.frb input[type="radio"] ~ label:focus,
.frb input[type="radio"] ~ label:hover,
.frb input[type="checkbox"] ~ label:focus,
.frb input[type="checkbox"] ~ label:hover {
    box-shadow: 0px 0px 3px #333;
}

.frb input[type="radio"]:checked ~ label,
.frb input[type="checkbox"]:checked ~ label {
    color: #fafafa;
}

.frb input[type="radio"]:checked ~ label,
.frb input[type="checkbox"]:checked ~ label {
    background-color: #f2f2f2;
}

.frb.frb-default input[type="radio"]:checked ~ label,
.frb.frb-default input[type="checkbox"]:checked ~ label {
    color: #333;
}

.frb.frb-primary input[type="radio"]:checked ~ label,
.frb.frb-primary input[type="checkbox"]:checked ~ label {
    background-color: #ff6000;
}

.frb.frb-success input[type="radio"]:checked ~ label,
.frb.frb-success input[type="checkbox"]:checked ~ label {
    background-color: #ff6000;
}

.frb.frb-info input[type="radio"]:checked ~ label,
.frb.frb-info input[type="checkbox"]:checked ~ label {
    background-color: #ff6000;
}

.frb.frb-warning input[type="radio"]:checked ~ label,
.frb.frb-warning input[type="checkbox"]:checked ~ label {
    background-color: #ff6000;
}

.frb.frb-danger input[type="radio"]:checked ~ label,
.frb.frb-danger input[type="checkbox"]:checked ~ label {
    background-color:#ff6000;
}

.frb input[type="radio"]:empty ~ label span,
.frb input[type="checkbox"]:empty ~ label span {
    display: inline-block;
}

.frb input[type="radio"]:empty ~ label span.frb-title,
.frb input[type="checkbox"]:empty ~ label span.frb-title {
    font-size: 18px;
    font-weight: 100;
    margin: 0px 5px 5px 0px;
    background:none;
    width: 100%;
    letter-spacing:0.5px;
}

.frb input[type="radio"]:empty ~ label span.frb-description,
.frb input[type="checkbox"]:empty ~ label span.frb-description {
    font-weight: normal;
    font-style: italic;
    color: #999;
    margin: 5px 5px 5px 50px;
}

.frb input[type="radio"]:empty:checked ~ label span.frb-description,
.frb input[type="checkbox"]:empty:checked ~ label span.frb-description {
    color: #fafafa;
}

.frb.frb-default input[type="radio"]:empty:checked ~ label span.frb-description,
.frb.frb-default input[type="checkbox"]:empty:checked ~ label span.frb-description {
    color: #999;
}
.payment-wraper{
    background: #faf7e4;
    text-align: center;
    color: #fff;
    height: 50px;
    display: table;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #d5d5d3;
}
.payment-wraper span {
    width: 100%;
    color: #000;
    display: inline-block;
    text-align: left;
    padding: 0px 20px;
    vertical-align: middle;
    line-height: 40px;
    font-size: 15px;
}
.mobile-pay .btn-default{
    margin:15px 0px;
    padding:13px 0px;
    font-size:16px;
}
.user_details .btn-default{
    border:none;
}
.user_details .btn-default.active{
    border:none;
    background:none;
}
body.modal-open {
    overflow: hidden;
}
.pay-action{
    box-shadow:0px 1px 7px #ccc;
    padding:20px;
    text-align:center;
    margin:30px 0px;
}
.pay-action h3{color:#2aa515;}
.pay-action h4{
    line-height:30px;
    margin:20px 0px;
}
.failed h3{color:#ff4f4f!important;}
.list-group-item > .badge {
    float:none!important;
    color: #fff!important;
    background: #e74c3c!important;
}
.panel-sec {
    padding: 8px!important;
}

@media only screen and (min-device-width:320px) and (max-device-width:480px){
    .ne-search-option .form-control {
        height:30px!important;
    }


    .modal_content {
        border:none!important;
        box-shadow:none!important;
        width:100%;
        margin: 0 auto;
    }


    .panel-sec {
        padding: 8px!important;
    }
    .set-membership{
        margin-top:0px!important;
    }
    .modal-content .modal-body .panel-group .panel .panel-collapse .panel-body{
        padding: 8px;
    }
    .modal-body .panel-heading h4 {
        font-size: 14px!important;
    }
    .modal-body .panel-heading {
        padding: 6px 12px;
    }
    .thumbnail .panel_body{
        height:auto;
    }
    .photo-panel .modal-header h4{
        margin-top:0px!important;
    }
    .account-set{
        margin-top:0px!important;
    }
    .account-set .d_account{
        margin-top:0px!important;
    }
    .per_nav{
        position: fixed;
        left: 0;
        top: 70px;
        z-index: 99;
        width: 100%;
        background: #fff;
    }
    .self-profile .tab-content{
        margin-top:0px;
    }
    .msg-section .message .chat_header{
        position:fixed;
        top:61px;
        left:0;
        width:100%;
        z-index:99;
    }
    .dashboard{
        margin-top:50px;
    }
    .pay-action {
        margin-top: 90px;
    }
    .filter-fixed{
        position:fixed;
        left:0;
        top:60px;
        z-index:99;
        width:100%;
        background:#fff;
        padding-top:10px;
        border-bottom: 1px solid #eee;
        padding-bottom: 4px;
    }
    .frb input[type="radio"] ~ label,
    .frb input[type="checkbox"] ~ label {
        padding: 13px 13px;
    }
    .frb input[type="radio"] ~ label:before, .frb input[type="checkbox"] ~ label:before {
        margin-top: -13px;
        right: 15px;
        font-size: 18px;
    }
    .frb input[type="radio"]:empty ~ label span.frb-title, .frb input[type="checkbox"]:empty ~ label span.frb-title {
        font-size: 16px;
        font-weight:bold;
    }
    .frb-group {
        margin: 8px 0;
    }
    .memimg {
        width: 42px;
        height: 42px;
    }
    .memimg cite {
        height: 40px;
        margin: 1px 0 0 0px;
        width: 40px;
        border: 1px solid #333;
    }
    .mem {
        background:#fff;
        border-bottom:1px solid #ccc;
        color: #333;
    }
    .membser-list{
        border:none;
    }
    .membser-list h4 {
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .mobile{
        margin-top: 60px;
    }
    .connect li {
        margin-right:0px;
        margin-top: 0px;
        width: 25%;
    }
    .user-pr-details .table-responsive{
        border:none;
    }
    .membser-list .nav-pills > li > a {
        padding: 8px 10px;
        font-size: 14px;
    }
    .pay-free{
        padding:30px 0px;
        padding-top: 0px;
    }
    .mem {
        margin-top: 62px;
    }
    .s_msg{
        margin-bottom:8px;
        display:block;
    }
    .popup-box {
        width:100%;
        right:0;
    }
    .search-panel .panel {
        -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, .05);
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, .05);
        border-radius: 0px!important;
    }
    .search-panel {
        margin-top: 55px;
    }
    .search_profile .filter{
        padding: 0px 12px;
        letter-spacing: 1px;
        font-size: 24px;
    }
    .search_profile{
        margin-top:30px;
    }
    .search_profile hr{
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .profile-box{
        border-left:none;
        border-right:none;
    }
    .activity h4 {
        margin-top: 4px;
        font-size: 16px;
    }
    .can_panel{
        padding-right:5px!important;
        padding-left:5px!important;
    }
    .can_panel > .un-lock > img{
        top: -8px!important;
    }
    .activity{
        margin-top: 0px;
    }
    .activity .nav-tabs {
        position: fixed;
        z-index: 999;
        background: #fff;
        width: 100%;
        left: 15px;
        top: 60px;
    }
    .activity .tab-content{
        margin-top:40px;
    }
    .activity > .nav-tabs > li > a{
        font-size:14px;
        text-transform: capitalize;
    }
    .tx_right{
        text-align:left;
    }
    .view-prof{
        margin-top:20px;
    }
    .text_right{
        text-align:left;
        margin-top:10px;
    }
    .mobile-nav li{
        width:33.33%;
        text-align:center;
    }
    .per_nav li{
        width:50%;
        text-align:center;
    }
    .all-review {
        padding: 5px 0px;
    }
    .profile_n h3{
        font-size:16px!important;
        color:#000!important;
    }
    .photo-panel h4{
        font-size:16px;
    }
    .pub_pri_photo h4{
        font-size:16px;
        margin-top: -28px;
    }
    .pub_pri_photo{
        margin-top: 32px;
    }
    .pub_pri_photo .nav-tabs {
        border: none;
        margin-top: -15px;
        position: fixed;
        top: 75px;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 99;
    }
    .crop-avatar .btn-success {
        font-size: 16px!important;
        margin-bottom: 0px!important;
    }
    .mobile-panel{
        color: #000!important;
        background-color: #eee!important;
    }
    .mobile-panel > .panel-title{
        font-weight: bold!important;
    }
    .mm{
        margin-top:5px!important;
    }
    .self-profile {
        margin: 0px 0px;
        margin-top:60px;
    }
    .msg-section{
        margin-top:60px;
    }
    .message hr{
        display:none;
    }
    .chatting .panel-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9;
        width: 100%;
    }
    .self-profile .panel-title {
        text-transform:capitalize;
        letter-spacing: 1px;
        font-size:14px;
    }
    .panel_d .btn{
        width: 100%;
    }
    .d_account{
        margin: 10px 15px;
        margin-top: 60px;
    }
    .edit-profile{
        margin-top:60px;
    }
    .dashboard .nav-tabs {
        position: fixed;
        top: 60px;
        background: #fff;
        left: 0;
        z-index: 99;
        width:100%;
    }
    .dashboard .nav-tabs > li {
        text-align:center;
        width:33.33%!important;
    }
    .avatar-wrapper{
        height: 300px!important;
    }
    .agile-right {
        border-left:none;
        padding-left:0px;
        padding-right: 0;
        margin-left:0px;
    }
    .he_ad {
        margin:0px;
    }
    .intro p {
        padding: 20px 0px;
    }
    .st_p1 {
        min-height: 300px!important;
    }
    .st_p2 {
        min-height: 200px!important;
    }
    .value p{
        margin-bottom:20px;
        text-align:justify;
    }
    .register{
        box-shadow:none;
        margin:0px -15px;
        padding: 15px 15px;
        margin-top:60px;
    }
    .login-banner{
        margin-top:0px;
    }
    .forgot-pwd{
        margin-top:60px;
    }
    footer {
        padding: 0px 0px 0px 0px;
        border-top:none;
    }
    footer p{
        margin: 10px 0px 10px 0px;
    }
    .wh_m {
        text-align:center;
    }
    .w_m {
        text-align:center;
    }
    .mobile .btn-warning {
        padding: 10px 25px;
        border-radius: 0px;
        margin: 0 auto;
        display: block;
        width: 90%;
        border-radius: 4px;
        font-size: 24px;
        margin-top: 15px;
    }
    .mobile h2 {
        font: 400 18px/40px gabriola;
        color: #31353d;
        font-size:30px;
        margin-bottom:0px;
    }
    .mobile h1 {
        font: 400 18px/40px gabriola;
        color: #31353d;
        font-size:30px;
        margin-top:10px;
    }
    .no-padding{
        padding:0px!important;
    }
    .chat-list {
        height: auto;
        margin-top:45px;
    }
    .dashes{
        margin-top:120px!important;
    }
}

@media screen and (min-device-width:410px) and (max-device-width:780px) and (orientation : landscape){
    .ne-search-option .form-control {
        height:30px!important;
    }

    .modal_content {
        border:none!important;
        box-shadow:none!important;
        width:100%;
        margin: 0 auto;
    }

    .modal-content .modal-body .panel-group .panel .panel-collapse .panel-body{
        padding: 8px;
    }
    .modal-body .panel-heading h4 {
        font-size: 14px!important;
    }
    .modal-body .panel-heading {
        padding: 6px 12px;
    }
    .thumbnail .panel_body{
        height:auto;
    }
    .photo-panel .modal-header h4{
        margin-top:0px!important;
    }
    .account-set{
        margin-top:0px!important;
    }
    .account-set .d_account{
        margin-top:0px!important;
    }
    .self-profile .tab-content{
        margin-top: 0px;
    }
    .per_nav{
        position: fixed;
        left: 0;
        top: 70px;
        z-index: 99;
        width: 100%;
        background: #fff;
    }
    .msg-section .message .chat_header{
        position:fixed;
        top:61px;
        left:0;
        width:100%;
        z-index:99;
    }
    .edit-profile{
        margin-top:60px;
    }
    .dashboard{
        margin-top:50px;
    }
    .pay-action {
        margin-top: 90px;
    }
    .frb input[type="radio"] ~ label,
    .frb input[type="checkbox"] ~ label {
        padding: 13px 13px;
    }
    .frb input[type="radio"] ~ label:before, .frb input[type="checkbox"] ~ label:before {
        margin-top: -13px;
        right: 15px;
        font-size: 18px;
    }
    .frb input[type="radio"]:empty ~ label span.frb-title, .frb input[type="checkbox"]:empty ~ label span.frb-title {
        font-size: 16px;
        font-weight:bold;
    }
    .frb-group {
        margin: 8px 0;
    }
    .memimg {
        width: 42px;
        height: 42px;
    }
    .memimg cite {
        height: 40px;
        margin: 1px 0 0 0px;
        width: 40px;
        border: 1px solid #333;
    }
    .mem {
        background:#fff;
        border-bottom:1px solid #ccc;
        color: #333;
    }
    .membser-list{
        border:none;
        box-shadow:none;
    }
    .membser-list h4 {
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .mobile{
        margin-top: 60px;
    }
    .connect li {
        margin-right:0px;
        margin-top: 0px;
        width: 25%;
    }
    .user-pr-details .table-responsive{
        border:none;
    }
    .membser-list .nav-pills > li > a {
        padding: 8px 10px;
        font-size: 14px;
    }
    .mem {
        margin-top: 10px;
    }
    .pay-free{
        padding:30px 0px;
        padding-top: 0px;
    }
    .s_msg{
        margin-bottom:8px;
        display:block;
    }
    .popup-box {
        width:100%;
        right:0;
    }
    .search-panel .panel {
        -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, .05);
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, .05);
        border-radius: 0px!important;
    }
    .search-panel {
        margin-top: 55px;
    }
    .search_profile .filter{
        padding: 8px 26px;
        letter-spacing: 1px;
        font-size: 16px;
    }
    .search_profile{
        margin-top:30px;
    }
    .search_profile hr{
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .profile-box{
        border-left:none;
        border-right:none;
    }
    .activity h4 {
        margin-top: 4px;
        font-size: 16px;
    }
    .can_panel{
        padding-right:5px!important;
        padding-left:5px!important;
    }
    .activity{
        margin-top: 0px;
    }
    .activity .nav-tabs {
        position: fixed;
        z-index: 999;
        background: #fff;
        width: 100%;
        left: 15px;
        top: 60px;
    }
    .activity .tab-content{
        margin-top:40px;
    }
    .activity > .nav-tabs > li > a{
        font-size:14px;
    }
    .tx_right{
        text-align:left;
    }
    .view-prof{
        margin-top:20px;
    }
    .text_right{
        text-align:left;
        margin-top:10px;
    }
    .all-review {
        padding: 5px 0px;
    }
    .profile_n h3{
        font-size:16px!important;
        color:#000!important;
    }
    .pub_pri_photo{
        margin-top: 32px;
    }
    .pub_pri_photo .nav-tabs {
        border: none;
        margin-top: -15px;
        position: fixed;
        top: 75px;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 99;
    }
    .photo-panel h4{
        font-size:16px;
        margin-top: -28px;
    }
    .crop-avatar .btn-success {
        width: 50px!important;
        font-size: 16px!important;
        margin-bottom: 0px!important;
    }
    .mobile-panel{
        color: #000!important;
        background-color: #eee!important;
    }
    .mobile-panel > .panel-title{
        font-weight: bold!important;
    }
    .mm{
        margin-top:5px!important;
    }
    .self-profile {
        margin: 0px 0px;
        margin-top:60px;
    }
    .msg-section{
        margin-top:60px;
    }
    .chatting .panel-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9;
        width: 100%;
    }
    .self-profile .panel-title {
        text-transform:capitalize;
        letter-spacing: 1px;
        font-size:14px;
    }
    .panel_d .btn{
        width: 100%;
    }
    .self-profile{
        margin-top:0px;
    }
    .panel_d .btn{
        width: 100%;
    }
    .d_account{
        margin: 10px 15px;
        margin-top: 60px;
    }
    .edit-profile{
        margin-top:0px;
    }
    .dashboard .nav-tabs{
        position: fixed;
        top: 60px;
        background: #fff;
        left: 0;
        z-index: 99;
        width:100%;
    }
    .dashboard .nav-tabs > li {
        text-align:center;
        width:33.33%;
    }
    .avatar-wrapper{
        height: 300px!important;
    }
    .agile-right {
        border-left:none;
        padding-left:0px;
        padding-right: 0;
        margin-left:0px;
    }
    .he_ad {
        margin:0px;
    }
    .intro p {
        padding: 20px 0px;
    }
    .st_p2 {
        min-height: 200px!important;
    }
    .st_p1 {
        min-height: 300px!important;
    }
    .value p{
        margin-bottom:20px;
        text-align:justify;
    }
    .register{
        box-shadow:none;
        margin:0px -15px;
        padding: 15px 15px;
        margin-top:60px;
    }
    .login-banner{
        margin-top:0px;
    }
    .forgot-pwd{
        margin-top:60px;
    }
    footer {
        padding: 0px 0px 0px 0px;
        border-top:none;
    }
    footer p{
        margin: 10px 0px 10px 0px;
    }
    .wh_m {
        text-align:center;
    }
    .w_m {
        text-align:center;
    }
    .mobile .btn-warning {
        padding: 10px 25px;
        border-radius: 0px;
        margin: 0 auto;
        display: block;
        width: 60%;
        border-radius: 4px;
        font-size: 24px;
        margin-top: 15px;
    }
    .mobile h2 {
        font: 400 18px/40px gabriola;
        color: #31353d;
        font-size:30px;
        margin-bottom:0px;
    }
    .mobile h1 {
        font: 400 18px/40px gabriola;
        color: #31353d;
        font-size:30px;
        margin-top:10px;
    }
    .no-padding{
        padding:0px!important;
    }
    .chat-list {
        height: auto;
        margin-bottom:45px;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    footer {
        padding:0px;
    }

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    footer {
        padding:0px;
    }

}