<template>
    <select style="display: none;" :multiple="multiple"><slot></slot></select>
</template>
<script>
    export default {
        props:{
            value: [String, Array],
            multiple: Boolean,
            dispNone: 'display: none;'
        },
        mounted() {
            $(this.$el)
            .val(this.value)
            .chosen()
        .on("change", e => this.$emit('input', $(this.$el).val()))
        },
        updated: function () {
            $("select").hide()
        },
        watch:{
            value(val) {
                $(this.$el).val(val).trigger('chosen:updated');
                this.changeDependentCities(this.$el)
            }
        },
        methods: {
            changeDependentCities(element) {
                var select = $(element).attr("id");
                var value = $(element).val();
                var dependent = $(element).attr('dependent');
                var _token = $('input[name="_token"]').val();

                var output;

                if (dependent == "state") {
                    $("#city").trigger("chosen:updated");
                }
                    
                $.ajax({
                    url: route('ajax.fetchLocation'),
                    method: "POST",
                    data: {
                        select: select,
                        value: value,
                        _token: _token,
                        dependent: dependent
                    },
                    success: function(result) {
                        $('#' + dependent).html('');
                        output = '';
                        output += "<option value='DM'>Doesn't Matter</option>";
                        for (var i = 0; i < result.length; i++) {
                            output += "<option value=" + result[i].id + ">" + result[i].value + "</option>";
                        }
                        $('#' + dependent).append(output);

                        $('#' + dependent).trigger("chosen:updated");
                    }
                });
            }
        }
    }
</script>