<template>
    <div>
        <div class="alert alert-danger" v-if="statusResponse == 0" v-html="messageResponse"></div>
        <div class="tab-content message">
            <div class="panel panel-default">
                <div class="panel-heading chat_header">
                    <a :href="pageLink"><i class="fa fa-chevron-left"></i></a>
                    &nbsp;&nbsp;&nbsp;{{otherUser.first_name}}, {{otherUser.getAge}}, {{otherUser.city}} {{otherUser.country}}
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a :href="otherUser.sendArchiveLnk">Archive Conversation</a></li>
                            <li><a :href="otherUser.sendTrashLnk">Delete Conversation</a></li>
                            <!--<li v-if="otherUser.blockedToFlag < 1 && otherUser.skippedToFlag < 1 && otherUser.blockedByFlag < 1 && otherUser.skippedByFlag < 1 && otherUser.banned == 0 && otherUser.deactivated == 0 && otherUser.deleted_at == null && otherUser.account_show == 'Y' && otherUser.access_grant == 'Y' "><a href="javascript:;" class="unsharePhotos" :data-profileid="otherUser.getEncryptedId">Unshare Photos</a></li>-->

                            <!--<li v-if="otherUser.blockedToFlag < 1 && otherUser.skippedToFlag < 1 && otherUser.blockedByFlag < 1 && otherUser.skippedByFlag < 1 && otherUser.banned == 0 && otherUser.deactivated == 0 && otherUser.deleted_at == null && otherUser.account_show == 'Y' && otherUser.access_grant == 'Y'  "><a href="javascript:;" class="sharePhotos" :data-profileid="otherUser.getEncryptedId">Share Photos</a></li>-->
                            <!--<li v-if="otherUser.blockedToFlag < 1 && otherUser.skippedToFlag < 1 && otherUser.banned == 0 && otherUser.deactivated == 0 && otherUser.deleted_at == null && otherUser.account_show == 'Y' && otherUser.blockedByFlag > 0">-->
                                <!--<a href="javascript:;" class="unblockProfile" :data-profileid="otherUser.getEncryptedId">UnBlock User</a>-->
                            <!--<li v-else>-->
                                <!--<a data-toggle="modal" data-target="#block-user-modal" >Block User</a>-->
                            <!--</li>-->
                            <!--<li v-if="otherUser.blockedToFlag < 1 && otherUser.skippedToFlag < 1 && otherUser.banned == 0 && otherUser.deactivated == 0 && otherUser.deleted_at == null && otherUser.account_show == 'Y' && otherUser.access_grant == 'Y' "><a data-target="#reportUser" data-toggle="modal" href="#" @click="openReportForm">Report User</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="chat-list" id="chatSection" style="">
                    <div v-for="(message,index) in conversation" :key="index">
                        <div class="media" v-if="authUser.id == message.sender_id">
                            <div class="media-body text-right">
                                <span><span v-html="message.message"></span>
                                <br>
                                <small>{{message.created_at}}</small>
                                </span>
                            </div>
                            <div class="media-right">
                                <img :src="authUser.getProfilePic" class="media-object img-circle" style="width:50px">
                            </div>
                        </div>
                        <div v-else>
                            <div class="media text-left">
                                <div class="media-left">
                                    <div>
                                        <a :href="otherUser.profileLink" :target="otherUser.profileTarget">
                                            <img :src="otherUser.getProfilePic" class="media-object img-circle" style="width:50px" />
                                        </a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <span><span v-html="message.message"></span>
                                        <br>
                                        <small>{{message.created_at}}</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="" v-if="otherUser.blockedToFlag < 1 && otherUser.skippedToFlag < 1 && otherUser.banned == 0 && otherUser.deactivated == 0 && otherUser.access_grant == 'Y' && otherUser.deleted_at == null && otherUser.account_show == 'Y'">
                    <div v-if="otherUser.blockedByFlag > 0 || otherUser.skippedByFlag > 0" style="color: #a94442; ">User blocked/hide by you. Please unblock/unhide user first.</div>
                    <div class="panel-footer" style=""><div id="error_msg" style="color: #a94442; display: none; ">Message is Required.</div>
                        <div v-if="authUser.access_grant == 'Y'">
                            <div class="input-group" v-if="otherUser.blockedByFlag > 0 || otherUser.skippedByFlag > 0">
                                <input id="message" name="message" disabled="disabled" type="text" class="form-control" placeholder="Type your message here...">
                                <span class="input-group-btn">
                                    <button class="btn" type="text" disabled="disabled"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                </span>
                            </div>
                            <div class="input-group" v-else>
                                <input id="message" name="message" type="text" class="form-control" placeholder="Type your message here..." v-model="messageTxt" @keyup.enter="sendMessageFn()">
                                <span class="input-group-btn">
                                    <button @click="sendMessageFn()" class="btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="badge badge-pill badge-primary" v-if="typing == true">{{otherUser.first_name}} is typing ...</div>
            <div class="badge badge-pill badge-secondary">{{sendingSts}}</div>
        </div>
        <!-- Models Start -->
        <div class="modal fade head_popup" id="reportUser" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" id="resetPublic" value="reset">×</button>
                        <h4 class="modal-title" id="avatar-modal-label">Are you sure you want to report this user ?</h4>
                        <h4 class="modal-title" style="display: none;color: #fff;" id="success-report-head">Thank You!</h4>
                    </div>

                    <div class="modal-body report" id="report-modal-body">
                        <br>
                        <div id="reportUserForm">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input class="form-control" id="reason" name="reason" placeholder="Reason" type="text"  />
                                    <span id="reason-error" class="help-block1 error-help-block1" style="display: none">The reason field is required.</span>
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" id="description" name="description" placeholder="Description" style="height:100px;"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-md-12 form-group">
                                    <button @click.prevent="sendReportUser()" type="button" class="btn btn-success"> Submit</button>&nbsp;&nbsp;
                                    <button type="button" class="btn btn-setting close" data-dismiss="modal"> Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body report" id="report-modal-body-success" style="display:none;">
                        <br>
                        <p>Your report has been submitted successfully. Admin will review it and will take required action.</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 form-group">
                                <button type="button" class="btn btn-setting close" data-dismiss="modal">Okay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" data-backdrop="" id="block-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center report">
                        <h6 class="modal-title"></h6>
                        <h4>Are you sure you want to block this user ?</h4>
                        <br>
                        <a href="javascript:;" @click="blockProfile()" class="btn btn-success"> Ok</a>&nbsp;&nbsp;
                        <button type="button" class="btn btn-setting" data-dismiss="modal"> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Models end -->
    </div>
</template>

<script type="text/javascript">
    export default {
        props: {
            otherUser: {
                type: Object,
                required: true
            },
            authUser: {
                type: Object,
                required: true
            },
            receiverId: {
                type: Number,
                required: true
            },
            pageType: {
                type: String,
                required: true
            },
            pageLink: {
                type: String,
                required: true
            },
            conversationPageLink: {
                type: String,
                required: true
            },
            filterConversationPageLink: {
                type: String,
                required: true
            }
        },
        computed: {
            unlockImg() {
                return window.App.unlock_img;
            },
            conversationUrl() {
                if(this.pageType == "inbox" || this.pageType == "sent") {
                    return `${this.conversationPageLink}?json`;
                } else if(this.pageType == "filter") {
                    return `${this.filterConversationPageLink}?json`;
                }
            }
        },
        created() {
            this.loadConversations()
        },
        mounted() {
            Echo.private(`messages.${this.getChannelName()}`)
                .listen('MessageEvent', (e) => {
                    //console.log(e)
                    this.loadConversations()
                })
                .listenForWhisper('typing', (e) => {
                    if(e.msg != "") {
                        this.typing = true
                    } else {
                        this.typing = false
                    }
                });
        },
        watch: {
            messageTxt() {
                Echo.private(`messages.${this.getChannelName()}`)
                    .whisper('typing', {
                        msg: this.messageTxt
                    });
            }
        },
        updated() {
            this.scrollDownUp()
        },
        data() {
            return {
                messageTxt: '',
                typing: false,
                channelName: '',
                conversation: [],
                messageResponse: '',
                statusResponse: null,
                sendingSts: ''
            }
        },
        methods: {
            scrollDownUp() {
                let el = $('#chatSection')
                if(navigator.userAgent.match(/(iPod|iPhone|iPad|Android)/)) {
                    window.scrollTo(0,1e10);

                } else {
                    el.scrollTop(el[0].scrollHeight)
                }
            },
            openReportForm() {
                jQuery("#reportUser #success-report-head, #reportUser #report-modal-body-success").hide();
                jQuery("#reportUserForm #reason, #reportUserForm #description").val('');
                jQuery("#reportUser #avatar-modal-label, #reportUser #report-modal-body").show();
            },
            blockProfile() {

                var data = {
                    'profileId': this.otherUser.getEncryptedId,
                    '_token': $('input[name="_token"]').val()
                };

                axios
                    .post(route('block-profile'), data)
                    .then(response => {
                        document.location.reload(true)
                    })
                    .catch(error => console.log(error))

                $("#block-user-modal").modal('hide')
                $("#block-user-modal").removeClass('in')
            },
            sendReportUser() {
                var url = route('report-user');
                var data=[];

                data['reason'] = jQuery("#reportUserForm #reason").val();
                if(data['reason'] == "") {
                    jQuery("span#reason-error").attr('style', 'display:block;color: #a94442!important');
                    jQuery("#reason-error").parent().addClass('has-error');
                    return false;
                }
                data['description'] = jQuery("#reportUserForm #description").val();
                data['profileId'] = this.otherUser.getEncryptedId;

                var _token = $('input[name="_token"]').val();

                var request = {
                    'reason': data['reason'],
                    'description': data['description'],
                    'profileId': data['profileId'],
                    '_token': _token,
                }

                axios
                    .post(url, request)
                    .catch(error => console.log(error))
                    .then(function () {
                        jQuery("#reportUser #avatar-modal-label, #reportUser #report-modal-body").hide();
                        jQuery("#reportUser #success-report-head, #reportUser #report-modal-body-success").show();
                    });

            },
            getChannelName() {
                if (this.authUser.id < this.receiverId) {
                    return this.channelName = this.authUser.id +'.'+this.receiverId
                } else {
                    return this.channelName = this.receiverId +'.'+this.authUser.id
                }
            },
            loadConversations() {
                axios
                    .get(this.conversationUrl)
                    .then( result => {
                        this.conversation = result.data.conversation;
                        this.scrollDown();
                    });
            },
            sendMessageFn() {
                this.sendingSts = "Message sending ...";
                var txtMsg = this.messageTxt;
                this.messageTxt = '';
                if(txtMsg == '') {
                    $('#error_msg').show();
                    return false;
                } else {
                    $('#error_msg').hide();
                }
                var url = route('send-message')
                var _token = $('input[name="_token"]').val();
                var request = {
                    'receiver_id': this.receiverId,
                    'pageType': this.pageType,
                    'message': txtMsg,
                    '_token': _token,
                    'json': ''
                }

                axios
                    .post(url, request)
                    .then( result => {
                        this.messageResponse = result.data.message;
                        this.statusResponse = result.data.status;
                        this.loadConversations();
                        this.scrollDown();
                        this.sendingSts = '';
                    })
                    .catch(error => console.log(error));
            }
        }
    }
</script>

<style>
</style>